<script src="./Script.js"></script>

<template>
  <div
    m-portlet="true"
    @click.prevent="showCollapse($event, stt)"
    class="m-portlet m-portlet--head-sm m-portlet--collapse s--portlet-collapse position-relative"
  >
    <div class="m-portlet__head" :id="'m-portlet__head-' + multi_level_id">
      <div m-portlet-tool="toggle" style="width: 100%; display: flex ;cursor:pointer;">
        <div class="m-portlet__head-caption float-left" style="width: calc(100% - 30px)">
          <div class="m-portlet__head-title">
            <h5 class="m-portlet__head-text s--portlet__head-text">
              <template v-if="stt">{{ stt }}.</template>
              &nbsp;Quản lý {{ label }}
            </h5>
          </div>
        </div>
        <div class="m-portlet__head-tools float-left" style="width: 30px;">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
              <a href class="m-portlet__nav-link m-portlet__nav-link--icon">
                <i class="la la-angle-down"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="m-portlet__body" :id="'m-portlet__body-' + multi_level_id" style="display: none;">
      <div class="row">
        <!--<div v-if="isLoader" class="col-md-12 m-loader m-loader&#45;&#45;brand m-loader&#45;&#45;lg"-->
        <!--style="width: 30px; height: 30px; display: inline-block;"></div>-->
        <div class="col-md-12">
          <div class="s--settings">
            <div class="s--settings-content content_input_table">
              <div class="s--table-multiple-level">
                <vue-nestable
                  v-model="new_data_list"
                  key-prop="id"
                  :threshold="0"
                  children-prop="childrens"
                  :max-depth="1"
                  v-if="new_data_list.length > 0"
                  @input="sortNestedData()"
                >
                  <template slot-scope="{ item }">
                    <div class="s--table-multiple-level-item position-relative">
                      <div class="m-accordion m-accordion--default">
                        <div class="m-accordion__item s-accordion__item">
                          <div
                            class="m-accordion__item-head"
                            :id="multi_level_id + '_item_head_' + item.id"
                            :class="{ 'collapsed': !item.is_edit }"
                          >
                            <span class="m-accordion__item-title">
                              <template v-if="item.option_value">{{ item.option_value }}</template>

                              <template v-else>
                                <em>Chưa có tiêu đề</em>
                              </template>
                            </span>
                          </div>
                          <div
                            class="m-accordion__item-body collapse"
                            :class="{ 'show': item.is_edit }"
                            :id="multi_level_id + '_item_body_' + item.id"
                            role="tabpanel"
                          >
                            <div class="m-accordion__item-content">
                              <form action class="m-form">
                                <div
                                  class="form-group m-form__group"
                                  :class="{'has-danger': item.require || item.unique || server_errors != '' || item.option_value && item.option_value.length > 250}"
                                >
                                  <label
                                    :for="multi_level_id + '_item_name' + item.id"
                                    class="form-control-label s--label"
                                  >
                                    Tên {{ label }}
                                    <span class="m--font-danger">*</span>
                                  </label>

                                  <template
                                    v-if="item.option_value && item.option_value.length > 250"
                                  >
                                    <input
                                      :data-id="item.id"
                                      type="text"
                                      v-model.trim="item.option_value"
                                      class="form-control s--table-multiple-level_item-input"
                                      @keyup="checkValidateItem(item, $event)"
                                      @blur="checkValidateItem(item, $event)"
                                      :id="multi_level_id + '_item_name' + item.id"
                                    />
                                  </template>

                                  <template v-else>
                                    <input
                                      :data-id="item.id"
                                      :disabled="(isDisabled && ( !item.require && !item.unique)) "
                                      type="text"
                                      v-model.trim="item.option_value"
                                      class="form-control s--table-multiple-level_item-input"
                                      @keyup="checkValidateItem(item, $event)"
                                      @blur="checkValidateItem(item, $event)"
                                      :id="multi_level_id + '_item_name' + item.id"
                                    />
                                  </template>

                                  <div
                                    class="form-control-feedback m--font-danger"
                                    v-if="server_errors != ''"
                                  >
                                    <template>{{ server_errors}}</template>
                                  </div>

                                  <div
                                    class="form-control-feedback m--font-danger s--uppercase-first-word"
                                    v-else-if="item.require || item.unique"
                                  >
                                    <template v-if="item.require">Không được để trống trường này.</template>
                                    <template v-if="item.unique">{{ label }} bị trùng.</template>
                                  </div>
                                  <div
                                    class="form-control-feedback m--font-danger s--uppercase-first-word"
                                    v-else-if="item.option_value && item.option_value.length > 250"
                                  >Giới hạn 250 ký tự.</div>
                                  <div v-else class="form-control-feedback m--font-danger">&nbsp;</div>
                                </div>

                                <div class="form-group m-form__group text-right">
                                  <template v-if="item.add_new">
                                    <button
                                      type="button"
                                      class="btn btn-sm btn-link mr-2 m-btn--custom"
                                      @click.prevent="deleteItem(item.id)"
                                    >Hủy bỏ</button>

                                    <button
                                      :class="{'s--btn_disabled': isDisabled ||  item.option_value == '' || item.option_value == null }"
                                      :disabled="isDisabled || item.option_value == '' || item.option_value == null || isLoader"
                                      type="submit"
                                      class="btn btn-sm btn-primary m-btn m-btn--custom"
                                      @click.prevent="saveItem(item)"
                                    >Lưu lại</button>
                                  </template>
                                  <template v-else>
                                    <button
                                      type="button"
                                      class="btn btn-sm btn-link mr-2 m-btn--custom"
                                      @click.prevent="cancelSaveItem(item)"
                                    >Hủy bỏ</button>

                                    <button
                                      :disabled="isDisabled || isLoader || checkDisabledAction(item)"
                                      :class="{'s--btn_disabled': isDisabled || checkDisabledAction(item)}"
                                      type="submit"
                                      class="btn btn-sm btn-primary m-btn m-btn--custom"
                                      @click.prevent="saveItem(item)"
                                    >Cập nhật</button>
                                  </template>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                        <div class="s--table-multiple-level_item-users">
                          <div
                            style="font-weight: 500; font-style: italic;"
                            data-toggle="m-tooltip"
                            data-placement="top"
                            :data-original-title="'Số ' + prefix_full + ' thuộc ' + label"
                          >{{ item.count }}&nbsp;{{ prefix }}</div>
                        </div>

                        <div class="s--table-multiple-level_item-actions" v-if="!isDisabled">
                          <template v-if="item.count || new_data_list.length <= 1">
                            <a
                              href="javascript:;"
                              class="s--table-multiple-level_item-actions-item s--table-multiple-level-delete_item s--btn_disabled"
                            >
                              <i class="la la-trash"></i>
                            </a>
                          </template>
                          <template v-else>
                            <a
                              href="#"
                              class="s--table-multiple-level_item-actions-item s--table-multiple-level-delete_item"
                              @click.prevent="modalDeleteItem(item)"
                              data-toggle="modal"
                              data-target="#deleteItem"
                            >
                              <i class="la la-trash"></i>
                            </a>
                          </template>

                          <template v-if="item.is_edit">
                            <a
                              href="javascript:;"
                              class="s--btn_disabled s--cursor-no-drop s--table-multiple-level_item-actions-item s--table-multiple-level-edit_item"
                            >
                              <i class="la la-pencil"></i>
                            </a>
                          </template>

                          <template v-else>
                            <a
                              href="#"
                              class="s--table-multiple-level_item-actions-item s--table-multiple-level-edit_item"
                              @click.prevent="showEditItem(item)"
                            >
                              <i class="la la-pencil"></i>
                            </a>
                          </template>
                        </div>
                      </div>

                      <vue-nestable-handle :item="item" v-if="!item.add_new">
                        <div class="s--table-multiple-level-item-drag">
                          <div class="s--table-multiple-level-item-drag-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </vue-nestable-handle>
                      <div
                        v-if="isLoader && item.id == selectedId"
                        style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;background: #ffffff8a;z-index: 12;"
                      >
                        <div
                          class="m-loader m-loader--brand m-loader--lg"
                          style="width: 30px; height: 30px; display: inline-block; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%);"
                        ></div>
                      </div>
                    </div>
                  </template>
                </vue-nestable>
                <div class="m--margin-top-15">
                  <template v-if="isDisabled">
                    <span>
                      <i class="la la-plus" style="font-size: 14px;"></i>
                      Thêm {{ label }}
                    </span>
                  </template>
                  <template v-else>
                    <a
                      href="#"
                      class="m-link m-link--primary nt-link"
                      @click.prevent="addNewItem(0)"
                    >
                      <i class="la la-plus" style="font-size: 14px;"></i>
                      Thêm {{ label }}
                    </a>
                  </template>
                </div>
              </div>
            </div>
            <div class="s--settings-info">
              <div class="s--settings-info_icon">
                <i class="la la-info-circle"></i>
              </div>
              <div class="s--settings-info_content">
                <div>- Điều kiện để tác vụ xóa 1 {{ label}} {{ prefix_full }} có hiệu lực là: Số {{ prefix_full }} đang thuộc {{ label}} đó phải bằng 0.</div>
                <div>- Kéo thả dòng để sắp xếp thứ tự.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade s--modal-confirm" id="deleteItem" v-if="selectedItem">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="la la-times"></i>
              </span>
            </button>
            <div class="message text-center">Xóa {{ label }} này?</div>
            <div class="text-right">
              <button
                type="button"
                class="btn btn-link mr-2 m-btn--custom"
                data-dismiss="modal"
              >Hủy bỏ</button>
              <button
                type="button"
                class="btn btn-primary"
                @click.prevent="deleteItem(selectedItem)"
              >Xóa</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade s--modal-confirm" id="deleteItemConfirmInfo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="la la-times"></i>
              </span>
            </button>
            <div class="message text-center">
              Không thể xóa {{ label }}
              <br />
              <span
                style="font-size:13px;"
              >Bạn cần chuyển tất cả {{ prefix_full }} sang {{ label }} khác trước khi xóa.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="(isLoadData || isDeleleAttribute) && clickCollapse == stt"
      style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;background: #ffffff8a;z-index: 12;"
    >
      <div
        class="m-loader m-loader--brand m-loader--lg"
        style="width: 30px; height: 30px; display: inline-block; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%);"
      ></div>
    </div>
  </div>
</template>
