.scheduler-box {
  border: 1px solid #D9DDE8;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #444F78;
  padding: 20px 0;
  cursor: pointer;

  img {
    width: 100%;
    padding: 0 20px;
  }

  &.disabled {
    pointer-events: none
  }

  &.selected {
    border: 2px solid #FF8A00
  }
}

button {
  &:disabled {
    opacity: .4;
  }
}

.btn-reset {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0px, -50%);
}