<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div class="nt-note">
    <div style="position: relative;">
      <form class="m-form m--margin-bottom-20 m-form--state nt-note-form">
        <div class="form-group m-form__group">
          <template
            v-if="accessible( userCheckAddOn, permission_service, permission_action, userCurrentPermissions) && !deleted_at"
          >
            <vue-editor
              data-vv-scope="note"
              :class="{ 'has-danger': errors.has('note.content') }"
              v-validate="{ required: true, max: '1025' }"
              :editorToolbar="editorInfoToolbar"
              :editorOptions="editorOptions"
              name="content"
              v-model="note.content"
              placeholder="Nhập nội dung..."
            ></vue-editor>
            <div class style="width: 100%; display: inline-block;">
              <div
                style="width: calc(100% - 120px); float: left;"
                class="form-control-feedback m--font-danger"
              >
                <div v-if="errors.has('note.content')">{{ errors.first('note.content') }}</div>
                <div v-else>
                  <template
                    v-if="server_errors && server_errors['content']"
                  >{{ server_errors['content'][0] }}</template>
                  <template v-else>&nbsp;</template>
                </div>
              </div>
              <p
                style="width: 120px; float: left;"
                class="s--counter"
                v-if="note.content && (1025 - note.content.length) > 0"
              >Còn {{1025 - note.content.length}} ký tự</p>
            </div>
          </template>
          <template v-else>
            <vue-editor
              :editorToolbar="editorInfoToolbar"
              :editorOptions="editorOptions"
              disabled
              placeholder="Nhập nội dung..."
            ></vue-editor>
          </template>
        </div>
        <div class="form-group m-form__group">
          <template
            v-if="accessible( userCheckAddOn, permission_service, permission_action, userCurrentPermissions) && !deleted_at"
          >
            <div class="input-file input-file-sm input-file-outline input-file nt-note-upload-file">
              <label @click="showPopupUpload()">
                <i class="la la-paperclip"></i> Đính kèm files
              </label>
              <input
                :id="'uploadImagesButton'+type"
                style="display:none;"
                accept=".png, .jpg, .jpeg, .gif, .pdf, .txt, .doc, .docx, .xls, .xlsx"
                ref="uploaFilesNote"
                @change="changeFiles()"
                type="file"
                class="customer-input-file"
                multiple="multiple"
              />
            </div>
          </template>
          <template v-else>
            <div class="input-file input-file-sm input-file-outline input-file nt-note-upload-file">
              <label style="pointer-events: none;">
                <i class="la la-paperclip"></i> Đính kèm files
              </label>
            </div>
          </template>

          <div>
            <ul
              class="list-unstyled"
              v-if="filesPreview && filesPreview.length > 0"
              style="display: inline-block; width: 100%;"
            >
              <li
                v-for="(file, indexA) in filesPreview"
                :key="indexA"
                style="width: 50px; float: left; margin-right: 10px; text-align: center;"
              >
                <div>
                  <img
                    :src="require('@/assets/imgs/icon/' + file.url)"
                    style="width: 30px; height: 30px;"
                  />
                </div>
                <div
                  style="word-break: break-word;"
                >{{ file.original_name ? file.original_name : file.name }}</div>
              </li>
            </ul>
          </div>

          <div class="form-control-feedback m--font-danger">&nbsp;</div>
        </div>
        <div class="text-left d-inline-flex">
          <!--v-if="accessible( userCheckAddOn, permission_service, permission_action, userCurrentPermissions) && !deleted_at"-->
          <template
            v-if="accessible( userCheckAddOn, permission_service, permission_action, userCurrentPermissions) && !deleted_at"
          >
            <button
              :class="{'nt-button-disabled' : errors.any() || isDisabled || isLoader}"
              :disabled="errors.any() || isDisabled || isLoader"
              class="nt-button nt-button-warning"
              @click.prevent="createNote('note')"
            >Lưu lại</button>
            <button
              v-if="note.content && note.content.length > 0 || files && files.length > 0"
              class="nt-button nt-button-secondary"
              @click.prevent="cancelCreateNote()"
            >Làm lại</button>
          </template>
          <template v-else>
            <a
              href="javascript:;"
              data-toggle="m-tooltip"
              :data-original-title="titleNotPermisson"
              data-html="true"
              class="nt-button nt-button-warning nt-button-not-permisson"
            >Lưu lại</a>
          </template>
        </div>
      </form>
    </div>

    <div class="box-search-notes" v-if="notes && notes.length > 0">
      <div class="m-portlet__body-head-top-right">
        <div class="m--margin-right-10 m--margin-top-40">
          <h5>
            Lịch sử ghi chú
            <small>({{ notes.length }})</small>
          </h5>
        </div>
      </div>
    </div>

    <div
      class="m--margin-bottom-20 m--margin-top-20 nt-note-history"
      v-if="notes && notes.length > 0"
    >
      <div class style="max-height: 380px; overflow-y: auto;">
        <div class="m-timeline-2 s-timeline">
          <div class="m-timeline-2__items nt-note-history-items">
            <div
              class="m-timeline-2__item nt-note-history-item"
              v-for="(note, index) in notes"
              :key="index"
              style="width: 100%;"
            >
              <div class="m-timeline-2__item-cricle nt-note-history-item-circle"></div>
              <div class="m-timeline-2__item-text s-note">
                <div class="info-line1" style="display: inline-block; margin-bottom: 0;">
                  <div class="s-note__time">{{ utils.formatDateTimeDefault(note.created_at) }}</div>
                </div>
                <div class="info-line2">
                  <div class="nt-note-history-content" v-html="note.content"></div>
                </div>
                <div
                  class="info-line3"
                  style="display: flex;  align-items: center; margin-top: 10px;"
                >
                  <div class="nt-note-history-detail-content">
                    <button
                      data-toggle="modal"
                      :data-target="'#note_detail' + index"
                      class="nt-button nt-button-secondary nt-button-small"
                      @click.prevent="setNoteIndex(index)"
                    >Xem chi tiết</button>
                  </div>
                  <div class="nt-note-history-file" v-if="note.files && note.files.length > 0">
                    <i class="la la-paperclip"></i>
                    {{ note.files.length }} files đính kèm
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade s--modal-confirm" id="note_upload_files_warning">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="la la-times"></i>
              </span>
            </button>
            <div class="message text-center form-control-feedback m--font-danger">
              <div v-if="files && files.length > filesUploadMax">
                Được đính kèm tối đa 5 file.
                <br />Vui lòng chọn lại file.
              </div>
              <div v-else-if="filesUploadMaxSizeError">
                Dung lượng mỗi file phải dưới 10Mb.
                <br />Vui lòng chọn lại file.
              </div>
              <div v-else-if="filesUploadAcceptError">
                Định dạng file được hỗ trợ gồm: ảnh (JPG, IPEG, PNG, GIF); Word (.doc, .docx) ; Excel (.xls, .xlsx) ; PDF ; Text (.txt).
                <br />Vui lòng chọn lại file.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      :id="'note_detail' + noteIndex"
      class="modal s--modal s--note-detail"
      v-if="noteIndex != null"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="z-index: 1; background-color: #fff;">
            <h3 class="modal-title">Chi tiết ghi chú</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="la la-times"></i>
              </span>
            </button>
          </div>
          <div class="modal-body" style="max-height: calc(100vh - 115px);">
            <div>
              <h5>{{ utils.formatDateTimeDefault(notes[noteIndex].created_at) }}</h5>
              <div v-html="notes[noteIndex].content"></div>
            </div>
            <div
              style="margin-top: 20px;"
              v-if="notes[noteIndex].files && notes[noteIndex].files.length > 0"
            >
              <h5>
                File đính kèm
                <small>({{ notes[noteIndex].files.length }})</small>
              </h5>
              <ul class="list-unstyled" style="padding-top: 5px;">
                <li
                  style="margin-bottom: 10px;"
                  v-for="(file, indexB) in notes[noteIndex].files"
                  :key="indexB"
                >
                  <!-- <a target="_blank" :href="file.path_url" :download="file.path_url" type="application/octet-stream" style="display: flex; width: 100%; color: #575962;"> -->
                  <a
                    href="#"
                    @click.prevent="downloadFile(file.id)"
                    style="display: flex; width: 100%; color: #575962;"
                  >
                    <div style="width: 45px; float: left;">
                      <img
                        :src="require('@/assets/imgs/icon/' + file.url)"
                        style="width: 30px; height: 30px;"
                      />
                    </div>
                    <div style="width: calc(100% - 75px); float: left; padding: 0 5px;">
                      <div
                        style="max-width: 100%; overflow: hidden;"
                      >{{ file.original_name ? file.original_name : file.name }}</div>
                      <div style="color: #A1A7BB; font-size: 12px;">{{ file.size }}</div>
                    </div>
                    <div
                      class="s--icon-download"
                      style="width: 20px; float: left; text-align: right; color: #A1A7BB;"
                    >
                      <i class="la la-download"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
