.input-file-link label {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.input-file-link:hover label {
  background-color: transparent !important;
  border: none !important;
  color: #00a4bd !important;
}

.s-timeline .info-line2 {
  max-height: 60px;
  overflow: hidden;
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  -o-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.s-timeline .info-line2 p {
  margin-bottom: 0;
}

p {
  word-break: break-all;
}

.s--note-detail ul li a:hover .s--icon-download i {
  color: #444f78;
}