<script src="./Script.js"></script>

<template>
  <div>
    <div
      class="modal s--modal fade nt--modal-confirm-choice"
      data-backdrop="static"
      data-keyboard="false"
      id="createAccountEducation"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!--<h3 class="nt&#45;&#45;modal-confirm-choice-title">-->
            <!--Thông báo-->
            <!--</h3>-->
            <div class="nt--modal-confirm-choice-content">
              <div class="nt--modal-confirm-choice-content-title-top">
                <template
                  v-if="is_created_multiple"
                >Bạn có chắc chắn muốn tạo tài khoản, sử dụng ứng dụng Nỏ Thần trên điện thoại, cho {{ total_created }} học viên?</template>
                <template v-else>
                  Bạn có chắc chắn muốn tạo tài khoản, sử dụng ứng dụng Nỏ Thần trên điện thoại, cho học viên
                  <span class="nt-color-warning">{{ student_name }}</span>?
                </template>
              </div>
              <div
                class="nt--modal-confirm-choice-content-title-bottom nt-color-warning"
                v-if="!is_create_by_detail_customer"
              >Hệ thống chỉ tạo tài khoản cho những học viên chưa có tài khoản và đã có email.</div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="nt-button nt-button-secondary nt-button-modal"
              data-dismiss="modal"
            >Hủy bỏ</button>
            <button
              @click.prevent="createAccountEducation()"
              type="submit"
              class="nt-button nt-button-warning nt-button-modal"
              data-dismiss="modal"
            >Đồng ý</button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal s--modal fade nt--modal-confirm-choice"
      data-backdrop="static"
      data-keyboard="false"
      id="messageCreateAccountEducation"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="nt--modal-confirm-choice-content">
              <div class="nt--modal-confirm-choice-content-title-top">
                <template v-if="is_create_by_detail_customer">
                  Bạn đã tạo thành công tài khoản sử dụng ứng dụng Nỏ Thần trên điện thoại cho học viên
                  <span class="nt-color-warning">{{ student_name }}</span>.
                  <br />Nỏ Thần đã gửi thông tin tài khoản tới email của bạn và học viên.
                </template>
                <template v-else>
                  Bạn đã tạo thành công tài khoản sử dụng ứng dụng Nỏ Thần trên điện thoại cho {{ totalSuccess }} học viên.
                  <br />Nỏ Thần đã gửi thông tin tài khoản tới email của bạn và học viên.
                </template>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="nt-button nt-button-warning nt-button-modal"
              data-dismiss="modal"
            >Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
