<script src="./Script.js"></script>

<template>
  <div class="nt-customer-select" :id="'nt-customer-select-' + position_select">
    <div class="nt-customer-select-main" @click.prevent="toggleDropdown($event)">
      <input
        v-if="is_search"
        type="text"
        class="nt-customer-select-textsearch"
        :placeholder="placeholder && placeholder.length > 0 ? placeholder : 'Nhập để tìm kiếm'"
        @focus="focusToInputSearch($event)"
        @blur="blurToInputSearch($event)"
        @keyup="searchValueInOptions($event)"
        @input="$emit('input', $event.target.value)"
      />
      <span class="nt-customer-select-textshow" v-if="!is_search"></span>
      <i class="icon icon-down-arrow-1 nt-customer-select-main-icon"></i>
    </div>
    <div class="nt-customer-select-dropdown">
      <ul
        v-if="data && data.length > 0 || current_object"
        class="nt-customer-select-dropdown-main"
        :id="'nt-customer-select-dropdown-main' + position_select"
      >
        <li
          v-if="current_object && current_object.customer_id"
          class="nt-customer-select-dropdown-item"
          :class="!return_object && current_object[index] === value || return_object && current_object[index] === value[index] ? 'nt-active-item' : ''"
          @click.prevent="selectedItem(current_object)"
        >
          <slot
            class="nt-customer-select-dropdown-item-text"
            name="option"
            v-bind:option="current_object"
          >{{current_object[label]}}</slot>
        </li>
        <template v-for="(item, index) in data">
          <li
            v-if="!return_object"
            :key="index"
            class="nt-customer-select-dropdown-item"
            :class="!return_object && item[index] === value || return_object && item[index] === value[index] ? 'nt-active-item' : ''"
            @click.prevent="selectedItem(item)"
          >
            <slot
              class="nt-customer-select-dropdown-item-text"
              name="option"
              v-bind:option="item"
            >{{item[label]}}</slot>
          </li>
          <template v-else>
            <li
              v-if="current_object && current_object.customer_id && current_object.customer_id !== item.customer_id"
              :key="index"
              class="nt-customer-select-dropdown-item"
              :class="!return_object && item[index] === value || return_object && item[index] === value[index] ? 'nt-active-item' : ''"
              @click.prevent="selectedItem(item)"
            >
              <slot
                class="nt-customer-select-dropdown-item-text"
                name="option"
                v-bind:option="item"
              >{{item[label]}}</slot>
            </li>
          </template>
        </template>

        <li
          v-if="is_load_more_data"
          style="border:none;"
          class="nt-customer-select-dropdown-item-no-items"
        >
          <div
            class="m-loader m-loader--brand m-loader--lg"
            style="width: 30px; height: 30px; display: inline-block;"
          ></div>
        </li>
        <li v-if="noItemSearch" class="nt-customer-select-dropdown-item-no-items">
          <span>Không tìm thấy {{text}}</span>
        </li>
      </ul>
      <span v-else class="nt-customer-select-dropdown-no-items">Không tìm thấy {{text}}</span>
      <div v-if="is_add_new" class="nt-customer-select-dropdown-item-add-new">
        <a
          href="javascript:;"
          data-toggle="modal"
          @click.prevent="hideDropdown()"
          :data-target="model_addnew"
        >
          <i class="icon icon-plus"></i>
          &nbsp; {{label_text}}
        </a>
      </div>
    </div>
  </div>
</template>
