<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div>
    <Loading :is_loader="isLoading" />
    <div class="preview-header text-center">Xem trước mẫu email</div>
    <div v-html="getPreview()"></div>
  </div>
</template>