.nt-portlet {
  .nt-portlet__body-email-scheduler {
    height: calc(100vh - 60px - 62px - 33px - 23px - 21px);
    overflow: hidden;

    @media screen and (max-width: 768px) {
      height: auto;
      max-height: 100%;
    }
  }
}

.scroll-box {
  max-height: calc(100vh - 60px - 62px - 33px - 73px - 21px);
  overflow-y: auto;
  padding-bottom: 40px;
}

.nt-box-right {
  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }
}

.scroll-box {
  max-height: calc(100vh - 60px - 62px - 33px - 73px - 21px);
  overflow-y: auto;

  @media screen and (max-width: 768px) {
    max-height: 100%;
  }
}

@media screen and (max-width: 768px) {

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}