<script src="./Script.js"></script>

<template>
  <textarea
    class="form-control"
    v-model.trim="newValue"
    @input="$emit('input', newValue)"
    @blur="$emit('blur', newValue)"
    @keyup="$emit('keyup', newValue )"
    @focus="$emit('focus', newValue)"
  ></textarea>
</template>
