<style src="./Style.scss" lang="scss"></style>
<script src="./Script.js"></script>

<template>
  <div
    data-backdrop="static"
    data-keyboard="false"
    class="modal s--modal-right s--modal s--modal-customer-contact-add-modal animated fadeInRight"
    id="addCustomerContact"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            <i class="icon-add-contact nt-modal-title-icon"></i>Thêm liên hệ
          </h3>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="closeInfoCustomer()"
          >
            <span aria-hidden="true">
              <i class="la la-times"></i>
            </span>
          </button>
        </div>

        <div
          class="modal-body"
          data-scrollable="true"
          data-scrollbar-shown="true"
          style="padding: 0;"
        >
          <div
            id="alert-user-contact"
            class="alert fade show nt-alert alert-dismissible"
            role="alert"
          >
            <div class="modal-body-top">
              <div class="container-fluid">
                <div class="user-container" style="padding: 20px 0;">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="user-info-img" style="margin: 0 auto; position: relative">
                        <template v-if="customerContact.avatar_url">
                          <img
                            class="img-fluid"
                            :src="customerContact.avatar_url"
                            alt
                            style="border-radius: 50%; width: 75px; height: 75px;"
                          />
                        </template>
                        <template v-else>
                          <img
                            class="img-fluid"
                            src="@/assets/imgs/avatar.png"
                            alt
                            style="border-radius: 50%"
                          />
                        </template>
                        <span class="contact-primary" v-if="customerContact.is_main_contact === 1">
                          <i class="fa fa-star"></i>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="user-info-detail">
                        <div>
                          <a
                            :href="getRouteLink('customerDetails', {customer_id: customerContact.id})"
                            style="position: relative"
                          >
                            <span>{{ customerContact.full_name }}</span>
                          </a>
                          <!--<a :href="customerLinkDetail" target="_blank" style="position: relative">-->
                          <!--{{ customerContact.full_name }}-->
                          <!--<i class="icon icon-external-link-01"></i>-->
                          <!--</a>-->
                          <p>{{ customerContact.phone }}</p>
                          <p>{{ customerContact.email }}</p>
                        </div>
                        <div class="alert-close">
                          <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closeInfoCustomer()"
                          >
                            <img src="@/assets/imgs/icon/btn-icon-close.png" />
                            <!--<span aria-hidden="true"><i class="la la-close"></i></span>-->
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form class="m-form m-form--state" style="padding: 20px">
            <div
              class="form-group m-form__group"
              :class="{ 'has-danger': errors.has('contact.full_name') }"
            >
              <label for="full_name" class="form-control-label s--label nt-label">
                Tên liên hệ
                <span class="m--font-danger">*</span>
              </label>
              <v-select
                :options="customerContactOfTeam"
                :label="'full_name'"
                placeholder="- Tìm và chọn liên hệ -"
                v-validate="{ required: true, max: 250 }"
                id="full_name"
                name="full_name"
                :maxHeight="'280px'"
                @input="setSelected"
                @search:blur="onSearchBlur"
                :value="customerContact.full_name"
                :create-option="full_name => ({full_name: full_name})"
                :dropdownClasses="'nt-customer-select-dropdown nt-show-dropdown'"
                taggable
                :disabled="isSelectContactInListCustomer || isContactExist"
                :class="{'nt-button-disabled': isSelectContactInListCustomer || isContactExist}"
                @search="onSearchFullName"
                :filterable="false"
                data-vv-scope="contact"
                :on-change="onChangeInputName"
                :clearSearchOnSelect="true"
              >
                <template slot="option" slot-scope="option">
                  <b
                    v-if="option.full_name"
                    style="color:#444F78; font-size : 14px; font-weight: 500"
                  >
                    {{option.full_name
                    | truncateWords }}
                  </b>&nbsp;
                  <br />
                  <span
                    v-if="option.sku"
                    style="color:#A1A7BB; font-size: 14px; font-weight: 400"
                  >{{option.sku | truncateWords}}</span>
                  <span v-else style="font-size: 14px; font-weight: 400; color:#A1A7BB;">
                    <i class="icon-add-user"></i> Thêm tên liên hệ này.
                  </span>
                </template>
                <li slot="no-options" class="no-options">
                  <span slot="no-options">Không tìm thấy liên hệ.</span>
                </li>
              </v-select>
              <div
                class="form-control-feedback m--font-danger"
                v-if="errors.has('contact.full_name')"
              >{{ errors.first('contact.full_name') }}</div>
              <div style="padding-top: 10px">
                <label
                  class="nt-checkbox nt-checkbox-primary"
                  :class="{'nt-button-disabled':isContactExist}"
                >
                  <input
                    @click="checkExistsCustomerContactMain()"
                    type="checkbox"
                    v-model="customerContact.is_main_contact"
                    :disabled="isContactExist"
                    :class="{'nt-button-disabled':isContactExist}"
                    name="is_main_contact"
                    data-vv-scope="contact"
                  /> Đặt làm liên hệ chính
                  <span
                    class="nt-checkbox-symbol"
                    :class="{'nt-button-disabled':isContactExist}"
                    style="border: 1px solid #CCD2E2"
                  ></span>
                </label>
                <div v-if="customerContactMainIsExists">
                  <div class="s--alert m-alert m-alert--outline alert nt-alert-main-contact">
                    Liên hệ này sẽ làm liên hệ chính thay
                    <span
                      class="m--font-bolder m--font-primary"
                    >{{ mainContact.full_name }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="form-group m-form__group"
              :class="{ 'has-danger': errors.has('contact.phone') ||  contactErrors['phone'] || isDuplicatePhoneNumberWithCurrentCustomer }"
            >
              <label for="phone" class="form-control-label s--label nt-label">Số điện thoại</label>

              <v-select
                :options="customerContactPhone"
                :label="'phone'"
                :maxHeight="'280px'"
                :filterable="false"
                :disabled="isSelectContactInListCustomer || isContactExist"
                :class="{'nt-button-disabled': isSelectContactInListCustomer || isContactExist}"
                :create-option="phone => ({phone: phone})"
                :dropdownClasses="'nt-customer-select-dropdown nt-show-dropdown'"
                placeholder="- Tìm và chọn -"
                v-validate="{ regex: helpers.regexPhone() }"
                id="phone"
                name="phone"
                data-vv-scope="contact"
                @input="setSelected"
                @search="onSearchPhone"
                @search:blur="onSearchBlur"
                v-model="customerContact.phone"
                taggable
                :clearSearchOnSelect="true"
                :on-change="inputChangePhone"
              >
                <template slot="option" slot-scope="option">
                  <b
                    v-if="option.phone"
                    style="color:#444F78; font-size : 14px; font-weight: 500"
                  >{{option.phone | formatPhone }}</b>&nbsp;
                  <br />
                  <span
                    v-if="option.full_name"
                    style="color:#A1A7BB; font-size: 14px; font-weight: 400"
                  >{{option.full_name | truncateWords}}</span>
                  <span v-else style="font-size: 14px; font-weight: 400; color:#A1A7BB;">
                    <i class="icon-add-user"></i> Thêm số điện thoại này.
                  </span>
                </template>
                <li slot="no-options" class="no-options">
                  <span slot="no-options">Không tìm thấy liên hệ.</span>
                </li>
              </v-select>
              <div
                class="form-control-feedback m--font-danger"
                v-if="errors.has('contact.phone')"
              >{{ errors.first('contact.phone') }}</div>
              <div
                class="form-control-feedback m--font-danger"
                v-if="contactErrors['phone']"
              >Số điện thoại bị trùng.</div>
              <div
                class="form-control-feedback nt-feedback-warning"
                v-if="isDuplicatePhoneNumberWithCurrentCustomer"
              >
                Số điện thoại trùng với khách hàng
                <a
                  :href="getRouteLink('customerDetails', {customer_id: customer_id})"
                >
                  <span>{{ currentCustomerFullName }}</span>
                </a>

                <!--<a :href="currentCustomerLink" target="_blank">{{ currentCustomerFullName }}</a>-->
              </div>
              <div
                class="form-control-feedback m--font-danger"
                v-else-if="!errors.has('contact.phone')"
              ></div>
            </div>

            <div
              class="form-group m-form__group"
              :class="{ 'has-danger': errors.has('contact.email') ||  contactErrors['email'] || isDuplicateEmailWithCurrentCustomer  }"
            >
              <label for="email" class="form-control-label s--label nt-label">Email</label>
              <v-select
                :options="listCustomerEmail"
                :label="'email'"
                :maxHeight="'280px'"
                :filterable="false"
                :disabled="isSelectContactInListCustomer || isContactExist"
                :class="{'nt-button-disabled': isSelectContactInListCustomer || isContactExist}"
                :create-option="email => ({email: email})"
                placeholder="- Tìm và chọn -"
                v-validate="{  regex: helpers.regexEmail(),  max: 250 }"
                id="email"
                name="email"
                @input="setSelected"
                @search="onSearchEmail"
                @search:blur="onSearchBlur"
                data-vv-scope="contact"
                v-model="customerContact.email"
                taggable
                :clearSearchOnSelect="true"
                :on-change="inputChangeEmail"
              >
                <template slot="option" slot-scope="option">
                  <b v-if="option.email" style="color:#444F78; font-size : 14px; font-weight: 500">
                    {{option.email
                    | truncateWords}}
                  </b>&nbsp;
                  <br />
                  <span
                    v-if="option.full_name"
                    style="color:#A1A7BB; font-size: 14px; font-weight: 400"
                  >{{option.full_name | truncateWords}}</span>
                  <span v-else style="font-size: 14px; font-weight: 400; color:#A1A7BB;">
                    <i class="icon-add-user"></i> Thêm email liên hệ này.
                  </span>
                </template>
                <li slot="no-options" class="no-options">
                  <span slot="no-options">Không tìm thấy liên hệ.</span>
                </li>
              </v-select>
              <div
                class="form-control-feedback m--font-danger"
                v-if="errors.has('contact.email')"
              >{{ errors.first('contact.email') }}</div>
              <div
                class="form-control-feedback nt-feedback-warning"
                v-if="isDuplicateEmailWithCurrentCustomer"
              >
                Email trùng với khách hàng
                <a
                  :href="getRouteLink('customerDetails', {customer_id: customer_id})"
                >
                  <span>{{ currentCustomerFullName }}</span>
                </a>

                <!--<a :href="currentCustomerLink" target="_blank" >{{ currentCustomerFullName }}</a>-->
              </div>
              <div
                class="form-control-feedback m--font-danger"
                v-if="contactErrors['email']"
              >Email bị trùng.</div>
              <div
                class="form-control-feedback m--font-danger"
                v-else-if="!errors.has('contact.email')"
              >&nbsp;</div>
            </div>

            <div
              class="form-group m-form__group"
              :class="{ 'has-danger': errors.has('contact.address') }"
            >
              <label for="address" class="form-control-label s--label nt-label">Địa chỉ</label>
              <input
                type="text"
                id="address"
                class="form-control"
                name="address"
                v-model.trim="customerContact.address"
                v-validate="{ max: 250 }"
                data-vv-scope="contact"
                :disabled="isSelectContactInListCustomer || isContactExist"
                :class="{'nt-button-disabled': isSelectContactInListCustomer || isContactExist}"
              />
              <div
                class="form-control-feedback m--font-danger"
                v-if="errors.has('contact.address')"
              >{{ errors.first('contact.address') }}</div>
              <div
                class="form-control-feedback m--font-danger"
                v-else-if="errors.has('contact.address')"
              >&nbsp;</div>
            </div>

            <div class="form-group m-form__group">
              <label
                for="customer_contact_relationship"
                class="form-control-label s--label nt-label"
              >Mối quan hệ</label>
              <v-select
                :options="relationshipContact"
                :label="'relationship_title'"
                v-model="customerContact.relationship"
                :disabled="isContactExist"
                :class="{'nt-button-disabled': isContactExist}"
                placeholder="- Chọn mối quan hệ -"
                id="customer_contact_relationship"
                name="customer_contact_relationship"
                :maxHeight="'280px'"
                data-vv-scope="contact"
                @input="setSelected"
              >
                <li slot="no-options" class="no-options">
                  <span slot="no-options">Không tìm thấy.</span>
                </li>
              </v-select>
            </div>

            <div
              class="form-group m-form__group"
              :class="{ 'has-danger': errors.has('contact.note') }"
            >
              <label for="note" class="form-control-label s--label nt-label">Ghi chú</label>
              <s-textarea
                v-validate="{ max: 1025 }"
                :id="'customer_contact_note'"
                :name="'note'"
                :disabled="isContactExist"
                :class="{'nt-button-disabled':isContactExist}"
                v-model.trim="customerContact.note"
                data-vv-scope="contact"
                style="min-height: 100px"
              ></s-textarea>
              <div
                class="form-control-feedback m--font-danger"
                v-if="errors.has('contact.note')"
              >{{ errors.first('contact.note') }}</div>
              <div
                class="form-control-feedback m--font-danger"
                v-else-if="!errors.has('contact.note')"
              >&nbsp;</div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="mr-2 modal-close nt-button nt-button-secondary"
            @click="closeInfoCustomer()"
            data-dismiss="modal"
          >Hủy bỏ</button>
          <button
            :disabled="errors.any() || isBtnLoading"
            :class="{'nt-button-disabled' : errors.any() || isContactExist || contactErrors['phone'] || contactErrors['email'] || isBtnLoading || isDuplicatePhoneNumberWithCurrentCustomer || isDuplicateEmailWithCurrentCustomer}"
            @click.prevent="addNewCustomerContact('contact')"
            type="submit"
            class="nt-button nt-button-warning mr-0"
          >Lưu lại</button>
        </div>
      </div>
    </div>
  </div>
</template>
