.nt-table-list thead {
  background: inherit;
}

.nt-table-list tr th {
  border: none;
  border-bottom: 1px solid #ccd2e2 !important;
}

.nt-table-list tr td {
  border: none;
  border-bottom: 1px solid #ccd2e2 !important;
}

.nt-table-list table {
  max-height: 210px;
  display: inline-block;
  width: 100%;
  overflow: auto;
}

.table::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #444f78;
}

.table {
  th {
    &.full_name {
      width: 200px;
    }

    &.relationship {
      width: 130px;
    }

    &.email {
      width: 180px;
    }

    &.phone_number {
      width: 150px;
    }

    &.single_link {
      width: 130px;
    }

    &.address {
      width: 400px;
    }
  }

  td {
    &.full_name {
      width: 180px;
    }

    &.relationship {
      width: 130px;
    }

    &.email {
      width: 180px;
    }

    &.phone_number {
      width: 150px;
    }

    &.single_link {
      width: 130px;
    }

    &.address {
      width: 400px;
    }
  }
}