<style src="./Contact.scss" lang="scss" scoped></style>
<script src="./Contact.js"></script>

<template>
  <div>
    <div class="table-responsive nt-scroll-primary">
      <table class="table nt-table-list">
        <thead>
          <tr style="border: none;">
            <th class="full_name">Họ tên</th>
            <th class="relationship">Mối quan hệ</th>
            <th class="email">Email</th>
            <th class="phone_number">Số điện thoại</th>
            <th class="single_link"></th>
            <th class="address">Địa chỉ</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(contact, index) in contacts" :key="index">
            <template v-if="contacts && contacts.length > 0">
              <td class="full_name">
                <template v-if="contact.full_name">
                  {{ contact.full_name }}
                  <i
                    class="fa fa-star nt-color-warning"
                    v-if="contact.is_main_contact == 1"
                  ></i>
                </template>
              </td>
              <td class="relationship">
                <template v-if="contact.relationship">{{ contact.relationship }}</template>
              </td>
              <td class="email">
                <template v-if="contact.email">
                  <div v-html="contact.email"></div>
                </template>
              </td>
              <td class="phone_number">
                <template v-if="contact.phone">
                  <div v-html="contact.phone"></div>
                </template>
              </td>
              <td class="single_link">
                <template v-if="contact.customer_id && contact.customer_id !== ''">
                  <template
                    v-if="accessible( userCheckAddOn, 'customer', PERMISSION_SHOW_CUSTOMER, userCurrentPermissions)"
                  >
                    <a
                      class="m-link m-link--primary nt-link"
                      :href="getRouteLink('customerDetails', {customer_id: contact.customer_id})"
                    >
                      <span>Xem chi tiết</span>
                    </a>
                    <!--<a-->
                    <!--href="javascript:void(0)"-->
                    <!--@click="getCustomerLinkDetail(contact)"-->
                    <!--target="_blank"-->
                    <!--&gt;-->
                    <!--Xem chi tiết-->
                    <!--<i class="icon icon-external-link-01"></i>-->
                    <!--</a>-->
                  </template>
                  <template v-else>
                    <a
                      class="m-link m-link--primary nt-link"
                      href="javascript:;"
                      data-toggle="m-tooltip"
                      :data-original-title="titleNotPermisson"
                      data-html="true"
                    >
                      <span>Xem chi tiết</span>
                    </a>
                  </template>
                </template>
                <template v-else></template>
              </td>
              <td class="address">
                <template v-if="contact.address">{{ contact.address | truncateWords }}</template>
              </td>
            </template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
