<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div class="m-content">
     <div
      v-if="isLoaderEmailSchedulerDetails"
      class="m-loader m-loader--brand m-loader--lg"
      style="width: 30px; height: 30px; display: inline-block;"
    ></div>
    <div style="display: inline-block;width: 100%;" v-else>
      <div
        class="m-portlet m-portlet--mobile position-relative nt-portlet"
        style="float:left;"
        :style="{  width:  '100%' }"
      >
        <div class="m-portlet__body nt-portlet__body-email-scheduler nt-scroll-primary">
          <form class="m-form m-form--state h-100">
            <div class="row h-100">
              <div class="col-md-6 scroll-box nt-scroll-primary">
                <div class="nt-box">
                  <div class="nt-box-head">
                    <h3>1. Thông tin cơ bản</h3>
                  </div>
                  <div class="nt-box-body">
                    <div class="row">
                      <div class="col-md-8">
                        <div
                          class="form-group m-form__group"
                          :class="{ 'has-danger': errors.has('addEmailScheduler.email_scheduler_name') }"
                        >
                          <label class="form-control-label nt-label">
                            Tên lịch
                            <span class="m--font-danger">*</span>
                          </label>
                          <s-input-text
                            name="email_scheduler_name"
                            data-vv-scope="addEmailScheduler"
                            v-model="emailScheduler.name"
                            class="form-control"
                            v-validate="{ required: true, max: 250 }"
                          ></s-input-text>
                          <div
                            class="form-control-feedback m--font-danger"
                            v-if="errors.has('addEmailScheduler.email_scheduler_name')"
                          >{{ errors.first('addEmailScheduler.email_scheduler_name') }}</div>
                          <div class="form-control-feedback m--font-danger" v-else>
                            <div
                              class="form-control-feedback m--font-danger"
                              v-if="server_errors != '' && server_errors['name']"
                            >{{ server_errors['name'][0] }}</div>
                            <div v-else>&nbsp;</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group m-form__group">
                          <label class="form-control-label nt-label">
                            Trạng thái
                            <span class="m--font-danger">*</span>
                          </label>
                          <div>
                            <span
                              class="m-switch m-switch--outline m-switch--success nt-switch nt-switch-success"
                            >
                              <label>
                                <input
                                  name="status"
                                  type="checkbox"
                                  v-model="emailScheduler.is_active"
                                />
                                <span></span>
                              </label>
                            </span>
                          </div>
                          <div
                            class="form-control-feedback m--font-danger"
                            v-if="errors.has('addEmailScheduler.status')"
                          >{{ errors.first('addEmailScheduler.status') }}</div>
                          <div class="form-control-feedback m--font-danger" v-else>
                            <div
                              class="form-control-feedback m--font-danger"
                              v-if="server_errors != '' && server_errors['status']"
                            >{{ server_errors['status'][0] }}</div>
                            <div v-else>&nbsp;</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="nt-box m--margin-top-20">
                  <div class="nt-box-head">
                    <h3>2. Chọn tập khách hàng mục tiêu</h3>
                  </div>

                  <div class="nt-box-body m--padding-bottom-20">
                    <template v-if="isEdit">
                      <email-scheduler-add-filter
                        :is_edit="isEdit"
                        :filter_id="emailScheduler.filter_id"
                        :server_errors="server_errors"
                        :email_scheduler_details="emailScheduler"
                      ></email-scheduler-add-filter>
                    </template>
                    <template v-else>
                      <email-scheduler-add-filter
                        :is_edit="isEdit"
                        :filter_id="0"
                        :server_errors="server_errors"
                      ></email-scheduler-add-filter>
                    </template>
                  </div>
                </div>

                <div class="nt-box m--margin-top-20">
                  <div class="nt-box-head">
                    <h3>3. Chọn thời gian</h3>
                  </div>
                  <div class="nt-box-body">
                    <div class="row">
                      <div class="col-md-4">
                        <div
                          class="form-group m-form__group"
                          :class="{ 'has-danger': errors.has('addEmailScheduler.start_date') }"
                        >
                          <label class="form-control-label nt-label">
                            Ngày bắt đầu
                            <span class="m--font-danger">*</span>
                          </label>
                          <s-input-date
                            name="start_date"
                            data-vv-scope="addEmailScheduler"
                            v-model="emailScheduler.start_date"
                            v-validate="{ required: true }"
                            @change="onUpdateDate()"
                          ></s-input-date>
                          <div
                            class="form-control-feedback m--font-danger"
                            v-if="errors.has('addEmailScheduler.start_date')"
                          >{{ errors.first('addEmailScheduler.start_date') }}</div>
                          <div class="form-control-feedback m--font-danger" v-else>
                            <div
                              class="form-control-feedback m--font-danger"
                              v-if="server_errors != '' && server_errors['start_date']"
                            >{{ server_errors['start_date'][0] }}</div>
                            <div v-else>&nbsp;</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div
                          class="form-group m-form__group"
                          :class="{ 'has-danger': errors.has('addEmailScheduler.start_on') }"
                        >
                          <label class="form-control-label nt-label">
                            Vào lúc
                            <span class="m--font-danger">*</span>
                          </label>
                          <s-input-time
                            name="start_on"
                            data-vv-scope="addEmailScheduler"
                            v-model="emailScheduler.start_on"
                            v-validate="{ required: true }"
                          ></s-input-time>
                          <div
                            class="form-control-feedback m--font-danger"
                            v-if="errors.has('addEmailScheduler.start_on')"
                          >{{ errors.first('addEmailScheduler.start_on') }}</div>
                          <div class="form-control-feedback m--font-danger" v-else>
                            <div
                              class="form-control-feedback m--font-danger"
                              v-if="server_errors != '' && server_errors['start_on']"
                            >{{ server_errors['start_on'][0] }}</div>
                            <div v-else>&nbsp;</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div
                          class="form-group m-form__group"
                          :class="{ 'has-danger': errors.has('addEmailScheduler.repeat_time') || errors.has('addEmailScheduler.repeat_time_value') }"
                        >
                          <label class="form-control-label nt-label">
                            Định kỳ
                            <span class="m--font-danger">*</span>
                          </label>
                          <select
                            name="repeat_time"
                            class="form-control"
                            v-model="emailScheduler.repeat_time"
                            @change="changeRepeatTimeDefault()"
                            v-validate="{ required: true }"
                          >
                            <option
                              v-for="(repeatTime, index) in repeatTimeDefault"
                              :value="repeatTime"
                              :key="index"
                            >{{ repeatTime.name | truncateWords }}</option>
                          </select>
                          <div
                            class="form-control-feedback m--font-danger"
                            v-if="errors.has('addEmailScheduler.repeat_time')"
                          >{{ errors.first('addEmailScheduler.repeat_time') }}</div>
                          <div class="form-control-feedback m--font-danger" v-else>
                            <div
                              class="form-control-feedback m--font-danger"
                              v-if="server_errors != '' && server_errors['repeat_time']"
                            >{{ server_errors['repeat_time'][0] }}</div>
                            <div v-else>&nbsp;</div>
                          </div>

                          <div
                            class="row"
                            v-if="emailScheduler.repeat_time && emailScheduler.repeat_time.type === 0"
                          >
                            <div class="col-md-5">
                              <s-input-text
                                name="repeat_time_value"
                                data-vv-scope="addEmailScheduler"
                                v-model.number="emailScheduler.repeat_time_value"
                                class="form-control"
                                v-mask="'###'"
                                v-validate="{ required: true, min_value: 1 }"
                                @keyup="onUpdateDate()"
                              ></s-input-text>
                            </div>
                            <div class="col-md-7">
                              <select
                                data-vv-scope="addEmailScheduler"
                                name="repeat_time_type"
                                class="form-control"
                                v-model="emailScheduler.repeat_time_type"
                                v-validate="{ required: true }"
                                @change="onUpdateDate()"
                              >
                                <option
                                  v-for="(repeatTime, index) in repeatTimes"
                                  :value="repeatTime.type"
                                  :key="index"
                                >{{ repeatTime.name | truncateWords }}</option>
                              </select>
                            </div>
                            <div class="col-md-12">
                              <div
                                class="form-control-feedback m--font-danger"
                                v-if="errors.has('addEmailScheduler.repeat_time_value')"
                              >{{ errors.first('addEmailScheduler.repeat_time_value') }}</div>
                              <div class="form-control-feedback m--font-danger" v-else>
                                <div
                                  class="form-control-feedback m--font-danger"
                                  v-if="server_errors != '' && (server_errors['repeat_time_value'])"
                                >
                                  {{ server_errors['repeat_time_value'][0] }}
                                  <br />
                                  {{ server_errors['repeat_time_value'][0] }}
                                </div>
                                <div v-else>&nbsp;</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group m-form__group">
                          <label class="form-control-label nt-label">Ngày kết thúc dự kiến</label>
                          <input
                            type="text"
                            class="form-control nt-disabled-input"
                            data-vv-scope="addEmailScheduler"
                            v-model="emailScheduler.end_date"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="nt-box nt-box-right">
                  <div class="nt-box-head d-flex align-items-center justify-content-between">
                    <h3>4. Chọn nội dung</h3>
                    <button
                      type="button"
                      class="nt_btn-link"
                      :disabled="emailScheduler.email_template_ids && !emailScheduler.email_template_ids.length"
                      @click="removeAllEmailContents"
                    >Xoá toàn bộ</button>
                  </div>
                  <div class="nt-box-body" style="padding: 0">
                    <EmailSchedulerEmailList
                      ref="emailSchedulerEmailList"
                      :data="{ date:  emailScheduler.start_date, time: emailScheduler.start_on, type: emailScheduler.repeat_time_type, value: emailScheduler.repeat_time_value }"
                      :isEdit="isEdit"
                      @onUpdateEmailIds="onUpdateEmailIds"
                      @onUpdateTemplateScheduler="onUpdateTemplateScheduler"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="m-portlet__foot d-flex justify-content-end" style="background-color: #F4F5F9;">
          <button
            @click.prevent="cancelAddNewEmailScheduler()"
            type="button"
            class="nt-button nt-button-secondary mr-2"
          >Hủy bỏ</button>
          <vue-ladda
            type="submit"
            button-class="nt_btn nt-button nt-button-warning mr-0"
            :disabled="isDisabled"
            :loading="isLoader"
            @click.prevent="addNewEmailScheduler('addEmailScheduler')"
          >{{ isEdit ? 'Cập nhật' : 'Lưu lại' }}</vue-ladda>
        </div>
      </div>
    </div>
  </div>
</template>
