.m-dropdown {
    .m-dropdown__toggle {
        font-size: 20px;
        color: #444F78;
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .m-dropdown__wrapper {
        width: 100vw;
        left: -20px;

        @media(max-width: 540px) {
            left: 0;
        }

        .header {
            background: linear-gradient(90deg, #B82E45 0%, #7D438E 100%);
            border-radius: 4px 4px 0px 0px;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #FFFFFF;
            height: 50px;
            padding: 0 20px;

            i {
                font-size: 12px;
                cursor: pointer;
            }
        }

        .tab-header {
            background: #F9FAFC;
            border-bottom: 1px solid #EBEDF2;
            height: 40px;

            .tab-header_item {
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: #444F78;
                margin-left: 20px;
                height: 100%;
                cursor: pointer;
                border-bottom: 2px solid transparent;

                &.active {
                    color: #BB1130;
                    border-bottom-color: #BB1130;
                }

                i {
                    margin-right: 10px;
                }
            }
        }

        .tab-content {
            height: 440px;
            overflow-x: hidden;
            overflow-y: auto;

            .tab-content_item {
                border-bottom: 1px solid #EBEDF2;
                padding: 15px 20px;

                img {
                    width: 46px;
                    margin-right: 15px;
                }

                .item-name {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #444F78;
                }

                .item-desc {
                    font-size: 14px;
                    line-height: 21px;
                    color: #838CAB;
                    margin-bottom: 2px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    .item-desc-hightlight {
                        font-weight: 500;
                        color: #444F78;

                        &.fully {
                            color: #BB1130
                        }
                    }

                    &.fully {
                        color: #BB1130
                    }
                }
            }
        }
    }

    a {

        &.active,
        &:hover {
            color: #BB1130
        }
    }
}

@media(min-width: 540px) {
    .m-dropdown {
        .m-dropdown__wrapper {
            width: 375px;
            left: inherit;
            padding-top: 10px;
        }
    }
}