<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div :class="className">
    <template v-if="canAccess">
      <a target="_blank" :href="idpAddonsUrl" class="item-link"><i :class="icon"></i></a>
    </template>
    <template v-else>
      <i
        :class="icon"
        data-toggle="m-tooltip"
        data-original-title="Bạn không có quyền thực hiện thao tác này."
        data-placement="left"
        @mouseover="reloadTooltip()"
      ></i>
    </template>
  </div>
</template>
