<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div class="m-portlet m-portlet--mobile" v-cloak>
    <div class="m-portlet__body">
      <div class="table-container table-responsive nt-scroll-primary">
        <table
          class="table table-bordered table-hover s--table s--table-customer-deal-product nt-table-list nt-table-list-all"
        >
          <thead style="background:#F4F5F9">
            <tr>
              <th>Mã sản phẩm</th>
              <th>Tên sản phẩm</th>
              <th class="text-right">Số lượng</th>
              <th class>Đơn vị</th>
              <th class="text-right">Đơn giá niêm yết</th>
              <th class="text-right">Chiết khấu</th>
              <th class="text-right">Đơn giá bán</th>
              <th class="text-right">Thành tiền</th>
              <th>Người sử dụng cuối</th>
              <th>Trạng thái giao hàng</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(product, index) in detailDeal.products" :key="index">
              <template v-if="detailDeal && detailDeal.products && detailDeal.products.length > 0">
                <td>{{ product.product_code }}</td>
                <td>
                  <a
                    class="m-link m-link--primary nt-link"
                    :href="getRouteLink('productDetail', {product_id: product.product_id})"
                  >{{ product.product_name }}&nbsp;</a>

                  <!--<router-link class="m-link m-link&#45;&#45;primary nt-link" target="_blank"-->
                  <!--:to="{name : 'productDetail', params : {team_id : currentTeam.team_id, product_id : product.product_id} }">-->
                  <!--{{ product.product_name }}&nbsp;-->
                  <!--<i class="icon-external-link-01"></i>-->
                  <!--</router-link>-->
                </td>
                <td class="text-right">
                  <template
                    v-if="product.product_type === 'Dịch vụ'"
                  >{{ parseInt(product.quantity).toString() | formatNumber }}</template>
                  <template v-else>
                    <template
                      v-if="product.quantity.toString().indexOf('.') != -1"
                    >{{ product.quantity.replace(".", ",") | formatNumber }}</template>
                    <template v-else>{{ parseInt(product.quantity).toString() | formatNumber }}</template>
                  </template>
                </td>
                <td class>{{ product.product_unit }}</td>
                <td class="text-right">{{ parseInt(product.price) | formatNumberPrice }}</td>
                <td class="text-right">
                  <template
                    v-if="detailDeal.deal_type == 'percent'"
                  >{{ parseInt(product.discount) | formatNumberPrice }}%</template>
                  <template
                    v-if="detailDeal.deal_type == 'amount'"
                  >{{ parseInt(product.discount) | formatNumberPrice }}</template>
                </td>
                <td class="text-right">{{ parseInt(product.sale_price) | formatNumberPrice }}</td>
                <td class="text-right">{{ parseInt(product.total_price) | formatNumberPrice }}</td>
                <td>
                  <template v-if="product.customer_id">
                    <template
                      v-if="detailDeal && detailDeal.customer && product.customer_id == detailDeal.customer.id"
                    >{{ product.customer_name }}</template>
                    <template v-else>
                      <a
                        class="m-link m-link--primary nt-link"
                        :href="getRouteLink('customerDetails', {customer_id: product.customer_id})"
                      >{{ product.customer_name }}</a>

                      <!--<router-link class="m-link m-link&#45;&#45;primary nt-link" target="_blank"-->
                      <!--:to="{name : 'customerDetails', params : {team_id : currentTeam.team_id, customer_id : product.customer_id} }">-->
                      <!--{{ product.customer_name }}-->
                      <!--<i class="icon-external-link-01"></i>-->
                      <!--</router-link>-->
                    </template>
                  </template>
                </td>
                <td class="text-center">
                  <select
                    :disabled="product.is_disabled == 1 || detailDeal.transactionStatusCurrent.option_value == 'Hủy bỏ' || detailDeal.transactionStatusCurrent.option_value == 'Hoàn thành' || !accessible( userCheckAddOn, 'deal', 'update_product_deal', userCurrentPermissions)"
                    class="form-control form-control-sm"
                    :name="'custom_attribute_show_hide' + product.is_delivered"
                    :id="'is_delivered' + product.is_delivered"
                    v-model="product.is_delivered"
                    @change="showModalChangeIsDelivered(index)"
                  >
                    <option value="1" :disabled="product.is_delivered == 1">Chưa giao hàng</option>
                    <option value="2" :disabled="product.is_delivered == 2">Đã giao hàng</option>
                  </select>
                </td>
              </template>
            </tr>
            <tr v-if="detailDeal && detailDeal.products && detailDeal.products.length <= 0">
              <td colspan="100" class="text-center" style="padding: 20px 0;">Chưa có sản phẩm nào.</td>
            </tr>
          </tbody>
        </table>
        <!-- <div v-if="listCustomerDeals.length <= 0" class="s--not-found">
                    <span></span>
        </div>-->
      </div>
      <div class="m-form m-form--state m--padding-5">
        <div class="row">
          <div class="col-md-6 form-group m-form__group m--padding-5">
            <div class="row">
              <div class="col-md-8">
                <label for="order_note" class="form-control-label s--label nt-label">Ghi chú</label>
                <div
                  class="input-group"
                  v-if="helpers.getAttributeByAttrCodeAndVariableName(detailDeal, 'order_note', 'attribute_value')"
                >
                  <div
                    style="white-space: pre-line; word-break: break-word;"
                    v-html="helpers.getAttributeByAttrCodeAndVariableName(detailDeal, 'order_note', 'attribute_value')"
                  ></div>
                </div>
                <div
                  style="color : #444F78;font-weight:400;font-size: 14px !important;"
                  class="input-group not-value"
                  v-else
                >Chưa cập nhật</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 form-group m-form__group m--padding-5">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div class="total-amount">
                  <label class="form-control-label s--label nt-label">Tổng thành tiền:</label>
                  <label class="pull-right form-control-label s--label nt-label">
                    <template
                      v-if="helpers.getAttributeByAttrCodeAndVariableName(detailDeal, 'base_total_transaction_amount', 'attribute_value')"
                    >
                      {{ helpers.getAttributeByAttrCodeAndVariableName(detailDeal,
                      'base_total_transaction_amount', 'attribute_value') | formatNumberPrice }}
                    </template>
                    <template v-else>0</template>
                  </label>
                </div>
                <div class="additional_discount">
                  <label class="form-control-label s--label nt-label">
                    Chiết khấu thêm
                    <template
                      v-if="detailDeal.deal_discount && parseFloat(detailDeal.deal_discount.total_discount) && parseFloat(detailDeal.deal_discount.total_discount) >= 0"
                    >
                      <template v-if="detailDeal.deal_discount.type == 'amount'">(giá trị) :</template>
                      <template
                        v-if="detailDeal.deal_discount.type == 'percent'"
                      >({{ parseFloat(detailDeal.deal_discount.value) }}%) :</template>
                    </template>
                  </label>

                  <label class="pull-right form-control-label s--label nt-label">
                    <template>-</template>
                    <template
                      v-if="detailDeal.deal_discount && parseFloat(detailDeal.deal_discount.total_discount) && parseFloat(detailDeal.deal_discount.total_discount) >= 0"
                    >
                      {{ parseFloat(detailDeal.deal_discount.total_discount) | formatNumberPrice
                      }}
                    </template>
                    <template v-else>0</template>
                  </label>
                </div>
                <div class="additional_discount">
                  <label class="form-control-label s--label nt-label">
                    VAT
                    <template
                      v-if="helpers.getAttributeByAttrCodeAndVariableName(detailDeal, 'vat_type', 'attribute_value')"
                    >
                      ({{ helpers.getAttributeOption(helpers.getAttributeByAttrCode(detailDeal,
                      'vat_type'), helpers.getAttributeByAttrCodeAndVariableName(detailDeal,
                      'vat_type', 'attribute_value'), 'option_value') }}):
                    </template>
                  </label>

                  <label class="pull-right form-control-label s--label nt-label">
                    <template>+</template>
                    <template
                      v-if="helpers.getAttributeByAttrCodeAndVariableName(detailDeal, 'vat_amount', 'attribute_value')"
                    >
                      {{ helpers.getAttributeByAttrCodeAndVariableName(detailDeal, 'vat_amount',
                      'attribute_value') | formatNumberPrice }}
                    </template>
                    <template v-else>0</template>
                  </label>
                </div>
                <hr />
                <div class="total_transaction_amount">
                  <label class="form-control-label s--label nt-label">Tổng thanh toán:</label>
                  <label
                    class="pull-right form-control-label s--label nt-label"
                    v-if="helpers.getAttributeByAttrCodeAndVariableName(detailDeal, 'total_transaction_amount', 'attribute_value')"
                  >
                    {{ parseInt(helpers.getAttributeByAttrCodeAndVariableName(detailDeal,
                    'total_transaction_amount', 'attribute_value')) | formatNumberPrice }}
                  </label>
                  <label class="pull-right form-control-label s--label nt-label" v-else>0</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Change show hide attribute-->
    <div
      v-if="detailDeal && detailDeal.attributes && detailDeal.attributes.length > 0 && indexItem != null"
      data-backdrop="static"
      data-keyboard="false"
      class="modal s--modal fade nt--modal-confirm-choice s--modal-change-is-delivered"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!--<h3 class="nt&#45;&#45;modal-confirm-choice-title">-->
            <!--Thông báo-->
            <!--</h3>-->
            <div class="nt--modal-confirm-choice-content">
              <div class="nt--modal-confirm-choice-content-title-top">
                <template v-if="detailDeal.products[indexItem].is_delivered == 2">
                  Trạng thái giao hàng sẽ chuyển thành
                  <span class="nt-color-warning">Đã giao hàng</span>?
                </template>
                <template v-else>
                  Trạng thái giao hàng sẽ chuyển thành
                  <span class="nt-color-warning">Chưa giao hàng</span>?
                </template>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              class="nt-button nt-button-secondary mr-2"
              data-dismiss="modal"
              aria-label="Close"
              @click.prevent="cancelUpdateIsDelivered(detailDeal.products[indexItem])"
            >Hủy bỏ</button>
            <button
              class="nt-button nt-button-warning mr-0"
              :disabled="isDisabledUpdateDelivered"
              :class="{ 'nt-button-disabled' :isDisabledUpdateDelivered }"
              @click.prevent="updateIsDelivered(detailDeal.products[indexItem])"
            >Tiếp tục</button>
          </div>
        </div>
      </div>
    </div>
    <div
      data-backdrop="static"
      data-keyboard="false"
      class="modal s--modal fade nt--modal-confirm-choice"
      id="popupPolicyEditDeliveryProduct"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!--<h3 class="nt&#45;&#45;modal-confirm-choice-title">-->
            <!--Thông báo-->
            <!--</h3>-->
            <div class="nt--modal-confirm-choice-content">
              <div class="nt--modal-confirm-choice-content-title-top">
                Giao dịch đã bị hủy bỏ hoặc hoàn thành.
                <br />Vui lòng tải lại trang.
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              class="nt-button nt-button-secondary mr-2"
              data-dismiss="modal"
              aria-label="Close"
              @click="refreshPage()"
            >Đóng</button>
          </div>
        </div>
      </div>
    </div>

    <div
      data-backdrop="static"
      data-keyboard="false"
      class="modal s--modal fade nt--modal-confirm-choice"
      id="policyErrorsEdu"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!--<h3 class="nt&#45;&#45;modal-confirm-choice-title">-->
            <!--Thông báo-->
            <!--</h3>-->
            <div class="nt--modal-confirm-choice-content">
              <div class="nt--modal-confirm-choice-content-title-top">
                Người dùng đã được xếp vào lớp học.
                <br />Không thể chỉnh sửa trạng thái giao dịch.
                <br />Vui lòng tải lại trang.
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              class="nt-button nt-button-secondary mr-2"
              @click="refreshPage()"
              data-dismiss="modal"
              aria-label="Close"
            >Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
