<script src="./Script.js"></script>

<template>
  <div class="nt-settings-content nt-settings-trash">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <div
          v-if="!isLoader"
          class="m-loader m-loader--brand m-loader--lg"
          style="width: 30px; height: 30px; display: inline-block;"
        ></div>
        <div v-if="isLoader" class="m-portlet__body-head">
          <div class="m-portlet__body-head-top">
            <div class="m-portlet__body-head-top-left" v-if="products && products.length > 0">
              <div class="s--list-action">
                <div
                  aria-expanded="true"
                  m-dropdown-toggle="click"
                  class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push nt-button-dropdown"
                >
                  <a
                    class="m-portlet__nav-link m-dropdown__toggle nt-button nt-button-primary nt-button-top"
                    style="border-radius: 4px"
                  >
                    <i class="icon icon-settings"></i>&nbsp;Tác vụ
                  </a>
                  <div class="m-dropdown__wrapper" style="z-index: 101;">
                    <span
                      class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"
                      style="right: auto; left: 60.5px;"
                    ></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav">
                            <li class="m-nav__item">
                              <a
                                class="m-nav__link"
                                href="javascript:;"
                                @click.prevent="checkBeforeRestore(productChecked, true)"
                              >
                                <i class="m-nav__link-icon icon icon-refresh"></i>
                                <span class="m-nav__link-text">Phục hồi</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="s--list-count">
                <div class="s-number-check">
                  với
                  <template v-if="productChecked && productChecked.length <= 0">tất cả</template>
                  ( {{getQuantityItemChecked() }} sản phẩm )
                </div>
              </div>
            </div>
            <div class="m-portlet__body-head-top-right" style="float: right;">
              <div class="m--margin-right-0">
                <div
                  m-dropdown-toggle="hover"
                  aria-expanded="true"
                  class="form-control nt-search-box-form-control m-input-icon m-input-icon--right search m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push"
                >
                  <input
                    placeholder="Tìm kiếm"
                    type="text"
                    class="form-control form-control-sm m-input bg-transparent nt-table-search-box"
                    ref="productSearch"
                    :value="searchText"
                    @keyup="productSearch($event)"
                  />
                  <span
                    class="m-input-icon__icon m-input-icon__icon--right"
                    @click.prevent="productSearchForClick()"
                  >
                    <span>
                      <i class="icon icon-search"></i>
                    </span>
                  </span>
                  <div class="m-dropdown__wrapper" style="z-index: 101;">
                    <span
                      class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"
                      style="right: auto; left: 100px;"
                    ></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <span class="m--font-bolder">Bạn có thể tìm kiếm sản phẩm theo:</span>
                          <p class="mb-0">• Tên sản phẩm</p>
                          <p class="mb-0">• Mã SKU</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="search-note" v-if="isSearch">
                  <span>Tìm thấy {{ pagination.total_item }} sản phẩm</span>
                </div>
                <div class="search-note" v-if="!isSearch">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="isLoader" class="dataTables_wrapper">
          <div
            class="table-responsive nt-scroll-primary"
            id="table-responsive-data"
            v-if="products.length > 0"
          >
            <table
              class="table table-bordered table-hover s--table s--table-customer-list nt-table-list nt-table-list-all"
            >
              <thead>
                <tr>
                  <th class="id">
                    <label class="m-checkbox m-checkbox--primary m--margin-bottom-15">
                      <input
                        type="checkbox"
                        @click="checkedAllToggle()"
                        v-model="productCheckAllPerPage[oldCurrentPage]"
                        value
                      />
                      <span></span>
                    </label>
                  </th>
                  <th class="action">Tác vụ</th>
                  <template v-for="(attribute, index) in attributes">
                    <th
                      :key="index"
                      class="s--list-sort-attribute s--cursor-pointer"
                      :class="attribute.attribute_code"
                      v-if="attribute.attribute_code !== 'sort_description'"
                    >
                      <div class="d-inline-block float-left">{{ attribute.attribute_name }}</div>
                    </th>
                  </template>
                </tr>
              </thead>

              <tbody>
                <tr v-for="(product, index) in products" :key="index">
                  <td class="id">
                    <label class="m-checkbox m-checkbox--primary m--margin-bottom-15">
                      <input
                        v-model="productChecked"
                        type="checkbox"
                        @change="checkedProduct(product)"
                        :value="product"
                      />
                      <span></span>
                    </label>
                  </td>
                  <td class="text-center action">
                    <button
                      aria-expanded="true"
                      aria-haspopup="true"
                      data-toggle="dropdown"
                      class="btn m-btn m-btn--icon m-btn--icon-only m-btn--pill nt-button-hover-primary"
                    >
                      <i class="la la-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu nt-dropdown-menu">
                      <a
                        href="javascript:;"
                        class="dropdown-item"
                        @click.prevent="checkBeforeRestore(product)"
                      >
                        <i class="icon icon-refresh"></i>
                        Phục hồi
                      </a>
                      <!--<a href="javascript:;"-->
                      <!--class="dropdown-item s&#45;&#45;cursor-pointer">-->
                      <!--<i class="la la-trash"></i>-->
                      <!--Xóa vĩnh viễn-->
                      <!--</a>-->
                    </div>
                  </td>
                  <template v-for="(attribute, indexA) in attributes">
                    <td
                      :key="indexA"
                      :class="attribute.attribute_code"
                      v-if="attribute.attribute_code !== 'sort_description'"
                    >
                      <div v-for="(attribute_value, indexB) in product.attributes" :key="indexB">
                        <template v-if="product.attributes">
                          <template v-if="attribute_value.attribute_id == attribute.id">
                            <template v-if="attribute.attribute_code != 'product_image'">
                              <template
                                v-if="!attribute_value.value || attribute_value.value == '' || attribute_value.value == null "
                              >
                                <!-- - -->
                              </template>
                              <template
                                v-else-if="attribute.data_type_id == 1 && attribute.attribute_code == 'product_name'"
                              >
                                <template
                                  v-if="accessible( userCheckAddOn, 'product', PERMISSION_SHOW_PRODUCT, userCurrentPermissions)"
                                >
                                  <a
                                    class="m-link m-link--primary nt-link"
                                    :href="getRouteLink('productDetail', {product_id: product.id})"
                                  >{{ attribute_value.value }}</a>

                                  <!--<router-link class="m-link m-link&#45;&#45;primary nt-link" target="_blank"-->
                                  <!--:to="{name : 'productDetail', params : {team_id : currentTeam.team_id, product_id : product.id} }">-->
                                  <!--{{ attribute_value.value }}-->
                                  <!--<i class="icon-external-link-01"></i>-->
                                  <!--</router-link>-->
                                </template>
                                <template v-else>
                                  <a
                                    class="m-link m-link--primary nt-link"
                                    href="javascript:;"
                                    data-toggle="m-tooltip"
                                    :data-original-title="titleNotPermisson"
                                    data-html="true"
                                  >{{ attribute_value.value }}</a>
                                </template>
                              </template>
                              <template
                                v-else-if="attribute.data_type_id == 2"
                              >{{ attribute_value.value | formatDateTime}}</template>
                              <template
                                v-else-if="attribute.data_type_id == 3"
                              >{{ attribute_value.value | formatDateTime(false)}}</template>
                              <template
                                v-else-if="attribute.data_type_id == 4"
                              >{{ attribute_value.value | formatPhone }}</template>
                              <template
                                v-else-if="attribute.data_type_id == 7"
                              >{{ attribute_value.value | formatNumberPrice }}</template>
                              <template v-else-if="attribute.data_type_id == 8">
                                {{ helpers.getAttributeOptions(attribute, attribute_value.value,
                                'option_value') }}
                              </template>
                              <template v-else-if="attribute.data_type_id == 9">
                                {{ helpers.getAttributeOptions(attribute, attribute_value.value,
                                'option_value') }}
                              </template>
                              <template v-else-if="attribute.data_type_id == 10">
                                <span
                                  v-for="(multi_value, indexC) in helpers.getAttributeOptions(attribute, attribute_value.value, 'option_value')"
                                  :key="indexC"
                                >
                                  <template
                                    style="margin-bottom: 3px; margin-right: 3px;"
                                    class="m-badge m-badge--wide"
                                  >
                                    <i class="la la-user" style="font-size: 13px;"></i>
                                    &nbsp;{{
                                    multi_value.name | truncateWords }}
                                  </template>
                                </span>
                              </template>
                              <template v-else-if="attribute.data_type_id == 11">
                                <span
                                  v-for="(multi_value, indexC) in helpers.getAttributeOptions(attribute, attribute_value.value, 'option_value')"
                                  :key="indexC"
                                >
                                  <template
                                    style="margin-bottom: 3px; margin-right: 3px;"
                                    class="m-badge m-badge--wide"
                                  >
                                    <i class="la la-user" style="font-size: 13px;"></i>
                                    &nbsp;{{
                                    multi_value.name | truncateWords }}
                                  </template>
                                </span>
                              </template>
                              <template v-else-if="attribute.data_type_id == 13">
                                <span
                                  v-for="(multi_value, indexC) in helpers.getAttributeOptions(attribute, attribute_value.value, 'option_value')"
                                  :key="indexC"
                                >
                                  <template
                                    style="margin-bottom: 3px; margin-right: 3px;"
                                    class="m-badge m-badge--wide"
                                  >
                                    <i class="la la-user" style="font-size: 13px;"></i>
                                    &nbsp;{{
                                    multi_value.name | truncateWords }}
                                  </template>
                                </span>
                              </template>
                              <template v-else-if="attribute.data_type_id == 14">
                                {{ helpers.getAttributeOptions(attribute, attribute_value.value,
                                'option_value') }}
                              </template>
                              <template v-else>{{ attribute_value.value}}</template>
                            </template>
                            <template v-else>
                              <template v-if="attribute_value.value">
                                <image-loading :file_id="attribute_value.value"></image-loading>
                              </template>

                              <template v-else>
                                <img
                                  src="@/assets/imgs/no-image.png"
                                  style="max-width: 60px; max-height: 60px;"
                                />
                              </template>
                            </template>
                          </template>
                        </template>
                      </div>
                    </td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>
          <div v-if="products.length <= 0" class="s--not-found">
            <span>Chưa có sản phẩm nào.</span>
          </div>
          <div
            v-else
            class="dataTables_paginate paging_simple_numbers m--margin-top-20 d-flex justify-content-end"
          >
            <pagination
              :loader="isLoaderProducts"
              :pagination="pagination"
              @paginate="getPaginationProducts"
            ></pagination>
          </div>
        </div>
        <div
          v-if="loadDataProducts"
          style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;background: #ffffff8a;z-index: 12;"
        >
          <div
            class="m-loader m-loader--brand m-loader--lg"
            style="width: 30px; height: 30px; display: inline-block; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%);"
          ></div>
        </div>
      </div>
    </div>

    <restore-product
      v-if="totalRestored != null"
      :selected_ids="selectedIds"
      :total_restored="totalRestored"
      :is_restored_multiple="isRestoredMultiple"
      :product_name="productName"
      :current_params="currentParams"
      @is_change="isChange"
    ></restore-product>
  </div>
</template>
