<script src="./Script.js"></script>

<template>
  <div class="nt-settings-content nt-settings-trash">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <div
          v-if="!isLoader"
          class="m-loader m-loader--brand m-loader--lg"
          style="width: 30px; height: 30px; display: inline-block;"
        ></div>
        <div v-if="isLoader" class="m-portlet__body-head">
          <div class="m-portlet__body-head-top">
            <div class="m-portlet__body-head-top-left" v-if="listCustomers.length > 0">
              <div class="s--list-action">
                <div
                  aria-expanded="true"
                  m-dropdown-toggle="click"
                  class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push nt-button-dropdown"
                >
                  <a
                    class="m-portlet__nav-link m-dropdown__toggle nt-button nt-button-primary nt-button-top"
                    style="border-radius: 4px"
                  >
                    <i class="icon icon-settings"></i>&nbsp;Tác vụ
                  </a>
                  <div class="m-dropdown__wrapper" style="z-index: 101;">
                    <span
                      class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"
                      style="right: auto; left: 60.5px;"
                    ></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav">
                            <li class="m-nav__item">
                              <a
                                class="m-nav__link"
                                href="javascript:;"
                                @click.prevent="checkBeforeRestore(customerChecked, true)"
                              >
                                <i class="m-nav__link-icon icon icon-refresh"></i>
                                <span class="m-nav__link-text">Phục hồi</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="s--list-count">
                <div class="s-number-check">
                  với
                  <template v-if="customerChecked && customerChecked.length <= 0">tất cả</template>
                  ( {{getQuantityCustomerAction() }} khách
                  hàng )
                </div>
              </div>
            </div>
            <div class="m-portlet__body-head-top-right float-right">
              <div class="m--margin-right-0">
                <div
                  m-dropdown-toggle="hover"
                  aria-expanded="true"
                  class="form-control nt-search-box-form-control m-input-icon m-input-icon--right search m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push"
                >
                  <input
                    placeholder="Tìm kiếm"
                    type="text"
                    class="form-control form-control-sm m-input bg-transparent nt-table-search-box"
                    ref="customerSearch"
                    :value="searchText"
                    @keyup="customerSearch($event)"
                  />
                  <span
                    class="m-input-icon__icon m-input-icon__icon--right"
                    @click.prevent="customerSearchForClick()"
                  >
                    <span>
                      <i class="icon icon-search"></i>
                    </span>
                  </span>
                  <div class="m-dropdown__wrapper" style="z-index: 101;">
                    <span
                      class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"
                      style="right: auto; left: 100px;"
                    ></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <span class="m--font-bolder">Bạn có thể tìm kiếm khách hàng theo:</span>
                          <p class="mb-0">• Mã khách hàng</p>
                          <p class="mb-0">• Tên khách hàng</p>
                          <p class="mb-0">• Số điện thoại khách hàng</p>
                          <p class="mb-0">• Email khách hàng</p>
                          <p class="mb-0">• Số điện thoại liên hệ</p>
                          <p class="mb-0">• Email liên hệ</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="search-note" v-if="isSearch">
                  <span>Tìm thấy {{ pagination.total_item }} khách hàng</span>
                </div>
                <div class="search-note" v-if="!isSearch">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="isLoader" class="dataTables_wrapper">
          <div
            class="table-responsive nt-scroll-primary"
            id="table-responsive-data"
            v-if="listCustomers.length > 0"
          >
            <table
              class="table table-bordered table-hover s--table nt-table-list nt-table-list-all"
            >
              <thead>
                <tr>
                  <th class="id">
                    <label class="m-checkbox m-checkbox--primary m--margin-bottom-15">
                      <input
                        type="checkbox"
                        v-model="customerCheckAllPerPage[oldCurrentPage]"
                        @click="checkedAllToggle()"
                        value
                      />
                      <span></span>
                    </label>
                  </th>
                  <th class="action">Tác vụ</th>

                  <!--v-if="attribute.is_show"-->
                  <th
                    v-for="(attribute, index) in attributeCustomerFull"
                    :key="index"
                    class="s--list-sort-attribute s--cursor-pointer"
                    :class="{ 's--select-multiple' :  attribute.data_type.id == 10 || attribute.data_type.id == 11 || attribute.data_type.id == 13 || attribute.data_type.id == 10 || attribute.data_type.id == 11 || attribute.data_type.id == 15 || attribute.data_type.id == 16}"
                  >
                    <template v-if="!attribute.is_hidden && attribute.attribute_code != 'avatar'">
                      <div class="d-inline-block float-left">{{ attribute.attribute_name }}</div>
                      <!--<div class="s&#45;&#45;list-sort">-->
                      <!--<span class="s&#45;&#45;list-sort-asc"-->
                      <!--:class="{'is-sort': sortAttributeValue == 'ASC' }"><i-->
                      <!--class="fa fa-sort-up"></i></span>-->
                      <!--<span class="s&#45;&#45;list-sort-desc"-->
                      <!--:class="{'is-sort': sortAttributeValue == 'DESC' }"><i-->
                      <!--class="fa fa-sort-down"></i></span>-->
                      <!--</div>-->
                    </template>
                  </th>
                </tr>
              </thead>

              <tbody v-for="(customer, indexA) in listCustomers" :key="indexA">
                <tr
                  :style="{background: customerSelected != null  && customerSelected === customer.id ? 'rgb(247, 247, 247)' : ''}"
                >
                  <td class="id">
                    <label class="m-checkbox m-checkbox--primary m--margin-bottom-15">
                      <input
                        v-model="customerChecked"
                        @change="checkedCustomer(customer)"
                        type="checkbox"
                        :value="customer"
                      />
                      <span></span>
                    </label>
                  </td>
                  <td class="text-center action">
                    <button
                      aria-expanded="true"
                      aria-haspopup="true"
                      data-toggle="dropdown"
                      class="btn m-btn m-btn--icon m-btn--icon-only m-btn--pill nt-button-hover-primary"
                    >
                      <i class="la la-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu nt-dropdown-menu">
                      <a
                        href="javascript:;"
                        class="dropdown-item"
                        @click.prevent="checkBeforeRestore(customer)"
                      >
                        <i class="icon icon-refresh"></i>
                        Phục hồi
                      </a>
                      <!--<a href="javascript:;"-->
                      <!--class="dropdown-item s&#45;&#45;cursor-pointer">-->
                      <!--<i class="la la-trash"></i>-->
                      <!--Xóa vĩnh viễn-->
                      <!--</a>-->
                    </div>
                  </td>

                  <td
                    v-for="(attribute, indexB) in attributeCustomerFull"
                    :key="indexB"
                    :class="{ 's--select-multiple' :  attribute.data_type.id == 10 || attribute.data_type.id == 11 || attribute.data_type.id == 13 || attribute.data_type.id == 10 || attribute.data_type.id == 11 || attribute.data_type.id == 15 || attribute.data_type.id == 16}"
                  >
                    <template v-if="!attribute.is_hidden && attribute.attribute_code != 'avatar'">
                      <template
                        v-if="attribute.data_type.id != 'charge_person' && attribute.data_type.id != 'type_customer' && attribute.attribute_code != 'user_id' && attribute.attribute_code != 'created_at' && attribute.attribute_code != 'updated_at'"
                      >
                        <div v-for="(value_attribute, indexC) in customer.attributes" :key="indexC">
                          <template v-if="customer.attributes">
                            <template v-if="value_attribute.attribute_id == attribute.id">
                              <template
                                v-if="!value_attribute.value || value_attribute.value == '' || value_attribute.value == null "
                              ></template>
                              <template
                                v-else-if="attribute.data_type.id == 1 && attribute.attribute_code == 'full_name'"
                              >
                                <template
                                  v-if="accessible( userCheckAddOn, 'customer', PERMISSION_SHOW_CUSTOMER, userCurrentPermissions)"
                                >
                                  <a
                                    class="m-link m-link--primary nt-link"
                                    :href="getRouteLink('customerDetails', {customer_id: customer.id})"
                                  >
                                    <span v-html="value_attribute.value"></span>
                                  </a>

                                  <!--<router-link class="m-link m-link&#45;&#45;primary nt-link" target="_blank"-->
                                  <!--:to="{name : 'customerDetails', params : {team_id : currentTeam.team_id, customer_id : customer.id} }">-->
                                  <!--<span v-html="value_attribute.value"></span>-->
                                  <!--<i class="icon icon-external-link-01" style="margin-left: 5px;"></i>-->
                                  <!--</router-link>-->
                                </template>
                                <template v-else>
                                  <a
                                    class="m-link m-link--primary nt-link"
                                    href="javascript:;"
                                    data-toggle="m-tooltip"
                                    :data-original-title="titleNotPermisson"
                                    data-html="true"
                                  >
                                    <span v-html="value_attribute.value"></span>
                                  </a>
                                </template>
                              </template>
                              <template
                                v-else-if="attribute.data_type.id == 1 && attribute.attribute_code == 'sku'"
                              >
                                <span v-html="value_attribute.value"></span>
                              </template>
                              <template
                                v-else-if="attribute.data_type.id == 2"
                              >{{ value_attribute.value | formatDateTime}}</template>
                              <template
                                v-else-if="attribute.data_type.id == 3"
                              >{{ value_attribute.value | formatDateTime(false)}}</template>
                              <template v-else-if="attribute.data_type.id == 4">
                                <!--{{value_attribute.value | formatPhone }}-->
                                <span v-html="value_attribute.value"></span>
                              </template>
                              <template v-else-if="attribute.data_type.id == 5">
                                <!--Email-->
                                <span v-html="value_attribute.value"></span>
                              </template>
                              <template v-else-if="attribute.data_type.id == 6">
                                <div class="pull-right">
                                  <template
                                    v-if="value_attribute.value && value_attribute.value.toString().indexOf('.') != -1"
                                  >{{ value_attribute.value.replace(".", ",") | formatNumber }}</template>
                                  <template v-else>{{ (value_attribute.value) | formatNumber }}</template>
                                </div>
                              </template>
                              <template v-else-if="attribute.data_type.id == 7">
                                <div class="pull-right">
                                  <template
                                    v-if="attribute.attribute_code == 'total_payment_amount'"
                                  >{{ helpers.formatPrice(value_attribute.value) }}</template>
                                  <template
                                    v-else
                                  >{{ parseInt(value_attribute.value) | formatNumberPrice }}</template>
                                </div>
                              </template>
                              <template
                                v-else-if="attribute.data_type.id == 8"
                              >{{ helpers.getAttributeOptions(attribute, value_attribute.value, 'option_value') | truncateWords }}</template>
                              <template
                                v-else-if="attribute.data_type.id == 9"
                              >{{ helpers.getAttributeOptions(attribute, value_attribute.value, 'option_value') | truncateWords }}</template>
                              <template
                                v-else-if="attribute.data_type.id == 10 || attribute.data_type.id == 11 || attribute.data_type.id == 13"
                              >
                                <template
                                  v-if="value_attribute.value && value_attribute.value.length > 0"
                                >
                                  <span
                                    class="nt-barge-dropdown m--margin-right-5 m--margin-bottom-5"
                                    v-for="(item, indexD) in value_attribute.value"
                                    :key="indexD"
                                  >{{ helpers.getAttributeOption(attribute, parseInt(item), 'option_value') | truncateWords }}</span>
                                </template>
                              </template>
                              <template
                                v-else-if="attribute.data_type.id == 14"
                              >{{ helpers.getAttributeOptions(attribute, value_attribute.value, 'option_value') | truncateWords }}</template>
                              <template v-else-if="attribute.data_type.id == 15">
                                <div class="input-group">
                                  <user-object-loading
                                    :user_id="value_attribute.value"
                                    :is_dropdown="false"
                                  ></user-object-loading>
                                </div>
                              </template>
                              <template v-else-if="attribute.data_type.id == 16">
                                <div
                                  class="input-group mr-2 mb-2"
                                  v-for="(value_item, indexE) in value_attribute.value"
                                  :key="indexE"
                                >
                                  <template v-if="value_attribute.value">
                                    <user-object-loading :user_id="value_item" :is_dropdown="false"></user-object-loading>
                                  </template>
                                </div>
                              </template>
                              <template v-else>{{ value_attribute.value }}</template>
                            </template>
                          </template>
                        </div>
                      </template>
                      <template v-else>
                        <template
                          v-if="attribute.data_type.id == 'charge_person' && customer.assigners && customer.assigners.length > 0 && listUsers.length > 0"
                        >
                          <div
                            class="nt-barge-dropdown mr-2 mb-2"
                            v-for="(multi_value, indexF) in helpers.getChargePersonValue(listUsers, customer.assigners)"
                            :key="indexF"
                          >{{multi_value.full_name | truncateWords }}</div>
                        </template>
                        <template v-else-if="attribute.attribute_code == 'user_id'">
                          <user-object-loading :user_id="customer.user_id" :is_dropdown="false"></user-object-loading>
                        </template>
                        <template
                          v-else-if="attribute.attribute_code == 'created_at'"
                        >{{ customer.created_at | formatDateTime(false) }}</template>
                        <template
                          v-else-if="attribute.attribute_code == 'updated_at'"
                        >{{ customer.updated_at | formatDateTime(false) }}</template>
                        <template v-else></template>
                      </template>
                    </template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div v-if="listCustomers.length <= 0" class="s--not-found">
            <span>Chưa có khách hàng nào.</span>
          </div>
          <div
            v-else
            class="dataTables_paginate paging_simple_numbers m--margin-top-20 d-flex justify-content-end"
          >
            <pagination
              :loader="isLoaderListCustomer"
              :pagination="pagination"
              @paginate="getPaginationCustomers"
            ></pagination>
          </div>
        </div>
        <div
          v-if="loadDataCustomer"
          style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;background: #ffffff8a;z-index: 12;"
        >
          <div
            class="m-loader m-loader--brand m-loader--lg"
            style="width: 30px; height: 30px; display: inline-block; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%);"
          ></div>
        </div>
      </div>
    </div>

    <restore-customer
      v-if="totalRestored != null"
      :selected_ids="selectedIds"
      :total_restored="totalRestored"
      :is_restored_multiple="isRestoredMultiple"
      :customer_name="customerName"
      :current_params="currentParams"
      @is_change="isChange"
    ></restore-customer>
  </div>
</template>
