<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div>
    <div class="layout-header">
      <div class="mail-counting">
        <div style="margin-right: 40px">
          <div class="header-title">Tổng số mẫu email:</div>
          <b class="header-desc">{{ numberOfTemplates }}</b>
        </div>
        <div style="margin-right: 40px">
          <div class="header-title">Tổng số kỳ gửi:</div>
          <b class="header-desc">{{ emails.length }}</b>
        </div>
        <div v-if="isDetails || isEdit">
          <div class="header-title">Tổng số email đã gửi:</div>
          <b class="header-desc">{{ numberOfSentEmails }}</b>
        </div>
      </div>
    </div>
    <div class="layout-body nt-scroll-primary" :class="{ 'layout-details': isDetails }">
      <Loading :is_loader="isLoading" />
      <div v-if="emails.length">
        <draggable
          :list="emails"
          :group="{ name: 'emailScheduler' }"
          :disabled="isDetails"
          filter=".ignore-elements"
          animation="150"
          @change="onChange"
        >
          <div
            v-for="(email, index) in emails"
            :key="index"
            class="dragable-item"
            :class="{ 'mb-20': !isDetails || !isEdit, 'ignore-elements': email.isDisabled }"
          >
            <div
              class="body-item align-items-center"
              :class="{ 'email-disabled': email.isDisabled, 'email-details': isDetails }"
            >
              <div class="item-left">
                <div class="item-send-time">Kỳ {{ index + 1 }}</div>
                <div class="d-md-none" style="margin: 0 10px">-</div>
                <div class="item-send-date">{{ email.sendDate | formatDateTime }}</div>
              </div>
              <div class="item-right" :class="{ 'view-only': isDetails }">
                <div class="email-item d-flex">
                  <div class="email-hover align-items-center justify-content-center">
                    <i class="icon icon-dragdrop"></i>
                  </div>
                  <div class="email-text d-flex align-items-center">
                    <div class="email-code">{{ email.code }}</div>
                    <router-link
                      :to="{ name: 'emailTemplateDetails', params: { email_template_id: email.id } }"
                      class="email-title nt_text-ellipsis nt-link"
                      target="_blank"
                    >{{ email.title }}</router-link>
                    <i class="icon icon-cancel ml-auto" @click="removeEmail(index)"></i>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="isDetails || isEdit" class="email-statistic d-md-flex align-items-center">
              <div
                v-if="email.sendStatus && email.sendStatus.status === 2"
                class="d-flex align-items-center status-success mr-30"
              >
                <i class="fas fa-check"></i>
                Đã gửi
              </div>
              <div v-else class="d-flex align-items-center mr-30">
                <i class="fas fa-inbox"></i>
                Chưa gửi
              </div>
              <div class="mr-30">
                Gửi thành công:
                <span
                  style="font-weight: 600"
                >{{ email.sendStatus ? email.sendStatus.success : 0 }}</span>
              </div>
              <div>
                Gửi thất bại:
                <span
                  style="font-weight: 600"
                >{{ email.sendStatus ? email.sendStatus.fail : 0 }}</span>
              </div>
            </div>
          </div>
        </draggable>
      </div>
      <div v-else>Để hoàn thành lịch gửi, khách hàng cần chọn ít nhất 1 nội dung.</div>
    </div>
    <div
      v-if="!isDetails"
      class="layout-footer d-flex align-items-center justify-content-center"
      data-toggle="modal"
      href="#emailSchedulerEmailPopup"
    >
      <i class="icon icon-plus"></i>
      Thêm nội dung
    </div>
    <EmailSchedulerEmailPopup @onUpdateEmailContents="onUpdateEmailContents" />
    <Confirmation :id="uid" content="Bạn có muốn xoá tất cả nội dung đã chọn?" @confirmed="reset" />
    <span :ref="'span' + uid" data-toggle="modal" :href="'#' + uid"></span>
  </div>
</template>
