<script src="./Script.js"></script>

<template>
  <date-picker
    :lang="lang"
    :clearable="true"
    :editable="true"
    type="datetime"
    format="DD/MM/YYYY HH:mm"
    :not-before="not_before"
    :not-after="not_after"
    v-model="newValue"
    @input="$emit('input', newValue);"
    @change="$emit('change', newValue);"
  >
    <template slot="calendar-icon">
      <i class="icon icon-calendar1"></i>
    </template>
  </date-picker>
</template>
