<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Filter.js"></script>

<template>
  <div class="nt-filter" :class="{ 'minimize': isMinimizeFilter }">
    <div
      id="filterButtonToggle"
      aria-expanded="true"
      class="m--margin-bottom-20 m-dropdown m-dropdown--large m-dropdown--flex m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push"
    >
      <!-- Step 1 : Hiển thị button filter ở ngoài trang danh sách -->
      <div class="btn-group s-btn-group">
        <a
          class="m-dropdown__toggle dropdown-toggle nt-button nt-button-top nt-button-secondary nt-button-filter-main"
        >
          <span class="nt-filter-button-text">Bộ lọc:</span>
          <b v-if="filterActive" class="nt-filter-button-content">{{ filterActive.name | truncateWords(16) }}</b>
          <span class="nt-filter-count-items" v-if="!isAddNew">({{total_items}})</span>
          <i class="fa fa-angle-down nt-filter-button-arrow"></i>
        </a>
      </div>
      <!--Kết thúc Step 1-->

      <!--Step 2 : Dropdown list danh sách filter có trong team-->
      <div class="m-dropdown__wrapper" style="z-index:102;">
        <span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
        <div class="m-dropdown__inner">
          <div
            class="m-dropdown__body m--margin-bottom-20 nt-scroll-primary"
            data-scrollable="true"
            data-scrollbar-shown="true"
            v-if="filterData.length > 0"
            data-height="300"
            style="max-height: 300px; overflow-y: auto;"
            :class="{ 'pb-0' : filter_is_show_action}"
          >
            <div class="m-dropdown__content">
              <ul class="m-nav">
                <li class="m-nav__section m-nav__section--first">
                  <span class="m-nav__section-text">
                    <b>Bộ lọc mặc định</b>
                  </span>
                </li>
                <!-- Step 2.1 : Danh sách bộ lọc mặc định hệ thóng sinh ra : tương đương với status = 0 -->
                <li
                  v-for="(filter , filter_index) in filterData"
                  class="m-nav__item d-flex"
                  :key="filter_index"
                  :class="{'m-nav__item--active': filterActive && filterActive.id == filter.id}"
                >
                  <template v-if="filter.status == 0">
                    <a
                      @click.prevent="setActiveFilter(filter)"
                      class="m-nav__link"
                      href="javascript:;"
                      data-toggle="m-tooltip"
                      title
                      :data-original-title="filter.name"
                    >
                      <span class="m-nav__link-text text-truncate">
                        <i class="la la-filter"></i>
                        {{ filter.name }}
                      </span>
                    </a>
                  </template>
                </li>
                <!-- Kết thúc Step 2.1 -->
                <li class="m-nav__section">
                  <span class="m-nav__section-text">
                    <b>Bộ lọc của tôi</b>
                  </span>
                </li>
                <!-- Step 2.2 : Danh sách bộ lọc của user hiện tại : tương đương với status = 1 hoặc status = 2 && user id = current user id -->
                <li
                  v-for="(filter, indexA) in filterData"
                  :key="'a' + indexA"
                  :class="{'m-nav__item--active': filterActive && filterActive.id == filter.id}"
                  class="m-nav__item d-flex"
                >
                  <template
                    v-if="filter.status == 1 || (filter.user_id == currentUser.id && filter.status !== 0)"
                  >
                    <a
                      @click.prevent="setActiveFilter(filter)"
                      href
                      class="m-nav__link"
                      data-toggle="m-tooltip"
                      title
                      :data-original-title="filter.name"
                    >
                      <span class="m-nav__link-text text-truncate">
                        <i class="la la-filter"></i>
                        {{ filter.name }}
                      </span>
                    </a>
                    <span class="d-flex" v-if="filter_is_show_action">
                      <button
                        @click="selecteDeleted(filter)"
                        data-target="#filterOfMeDeletedConfirm"
                        data-toggle="modal"
                        class="btn p-0 bg-transparent filter-delete"
                      >
                        <i class="la la-trash"></i>
                      </button>
                    </span>
                  </template>
                </li>
                <!-- Kết thúc Step 2.2 -->

                <li class="m-nav__section" v-if="filter_share_is_show">
                  <span class="m-nav__section-text">
                    <b>Bộ lọc được chia sẻ</b>
                  </span>
                </li>

                <!-- Step 2.3 : Danh sách bộ lọc được chia sẻ trong team : tương đương với status = 2 và user id khác current user id -->
                <li
                  style="cursor: pointer"
                  v-for="(filter, indexB) in filterData"
                  :key="'b' + indexB"
                  :class="{'m-nav__item--active': filterActive && filterActive.id === filter.id}"
                  class="m-nav__item d-flex"
                >
                  <template
                    v-if="filter.status === 2 && filter.user_id !== currentUser.id && filter_share_is_show"
                  >
                    <a
                      @click.prevent="setActiveFilter(filter)"
                      class="m-nav__link"
                      data-toggle="m-tooltip"
                      title
                      :data-original-title="filter.name"
                    >
                      <span class="m-nav__link-text text-truncate">
                        <i class="la la-filter"></i>
                        {{ filter.name }}
                      </span>
                    </a>
                  </template>
                </li>
                <!-- Kết thúc Step 2.3 -->
              </ul>
            </div>
          </div>

          <!-- Button Tạo bộ lọc mới -->
          <div class="m-dropdown__footer border-top" v-if="filter_is_show_action">
            <a
              class="m-link m-link--primary create-filter nt-link"
              href="javascript:;"
              @click.prevent="createFilter()"
            >
              <span class>
                <i class="la la-plus"></i>&nbsp;&nbsp;Tạo bộ lọc mới
              </span>
            </a>
          </div>
          <!-- End Button Tạo bộ lọc mới -->
        </div>
      </div>
    </div>

    <!-- Step : 3  Modal Xác nhận xóa bộ lọc -->
    <div
      class="modal fade s--modal-delete-filter s--modal-confirm fade s--modal nt--modal-confirm-choice"
      id="filterOfMeDeletedConfirm"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!--<h3 class="nt&#45;&#45;modal-confirm-choice-title">-->
            <!--Thông báo-->
            <!--</h3>-->
            <div class="nt--modal-confirm-choice-content">
              <div class="nt--modal-confirm-choice-content-title-top" v-if="selectedDelete">
                Xóa bộ lọc
                <span class="nt-color-warning">{{ selectedDelete.name }}</span> ?
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              class="nt-button nt-button-secondary nt-button-small"
              data-dismiss="modal"
              aria-label="Close"
            >
              Hủy
              bỏ
            </button>
            <button
              data-dismiss="modal"
              class="nt-button nt-button-warning nt-button-small"
              @click="deleteFilterOfMe()"
            >Xóa</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Kết thúc Step 3 -->

    <div
      id="hidden-filter-wrapper"
      class="m-portlet m-portlet-mobile mb-0"
      v-if="!showFilter && !isAllData"
    >
      <div
        class="nt-background-footer d-flex justify-content-center align-items-center"
        style="border-bottom: solid 1px #EBEDF2; padding: 10px;"
      >
        <button
          class="nt-button nt-button-secondary nt-button-circle nt-button-circle-small"
          @click.prevent="toggleShowFilter()"
          style="margin-right:0px;"
        >
          <span>
            <!--Ẩn tiêu chí -->
            <i class="la la-angle-right"></i>
          </span>
        </button>
      </div>
      <div id="hidden-filter-body" style="min-height:150px;"></div>
      <div
        class="nt-background-footer"
        style="border-top:solid 1px #EBEDF2; padding:10px; height:58px;"
      ></div>
    </div>

    <div
      id="show-filter-wrapper"
      class="m-portlet m-portlet--mobile mb-0"
      v-if="showFilter"
      :class="{'nt-hide-filter-data': !filter_is_show_action}"
    >
      <div
        class="nt-background-footer position-relative"
        style="border-bottom: solid 1px #EBEDF2; padding :10px 10px 10px 20px;"
      >
        <div class="d-inline-flex">
          <button
            class="nt-button nt-button-secondary nt-button-circle nt-button-circle-small"
            v-if="filterAttributes.length > 0 && !isAllData"
            @click.prevent="toggleShowFilter()"
          >
            <span v-if="showFilter">
              <!--Ẩn tiêu chí -->
              <i class="la la-angle-left"></i>
            </span>
          </button>
        </div>
        <label
          class="m--font-boldest nt-label d-inline-flex"
          style="font-size:20px !important; font-weight: 400 !important; margin-bottom:0px;"
        >Tiêu chí lọc</label>
        <div
          class="position-absolute"
          @click.prevent="resetFilterCriteria()"
          style="top:50%; right:20px; transform:translate(0px, -50%);"
        >
          <a href="javascript:;">Bỏ lọc</a>
        </div>
      </div>
      <div id="show-filter-body" class="m-portlet__body">
        <div class="d-inline-block w-100 position-relative">
          <div
            v-for="(filter_attribute, indexC) in filterAttributes"
            :key="indexC"
            class="m-form m-form--state group"
            :class="{'m--margin-bottom-20' : indexC < (filterAttributes.length - 1)}"
          >
            <template v-if="filterAttributes.length > 0">
              <div class="m--details-criteria">
                <button
                  v-if="filterAttributes.length > 1"
                  @click.prevent="removeFilterCriteria(indexC)"
                  class="btn btn-link remove-criteria m-0 p-0 float-right"
                >Xóa</button>

                <div class="form-group m-form__group mb-0">
                  <label class="form-control-label nt-label" style="font-size:12px !important;">
                    Tiêu chí
                    #{{ indexC + 1 }}
                  </label>
                  <div
                    v-if="filter_attribute.is_hidden === 1 && filter_type != 3"
                    class="nt-color-warning"
                  >* Trường dữ liệu đã bị ẩn. Bộ lọc sẽ không lọc theo tiêu chí này.</div>
                  <div
                    v-if="filter_attribute.attribute_values.is_attribute_value_option_not_exist"
                    class="nt-color-warning"
                  >* Một số lựa chọn của tiêu chí lọc này đã bị xóa trong cài đặt. Dữ liệu lọc cũng thay đổi theo.</div>
                </div>
                <select
                  :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                  class="form-control"
                  required
                  @change="selectedFilterAttribute($event, indexC)"
                >
                  <option
                    :disabled="isAddNew || isPlusFilter ? false : true"
                    :hidden="isAddNew || isPlusFilter ? false : true"
                    value="null"
                  >
                    -- Lựa chọn thuộc
                    tính --
                  </option>
                  <option
                    v-for="(attribute, indexD) in fullAttributes"
                    :key="indexD"
                    :disabled="attribute.is_disable"
                    :value="attribute.id"
                    :selected="(attribute.attribute_code == filter_attribute.attribute_code) || (filter_attribute.external_attribute == 1 && attribute.attribute_code == filter_attribute.code_external_attribute) ? 'selected' : ''"
                  >{{attribute.attribute_name }}</option>
                </select>
                <div
                  class="m--content-filter-attributes"
                  v-if="filter_attribute.attribute_values && Object.keys(filter_attribute.attribute_values).length > 0"
                >
                  <div
                    class="m--margin-top-5"
                    v-if="filter_attribute.data_type == 1 || filter_attribute.data_type == 4 || filter_attribute.data_type == 5 || filter_attribute.data_type == 9 && filter_attribute.attribute_code == 'contact_user' || filter_attribute.data_type == 12 || (filter_attribute.external_attribute == 1 && (filter_attribute.code_external_attribute == 'product_code' || filter_attribute.code_external_attribute == 'product_name' || filter_attribute.code_external_attribute == 'customer_address' || filter_attribute.code_external_attribute == 'last_user_used'))"
                  >
                    <select
                      :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                      @change="filter_attribute.attribute_values.condition !== 'null' || filter_attribute.attribute_values.condition === 'empty_value' ? keyUpFilterChange() : ''"
                      v-model="filter_attribute.attribute_values.condition"
                      class="form-control"
                    >
                      <option hidden value="null">-- Lựa chọn điều kiện --</option>
                      <option
                        v-if="!filter_attribute.is_auto_gen"
                        :selected="'empty_value' == filter_attribute.attribute_values.condition ? 'selected' : ''"
                        value="empty_value"
                      >Bỏ trống</option>
                      <option
                        :selected="item.condition == filter_attribute.attribute_values.condition ? 'selected' : ''"
                        v-for="(item, indexE) in textInput"
                        :key="indexE"
                        :value="item.condition"
                      >{{ item.name }}</option>
                    </select>
                    <input
                      :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                      @keyup="keyUpFilterChange()"
                      @keydown="keyDownFilterChange()"
                      v-if="filter_attribute.attribute_values.condition && filter_attribute.attribute_values.condition !== 'empty_value'"
                      type="text"
                      class="form-control m--margin-top-5"
                      v-model.trim="filter_attribute.attribute_values.attribute_value"
                      placeholder="Nhập giá trị"
                    />
                  </div>
                  <div
                    class="m--margin-top-5"
                    v-if="filter_attribute.data_type == 2 || filter_attribute.data_type == 3 || filter_attribute.external_attribute == 1 && (filter_attribute.code_external_attribute == 'created_at' || filter_attribute.code_external_attribute == 'updated_at')"
                  >
                    <select
                      :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                      class="form-control"
                      @change="filter_attribute.attribute_values.condition !== 'null' || filter_attribute.attribute_values.condition === 'empty_value' ? keyUpFilterChange() : ''"
                      v-model="filter_attribute.attribute_values.id"
                    >
                      <option hidden value="null">-- Lựa chọn điều kiện --</option>
                      <option
                        v-if="!filter_attribute.is_auto_gen"
                        :selected="'empty_value' == filter_attribute.attribute_values.condition ? 'selected' : ''"
                        value="empty_value"
                      >Bỏ trống</option>
                      <option
                        v-for="(item, indexF) in dateTimeInput"
                        :key="indexF"
                        :value="item.id"
                      >{{ item.name }}</option>
                    </select>

                    <div
                      v-if="filter_attribute.attribute_values && filter_attribute.attribute_values.id == 6"
                      class="btn-group m-btn-group m--margin-top-5"
                    >
                      <input
                        :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                        type="text"
                        v-model.trim="filter_attribute.attribute_values.dateRange.day"
                        @keyup="keyUpFilterChange()"
                        class="form-control m--margin-right-5"
                        placeholder="dd"
                        v-mask="'##'"
                      />
                      <input
                        :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                        type="text"
                        v-model.trim="filter_attribute.attribute_values.dateRange.month"
                        @keyup="keyUpFilterChange()"
                        class="form-control m--margin-right-5"
                        placeholder="mm"
                        v-mask="'##'"
                      />
                      <input
                        :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                        @keyup="keyUpFilterChange()"
                        type="text"
                        v-model.trim="filter_attribute.attribute_values.dateRange.year"
                        class="form-control"
                        placeholder="yyyy"
                        v-mask="'####'"
                      />
                    </div>
                    <div
                      class="form-control-feedback m--font-danger d-inline-block w-100"
                      v-if="filter_attribute.attribute_values.errors"
                    >{{filter_attribute.attribute_values.errors}}</div>

                    <div
                      v-if="filter_attribute.attribute_values && filter_attribute.attribute_values.id == 7"
                      class="m--margin-top-5"
                    >
                      <date-picker
                        :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                        @input="keyUpFilterChange()"
                        v-model.trim="filter_attribute.attribute_values.rangeDate"
                        range
                        :lang="lang"
                        format="DD/MM/YYYY"
                        :clearable="true"
                        :editable="true"
                      ></date-picker>
                    </div>
                  </div>
                  <div
                    class="m--margin-top-5"
                    v-if="filter_attribute.data_type == 6 || filter_attribute.data_type == 7 || filter_attribute.external_attribute == 1 && (filter_attribute.code_external_attribute == 'product_quantity' || filter_attribute.code_external_attribute == 'product_discount' || filter_attribute.code_external_attribute == 'order_discount' || filter_attribute.code_external_attribute == 'amount_must_be_paid' || filter_attribute.code_external_attribute == 'single_sale_price' || filter_attribute.code_external_attribute == 'price_after' || filter_attribute.code_external_attribute == 'product_price')"
                  >
                    <select
                      :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                      @change="filter_attribute.attribute_values.condition !== 'null' || filter_attribute.attribute_values.condition === 'empty_value' ? keyUpFilterChange() : ''"
                      v-model="filter_attribute.attribute_values.condition"
                      class="form-control"
                    >
                      <option hidden value="null">-- Lựa chọn điều kiện --</option>
                      <option
                        v-if="!filter_attribute.is_auto_gen"
                        :selected="'empty_value' == filter_attribute.attribute_values.condition ? 'selected' : ''"
                        value="empty_value"
                      >Bỏ trống</option>
                      <option
                        :selected="item.condition == filter_attribute.attribute_values.condition ? 'selected' : ''"
                        v-for="(item, indexG) in numberInput"
                        :key="indexG"
                        :value="item.condition"
                      >{{ item.name }}</option>
                    </select>
                    <div
                      v-if="filter_attribute.attribute_values.condition && filter_attribute.attribute_values.condition == '<>'"
                      class="m--margin-top-5"
                    >
                      <div class="btn-group m-btn-group">
                        <input
                          :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                          class="form-control text-right"
                          type="text"
                          placeholder="Từ"
                          v-model.trim="filter_attribute.attribute_values.numberRange.min"
                          @keyup="keyUpFilterChange()"
                          @keydown="keydownCheckNumber($event, 'active')"
                        />
                        <input
                          :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                          class="form-control text-right"
                          type="text"
                          placeholder="Đến"
                          @keyup="keyUpFilterChange()"
                          @keydown="keydownCheckNumber($event, 'call', filter_attribute.data_type)"
                          v-model.trim="filter_attribute.attribute_values.numberRange.max"
                        />
                      </div>

                      <div
                        class="form-control-feedback m--font-danger d-inline-block w-100"
                        v-if="filter_attribute.attribute_values.error"
                      >
                        Giá trị thứ hai phải lớn hơn
                        giá trị thứ
                        nhất
                      </div>
                    </div>

                    <div
                      v-else-if="filter_attribute.attribute_values.condition && filter_attribute.attribute_values.condition !== 'empty_value'"
                      class="m--margin-top-5"
                    >
                      <input
                        :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                        class="form-control text-right"
                        type="text"
                        @keyup="keyUpFilterChange()"
                        @keydown="keydownCheckNumber($event, 'call', filter_attribute.data_type)"
                        v-model.trim="filter_attribute.attribute_values.attribute_value"
                      />
                    </div>
                  </div>
                  <div
                    class="m--margin-top-5"
                    v-if="(filter_attribute.data_type == 8 || filter_attribute.data_type == 9 && filter_attribute.attribute_code !== 'contact_user' || filter_attribute.data_type == 10 || filter_attribute.data_type == 11 || filter_attribute.data_type == 13 || filter_attribute.data_type == 14) && filter_attribute.attribute_code !== 'shipping_status' && filter_attribute.attribute_code !== 'user_id'"
                  >
                    <div class="form-group m-form__group">
                      <v-select
                        :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                        :on-change="keyUpFilterChange"
                        multiple
                        v-model="filter_attribute.attribute_values.attribute_value"
                        label="option_value"
                        index="id"
                        :options="filter_attribute.is_auto_gen ? generateOptions(filter_attribute.attribute_options, 30, 'option_value') : generateOptionsExistEmpty(filter_attribute.attribute_options, 30, 'option_value')"
                      >
                        <template
                          slot="option"
                          slot-scope="option"
                        >{{ option.option_value | truncateWords }}</template>
                        <span slot="no-options">Không tìm thấy</span>
                      </v-select>
                    </div>
                  </div>
                  <div
                    class="m--margin-top-5"
                    v-if="filter_attribute.data_type == 15 || filter_attribute.data_type == 16 || filter_attribute.external_attribute == 1 && (filter_attribute.code_external_attribute == 'charge_person' || filter_attribute.code_external_attribute == 'user_id')"
                  >
                    <div class="form-group m-form__group">
                      <v-select
                        :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                        :on-change="keyUpFilterChange"
                        multiple
                        v-model="filter_attribute.attribute_values.attribute_value"
                        label="full_name"
                        index="id"
                        :options="filter_attribute.is_auto_gen ? generateOptions(listUsers, 30, 'full_name') : generateOptionsExistEmpty(listUsers, 30, 'full_name')"
                      >
                        <template
                          slot="option"
                          slot-scope="option"
                        >{{ option.full_name | truncateWords }}</template>
                        <span slot="no-options">Không tìm thấy</span>
                      </v-select>
                    </div>
                  </div>
                  <div
                    class="m--margin-top-5"
                    v-if="filter_attribute.external_attribute == 1 && filter_attribute.code_external_attribute == 'shipping_status'"
                  >
                    <div class="form-group m-form__group">
                      <v-select
                        :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                        :on-change="keyUpFilterChange"
                        multiple
                        v-model="filter_attribute.attribute_values.attribute_value"
                        label="name"
                        index="id"
                        :options="shippingStatus"
                      >
                        <template
                          slot="option"
                          slot-scope="option"
                        >{{ option.name | truncateWords }}</template>
                        <span slot="no-options">Không tìm thấy</span>
                      </v-select>
                    </div>
                  </div>
                  <div
                    class="m--margin-top-5"
                    v-if="filter_attribute.external_attribute == 1 && filter_attribute.code_external_attribute == 'type_customer'"
                  >
                    <div class="form-group m-form__group">
                      <v-select
                        :disabled="filter_attribute.is_hidden === 1 && filter_type != 3"
                        :on-change="keyUpFilterChange"
                        multiple
                        v-model="filter_attribute.attribute_values.attribute_value"
                        label="customer_type_name"
                        index="id"
                        :options="filter_attribute.is_auto_gen ? generateOptions(customer_types, 30 , 'customer_type_name') : generateOptionsExistEmpty(customer_types, 30 , 'customer_type_name')"
                      >
                        <template
                          slot="option"
                          slot-scope="option"
                        >{{ option.customer_type_name | truncateWords }}</template>
                        <span slot="no-options">Không tìm thấy</span>
                      </v-select>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>

          <!--Update filter-->
          <div
            class="modal fade s--modal-update-filter-save s--modal nt-modal-center"
            id="updateFilterSave"
            data-backdrop="static"
            data-keyboard="false"
          >
            <div class="modal-dialog" style="max-width: 600px;">
              <div class="modal-content">
                <div class="modal-header nt-background-header-gradient">
                  <h5 class="modal-title nt-title-icon-modal">Cập nhật bộ lọc</h5>
                  <a
                    @click.prevent="resetDataCreateFilter()"
                    style="color: #FFFFFF;cursor: pointer;position: absolute;top: 50%;right: 20px;transform: translate(0px, -50%);"
                    data-dismiss="modal"
                  >
                    <i style="font-size:18px" class="fa fa-times"></i>
                  </a>
                </div>
                <div class="modal-body" style="overflow: inherit;">
                  <form class="m-form m-form--state">
                    <div
                      class="form-group m-form__group"
                      :class="{ 'has-danger': errors.has('createFilter.name') || filterActive.unique}"
                    >
                      <label for="filter_name" class="form-control-label nt-label">
                        Tên bộ lọc
                        <span class="text-danger">*</span>
                      </label>
                      <input
                        @keyup="checkUniqueFilterName()"
                        v-model="filterActive.name"
                        data-vv-scope="updateFilter"
                        type="text"
                        name="name"
                        id="filter_name"
                        class="form-control"
                        v-validate="{ required: true, max: 250 }"
                      />
                      <div
                        class="form-control-feedback m--font-danger"
                        v-if="errors.has('createFilter.name')"
                      >
                        {{
                        errors.first('updateFilter.name') }}
                      </div>
                      <div
                        class="form-control-feedback m--font-danger"
                        v-else-if="filterActive.unique"
                      >Tên bộ lọc bị trùng</div>
                      <div
                        class="form-control-feedback m--font-danger"
                        v-else-if="!errors.has('updateFilter.name')"
                      >&nbsp;</div>
                    </div>
                    <div class="form-group m-form__group">
                      <label for="filter_name" class="form-control-label nt-label">
                        Hiển thị
                        với
                      </label>
                      <div class="m-radio-inline">
                        <label class="m-radio">
                          <input type="radio" v-model="filterActive.status" :value="1" /> Mình
                          tôi
                          <span></span>
                        </label>
                        <label class="m-radio">
                          <input type="radio" v-model="filterActive.status" :value="2" /> Tất cả
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer justify-content-end">
                  <button
                    type="button"
                    @click.prevent="cancelEditFilterOfMe()"
                    class="nt-button nt-button-secondary nt-button-small"
                    data-dismiss="modal"
                  >Hủy bỏ</button>
                  <button
                    type="button"
                    :disabled="errors.has('updateFilter.name') || clickLoader || filterActive.unique"
                    :class="{'nt-button-disabled' : errors.has('updateFilter.name') || clickLoader || filterActive.unique}"
                    class="nt-button nt-button-warning nt-button-small"
                    @click.prevent="updateFilterOfMe('updateFilter')"
                  >Cập nhật</button>
                </div>
              </div>
            </div>
          </div>

          <!--Create filter-->
          <div
            class="modal fade s--modal-create-filter-save s--modal nt-modal-center"
            id="createFilterSave"
            data-backdrop="static"
            data-keyboard="false"
          >
            <div class="modal-dialog" style="max-width: 600px;">
              <div class="modal-content">
                <div class="modal-header nt-background-header-gradient">
                  <h5 class="modal-title nt-title-icon-modal">Lưu bộ lọc</h5>
                  <a
                    @click.prevent="resetDataCreateFilter()"
                    style="color: #FFFFFF;cursor: pointer;position: absolute;top: 50%;right: 20px;transform: translate(0px, -50%);"
                    data-dismiss="modal"
                  >
                    <i style="font-size:18px" class="fa fa-times"></i>
                  </a>
                </div>
                <div class="modal-body" style="overflow: inherit;">
                  <form class="m-form m-form--state">
                    <div
                      class="form-group m-form__group"
                      :class="{ 'has-danger': errors.has('createFilter.name') || addNewFilter.unique }"
                    >
                      <label for="filter_name" class="form-control-label nt-label">
                        Tên bộ lọc
                        <span class="text-danger">*</span>
                      </label>
                      <input
                        @keyup="checkUniqueFilterName()"
                        v-model="addNewFilter.name"
                        data-vv-scope="createFilter"
                        type="text"
                        name="name"
                        class="form-control"
                        v-validate="{ required: true, max: 250 }"
                      />
                      <div
                        class="form-control-feedback m--font-danger"
                        v-if="errors.has('createFilter.name')"
                      >
                        {{
                        errors.first('createFilter.name') }}
                      </div>
                      <div
                        class="form-control-feedback m--font-danger"
                        v-else-if="addNewFilter.unique"
                      >Tên bộ lọc bị trùng</div>
                      <div
                        class="form-control-feedback m--font-danger"
                        v-else-if="!errors.has('createFilter.name')"
                      >&nbsp;</div>
                    </div>
                    <div class="form-group m-form__group">
                      <label for="filter_name" class="form-control-label nt-label">
                        Hiển thị
                        với
                      </label>
                      <div class="m-radio-inline">
                        <label class="m-radio">
                          <input type="radio" v-model="addNewFilter.status" :value="1" /> Mình
                          tôi
                          <span></span>
                        </label>
                        <label class="m-radio">
                          <input type="radio" v-model="addNewFilter.status" :value="2" /> Tất cả
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer justify-content-end">
                  <button
                    type="button"
                    @click.prevent="resetDataCreateFilter()"
                    class="nt-button nt-button-secondary nt-button-small"
                    data-dismiss="modal"
                  >Hủy bỏ</button>
                  <button
                    type="button"
                    :disabled="errors.has('createFilter.name') || !filterCompleted || clickLoader || addNewFilter.unique"
                    :class="{'nt-button-disabled' : errors.has('createFilter.name') || !filterCompleted || clickLoader || addNewFilter.unique}"
                    class="nt-button nt-button-warning nt-button-small"
                    @click.prevent="saveCreateFilter('createFilter')"
                  >
                    Lưu
                    lại
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Button -->
      <div
        class="text-center"
        style="padding-bottom:20px;"
        v-if="filterCompleted && !errors.any() && !isSelectedFullAttribute && !isErrorValidate"
      >
        <a
          href="javascript:;"
          @click.prevent="addNewCriteria()"
          class="m-link m-link--primary nt-link"
        >
          <i class="la la-plus"></i>&nbsp;Thêm tiêu
          chí
        </a>
      </div>

      <div
        class="d-inline-flex w-100 justify-content-end nt-background-footer"
        style="padding:10px 0px; border-top:solid 1px #CCD2E2"
        v-if="isAddNew"
      >
        <button
          @click.prevent="resetFilterCriteria()"
          type="button"
          class="nt-button nt-button-secondary nt-button-small"
          data-dismiss="modal"
        >Hủy bỏ</button>
        <button
          :disabled=" !filterCompleted || isErrorValidate"
          :class="{'nt-button-disabled': !filterCompleted || isErrorValidate}"
          data-toggle="modal"
          @click="setBeforeSaveCache(filterActive)"
          data-target="#createFilterSave"
          type="button"
          class="nt-button nt-button-warning nt-button-small"
        >Lưu lại</button>
      </div>
      <div
        class="d-inline-flex w-100 justify-content-end nt-background-footer"
        style="padding:10px 0px; border-top:solid 1px #CCD2E2"
        v-if="!isAddNew && isChangeBase && isChangeOldFilter || !isAddNew && (filterActive.status == 1 || filterActive.status != 0 && filterActive.user_id == currentUser.id)"
      >
        <button
          v-if="isChangeBase && isChangeOldFilter"
          :disabled="!filterCompleted || !isChangeOldFilter || isErrorValidate"
          :class="{'nt-button-disabled': !filterCompleted || !isChangeOldFilter || isErrorValidate}"
          data-toggle="modal"
          data-target="#createFilterSave"
          type="button"
          @click="setBeforeSaveCache(filterActive)"
          class="nt-button nt-button-warning nt-button-small"
        >Lưu mới</button>
        <button
          @click.prevent="viewEditFilterOfMe()"
          v-if="(filterActive.status == 1 || filterActive.status != 0 && filterActive.user_id == currentUser.id)"
          :class="{'nt-button-disabled': !filterCompleted || !isChangeBase || !isChangeOldFilter || isErrorValidate}"
          :disabled="!filterCompleted || !isChangeBase || isErrorValidate || !isChangeOldFilter"
          data-toggle="modal"
          data-target="#updateFilterSave"
          type="button"
          class="nt-button nt-button-warning nt-button-small"
        >Cập nhật</button>
      </div>
    </div>
  </div>
</template>
