<script src="./Script.js"></script>

<template>
  <div>
    <div class="s--modal nt-modal-center modal fade" id="changeLevelForCustomer">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header nt-background-header-gradient">
            <h3 class="modal-title nt-title-modal">
              <i class="icon icon-exchange2"></i>&nbsp; Thay đổi cấp độ khách hàng
            </h3>
            <button
              @click.prevent="cancelUpdate()"
              type="button"
              class="close nt-title-icon-modal"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">
                <i class="la la-times"></i>
              </span>
            </button>
          </div>

          <div class="modal-body" style="overflow:inherit;">
            <h3 style="margin-bottom:20px; font-size:20px;" class="nt-color-primary">
              với
              <template
                v-if="customer_checked.length > 0"
              >{{ customer_checked.length + ' khách hàng đã chọn' }}</template>
              <template v-else>{{ pagination.total_item + ' khách hàng' }}</template>
            </h3>
            <form
              class="m-form m-form--state"
              :class="{ 'has-danger': errors.has('changeLevel.levelSelected') }"
            >
              <div class="form-group m-form__group">
                <label for="levelSelected" class="form-control-label nt-label">Cấp độ khách hàng</label>
              </div>
              <v-select
                placeholder="-- Lựa chọn --"
                v-model="customerLevel"
                id="levelSelected"
                name="levelSelected"
                index="id"
                :options="attributeOptionsLevelCustomer"
                :label="'option_value'"
                data-vv-scope="changeLevel"
                v-validate="{ required:true }"
                :on-change="onChangeInput"
              >
                <span slot="no-options">Không tìm thấy</span>
              </v-select>

              <div
                class="form-control-feedback m--font-danger"
                v-if="errors.has('changeLevel.levelSelected')"
              >{{ errors.first('changeLevel.levelSelected') }}</div>
            </form>
          </div>

          <div class="modal-footer nt-background-footer justify-content-end">
            <button
              @click.prevent="cancelUpdate()"
              type="button"
              class="nt-button nt-button-secondary nt-button-modal"
              data-dismiss="modal"
            >Hủy bỏ</button>
            <button
              @click.prevent="changeLevelCustomer('changeLevel')"
              type="submit"
              class="nt-button nt-button-warning nt-button-modal mr-0"
            >Lưu lại</button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal s--modal fade nt--modal-confirm-choice"
      data-backdrop="static"
      data-keyboard="false"
      id="changeDataLevel"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!--<h3 class="nt&#45;&#45;modal-confirm-choice-title">-->
            <!--Thông báo-->
            <!--</h3>-->
            <div class="nt--modal-confirm-choice-content">
              <div
                class="nt--modal-confirm-choice-content-title-top"
              >Admin đã thay đổi dữ liệu. Vui lòng tải lại trang.</div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="nt-button nt-button-warning nt-button-modal"
              data-dismiss="modal"
              @click.prevent="reloadPage()"
            >Đóng</button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal s--modal fade nt--modal-confirm-choice"
      data-backdrop="static"
      data-keyboard="false"
      id="messageChangeLevelForCustomerSuccess"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!--<h3 class="nt&#45;&#45;modal-confirm-choice-title">-->
            <!--Thông báo-->
            <!--</h3>-->
            <div class="nt--modal-confirm-choice-content">
              <div
                class="nt--modal-confirm-choice-content-title-top"
              >Đổi cấp độ cho cho {{ totalSuccess }} khách hàng thành công.</div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="nt-button nt-button-warning nt-button-modal"
              data-dismiss="modal"
            >Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
