<script src="./Script.js"></script>

<template>
  <div>
    <div
      data-backdrop="static"
      data-keyboard="false"
      class="modal s--modal s--modal-right animated fadeInRight"
      id="editProduct"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Chỉnh sửa sản phẩm</h3>
            <button
              type="button"
              class="close"
              aria-label="Close"
              data-dismiss="modal"
              @click.prevent="reset()"
            >
              <span aria-hidden="true">
                <i class="la la-times"></i>
              </span>
            </button>
          </div>

          <div class="modal-body" data-scrollable="true" data-scrollbar-shown="true">
            <form class="m-form m-form--state">
              <div
                class="s--alert m-alert m-alert--outline alert alert-success text-center"
                v-if="isSuccess"
              >
                <div class="s--alert-icon">
                  <i class="la la-check"></i>
                </div>
                <div class="s--alert-message">
                  <h5 class="s--alert-heading">Cập nhật sản phẩm thành công.</h5>
                </div>
              </div>

              <div
                class="s--alert m-alert m-alert--outline alert alert-danger text-center"
                v-if="messageErrorServer"
              >
                <div class="s--alert-icon">
                  <i class="la la-close"></i>
                </div>
                <div class="s--alert-message">
                  <h5 class="s--alert-heading">{{ messageErrorServer }}</h5>
                </div>
              </div>
              <div v-if="attributes && attributes.length">
                <attribute-with-data-type
                  :attributes="attributes"
                  :server_errors="server_errors"
                  :scope="'editProduct'"
                ></attribute-with-data-type>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="mr-2 nt-button nt-button-secondary"
              @click.prevent="reset()"
              data-dismiss="modal"
            >Hủy bỏ</button>
            <button
              :disabled="errors.any() || isLoader || !isChange"
              :class="{'nt-button-disabled' : errors.any() || isLoader || !isChange}"
              type="submit"
              class="nt-button nt-button-warning mr-0"
              @click.prevent="update('editProduct')"
            >
              <template>Cập nhật</template>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
