<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div>
    <div
      class="modal s--modal fade nt--modal-confirm-choice"
      data-backdrop="static"
      data-keyboard="false"
      id="emailSchedulerEmailPopup"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header nt-background-header-gradient">
            <h5 class="modal-title nt-title-icon-modal d-flex align-items-center">
              <i class="icon icon-plus" style="margin-right: 10px"></i>
              Thêm nội dung
            </h5>
            <span class="btn-reset" data-dismiss="modal" @click="reset">
              <i class="icon icon-cancel"></i>
            </span>
          </div>
          <div class="modal-body" style="padding: 0">
            <Loading :is_loader="isLoading" />
            <div v-if="items.length">
              <div class="infinite-scroll">
                <div
                  v-for="(item, index) in items"
                  :key="index"
                  class="d-flex align-items-center body-item"
                  :class="{ 'border-bottom-0': index === items.length - 1,'selected': item.isSelected }"
                >
                  <label class="nt-checkbox nt-checkbox-primary mb-0">
                    <input
                      type="checkbox"
                      :checked="item.isSelected"
                      @change="toggleSelect($event.target.checked, item)"
                    />
                    <span class="nt-checkbox-symbol" style="top: 50%; transform: translateY(-50%)"></span>
                  </label>
                  <div class="email-info">
                    <div class="email-title nt_text-ellipsis">{{ item.title }}</div>
                    <div class="email-code">{{ item.code }}</div>
                  </div>
                  <select
                    class="form-control item-amount ml-auto"
                    v-model="item.selectedTimes"
                    :disabled="!item.isSelected"
                  >
                    <!-- @change="getNumberOfSelected(item, $event.target.value)" -->
                    <option v-for="(option, indexA) in options" :key="indexA">{{ option }}</option>
                  </select>
                </div>
                <infinite-loading @infinite="loadEmails">
                  <span slot="no-more"></span>
                  <span slot="no-results"></span>
                </infinite-loading>
              </div>
            </div>
            <div v-else style="padding: 20px">Chưa có mẫu email nào.</div>
          </div>
          <div class="modal-footer">
            <span class="mr-auto selected-items">Đã chọn: {{ numberOfSelected }}</span>
            <div class="ml-auto d-flex">
              <button
                type="button"
                class="nt-button nt-button-secondary"
                data-dismiss="modal"
                @click="reset"
              >Huỷ bỏ</button>
              <button
                type="button"
                class="nt-button nt-button-warning nt-button-modal"
                data-dismiss="modal"
                style="margin-right: 0"
                :disabled="!selectedItems.length"
                @click="submit"
              >Chọn</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
