.selected-items {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

button {
  &:disabled {
    opacity: .4;
  }
}

.btn-reset {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0px, -50%);
}

.infinite-scroll {
  max-height: 362px;
  overflow-y: scroll;

  .body-item {
    padding: 15px 20px;
    border-bottom: 1px solid #EBEDF2;

    &:last-of-type {
      background: red;
      border-bottom: 0
    }

    &:hover,
    &.selected {
      background: #F2F3F8;
    }

    .email-info {
      margin-left: 10px;
      max-width: calc(100% - 100px);

      .email-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }

      .email-code {
        font-size: 14px;
        line-height: 21px;
        color: #868EAA;
      }
    }

    .item-amount {
      flex: 0 0 45px;
      padding: 0;
      padding-left: 5px;
    }
  }
}