<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div class="m-content">
    <div style="display: inline-block;width: 100%;">
      <div
        class="m-portlet m-portlet--mobile mb-0 position-relative"
        style="float:left;"
        :style="{  width:  '100%' }"
      >
        <div class="m-portlet__body">
          <div class="dataTables_wrapper">
            <div
              class="table-responsive nt-scroll-primary"
              id="table-responsive-data"
              v-if="emailSchedulerList.length > 0"
            >
              <table
                class="table table-bordered table-hover s--table s--table-customer-list nt-table-list nt-table-list-all"
              >
                <thead>
                  <tr>
                    <!-- <th class="action">Tác vụ</th> -->
                    <th class="email-scheduler-name">Tên lịch gửi</th>
                    <th class="email-scheduler-status">Trạng thái</th>
                    <th class="email-scheduler-start-date">Ngày bắt đầu</th>
                    <th class="email-scheduler-end-date">Ngày kết thúc dự kiến</th>
                    <th class="email-scheduler-created-by">Tạo bởi</th>
                    <th class="email-scheduler-created-at">Tạo lúc</th>
                    <th class="email-scheduler-updated-by">Người chỉnh sửa cuối</th>
                    <th class="email-scheduler-updated-at">Lần chỉnh sửa cuối</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(emailScheduler, index) in emailSchedulerList" :key="index">
                    <!-- <td class="text-center action">
                      <button
                        aria-expanded="true"
                        aria-haspopup="true"
                        data-toggle="dropdown"
                        class="btn m-btn m-btn--icon m-btn--icon-only m-btn--pill nt-button-hover-primary"
                      >
                        <i class="la la-ellipsis-h"></i>
                      </button>
                      <div class="dropdown-menu nt-dropdown-menu">
                        <router-link
                          class="dropdown-item"
                          :to="{name : 'detailEmailTemplate', params : {team_id : currentTeam.team_id, email_template_id: 1} }"
                        >
                          <i class="la la-edit"></i>
                          Xem và Chỉnh sửa
                        </router-link>
                      </div>
                    </td>-->
                    <td class="email-scheduler-name">
                      <router-link
                        data-toggle="m-tooltip"
                        data-placement="bottom"
                        :data-original-title="emailScheduler.name"
                        class="m-link m-link--primary nt-link"
                        :to="{name : 'emailSchedulerDetails' , params : {team_id : currentTeam.team_id, email_scheduler_id : emailScheduler.id} }"
                      >{{ emailScheduler.name  }}</router-link>
                    </td>
                    <td class="email-scheduler-status">
                      <span
                        class="m-switch m-switch--outline m-switch--success nt-switch nt-switch-success"
                      >
                        <label>
                          <template v-if="emailScheduler.is_active">
                            <input
                              type="checkbox"
                              :value="emailScheduler.is_active"
                              checked
                              disabled
                            />
                          </template>
                          <template v-else>
                            <input :value="emailScheduler.is_active" disabled />
                          </template>
                          <span></span>
                        </label>
                      </span>
                    </td>
                    <td
                      class="email-scheduler-start-date"
                    >{{ emailScheduler.start_date | formatDateTime }}</td>
                    <td
                      class="email-scheduler-end-date"
                    >{{ emailScheduler.end_date | formatDateTime }}</td>
                    <td class="email-scheduler-created-by">
                      <user-object-loading
                        :user_id="emailScheduler.created_by"
                        :is_dropdown="false"
                      ></user-object-loading>
                    </td>
                    <td
                      class="email-scheduler-created-at"
                    >{{ emailScheduler.created_at | formatDateTime(false) }}</td>
                    <td class="email-scheduler-updated-by">
                      <user-object-loading
                        :user_id="emailScheduler.updated_by"
                        :is_dropdown="false"
                      ></user-object-loading>
                    </td>
                    <td
                      class="email-scheduler-updated-at"
                    >{{ emailScheduler.updated_at | formatDateTime(false) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-if="!isLoaderList && emailSchedulerList.length <= 0" class="s--not-found">
              <span>Chưa có lịch gửi nào.</span>
            </div>
            <div
              v-else
              class="dataTables_paginate paging_simple_numbers m--margin-top-20 d-flex justify-content-end"
            >
              <pagination :loader="isLoaderList" :pagination="pagination" @paginate="getPagination"></pagination>
            </div>
          </div>
          <loading-table :is_loader="isLoaderList"></loading-table>
        </div>
      </div>
    </div>
    <EmailSchedulerPopup />
  </div>
</template>
