
#popupExpire, #popupIsCommingExpire, #demo {
    .popup-success-title {
        text-align: center;
        margin: 0 auto;
        padding: 35px 0 5px;
        color: #333333;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;

    }
    .popup-success-desc {
        width: 100%;
        padding: 0 2rem;
        .popup-success-desc-top {
            text-align: center;
            margin: auto;
            font-size: 30px;
            line-height: 36px;
        }
        .popup-success-desc-bottom {
            text-align: center;
            margin: auto;
            font-size: 20px;
        }
        .popup-expire-list {
            margin: 20px 0;
            font-size: 14px;
            color: #333333;
            line-height: 1.8rem;
            strong {
                font-weight: 500;
            }
            span {
                color: #B82E45;
            }
        }
        .popup-expire-bottom {
            font-size: 20px;
            text-align: center;
            width: 100%;
            a {
                text-decoration: underline;
            }
            strong {
                font-weight: 500;
            }
            span {
                color: #B82E45;

            }
        }

    }
    .popup-success-btn button{
        margin:20px auto;
        background: #FF8A00;
        color: #ffffff;
    }
}
