@media (min-width: 1025px) {
  .m-header {
    height: 60px !important;
  }

  .m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav>.m-menu__item:hover>.m-menu__link,
  .m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav>.m-menu__item.m-menu__item--hover>.m-menu__link {
    background-color: transparent;
  }
}

.m-card-user .m-card-user__pic img {
  max-width: 40px !important;
  border-radius: inherit;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__userpic img {
  max-width: 40px !important;
  margin: 0;
}

.m-subheader {
  padding: 20px;

  .breadcrumbs {
    li {
      font-size: 14px;

      i {
        font-size: 14px;
      }
    }
  }

  .m-subheader .m-subheader__breadcrumbs.m-nav>.m-nav__item {
    a {
      color: #2A94DB;

      &:hover {
        color: #2A94DB;
      }
    }
  }

  &.s--subheader .m-subheader__title {
    padding: 4px 25px 4px 0;
  }

  .m-subheader__breadcrumbs.m-nav>.m-nav__item:last-of-type span {
    max-width: 300px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .nt-list-top-actions {
    display: inline-flex;

    @include mediaQueryMax(1023px) {
      width: 100%;
      margin-top: 0.75rem;
    }

    @include mediaQueryMax(480px) {
      flex-direction: column;

      a {
        margin-bottom: 10px;
        width: 100% !important;
        margin-right: 0;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .m--top-action {
    margin-right: 5px;
  }

  .m--top-action:last-child {
    margin-right: 0px;
  }

  &.s--subheader {
    .s--subheader-content {
      @include mediaQueryMin(768px) {
        display: flex;
        align-items: center;
      }

      .breadcrumbs {
        margin-bottom: 15px;
      }
    }
  }

  @include mediaQueryMax(1023px) {
    .s--subheader-content {
      flex-direction: column;
    }

    .breadcrumbs {
      margin: 0.75rem 0;

      .m-subheader__breadcrumbs {
        margin: 0.75rem 0;
      }
    }

  }

}

.m-header {
  z-index: 1000 !important;
}

.m-nav .m-nav__item:hover:not(.m-nav__item--disabled)>.m-nav__link .m-nav__link-icon,
.m-nav .m-nav__item:hover:not(.m-nav__item--disabled)>.m-nav__link .m-nav__link-text,
.m-nav .m-nav__item:hover:not(.m-nav__item--disabled)>.m-nav__link .m-nav__link-arrow,
.m-nav .m-nav__item.m-nav__item--active>.m-nav__link .m-nav__link-icon,
.m-nav .m-nav__item.m-nav__item--active>.m-nav__link .m-nav__link-text,
.m-nav .m-nav__item.m-nav__item--active>.m-nav__link .m-nav__link-arrow,
.m-nav .m-nav__section .m-nav__section-text {
  //color: #2A94DB !important;
}

.m-header-search {
  .m-header-search__wrapper {
    border-radius: 4px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

.s--nav-custom a {
  display: block;
  padding: .85rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: #3f4047;

  &:hover {
    //color: #00788a;
    text-decoration: none;
  }
}

.s--nav-custom a i {
  font-size: 14px;
  margin-right: 3px;
}

.s--nav-custom ul {
  width: 100%;
}

.s--nav-custom li {
  list-style-type: none;
}

.s--nav-custom ul a:hover {}

.s--nav-custom ul ul {
  display: none;
}

.s--nav-custom li.active>ul {
  display: block;
}

.s--nav-custom li a.is-active {
  color: #00a4bd;
}

.s--nav-custom ul a {
  padding-left: 0;
}

.s--nav-custom ul ul a {
  padding-left: 15px;
}

.s--nav-custom ul ul ul a {
  padding-left: 30px;
}

.s--nav-custom ul ul ul ul a {
  padding-left: 45px;
}

.s--nav-custom li.active>a>i {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.m-header-menu.s--header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item:hover>.m-menu__link .m-menu__link-text,
.m-header-menu.s--header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--hover>.m-menu__link .m-menu__link-text {
  color: #00a4bd;
}

.m-header-menu.s--header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item:hover>.m-menu__link>.m-menu__hor-arrow,
.m-header-menu.s--header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--hover>.m-menu__link>.m-menu__hor-arrow {
  color: #00a4bd;
}

.m-header-menu.s--header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav>.m-menu__item:hover>.m-menu__link .m-menu__link-text,
.m-header-menu.s--header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav>.m-menu__item.m-menu__item--hover>.m-menu__link .m-menu__link-text {
  color: #00a4bd;
}


.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__username {
  text-transform: inherit;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .s--topbar__username .s--topbar__username-name {
  font-weight: 500;
  font-size: 1rem;
}

.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .s--topbar__username .s--topbar__username-company {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .s--topbar__username .s--topbar__username-name,
.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .s--topbar__username .s--topbar__username-company {
  text-transform: inherit;
  color: #676c7b;
  max-width: 150px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .s--topbar__username .s--topbar__username-icon {
  position: absolute;
  right: 0;
  color: #676c7b;
  top: 50%;
  transform: translateY(-50%);

  i {
    font-size: .8rem;
  }
}

.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon {
  &:hover {
    color: #00a4bd;
  }
}

.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon.m-nav__link-icon--active .m-nav__link-icon-wrapper,
.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon:hover .m-nav__link-icon-wrapper {
  background: #00a4bd;
  border: 1px solid #00a4bd;
}

.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .s--topbar__username .s--topbar__username-icon {
  position: absolute;
  right: 0;
  color: #676c7b;
  top: 50%;
  transform: translateY(-50%);

  i {
    font-size: .8rem;
  }
}

.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon {
  &:hover {
    color: #00a4bd;
  }
}

.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon.m-nav__link-icon--active .m-nav__link-icon-wrapper,
.s--topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon:hover .m-nav__link-icon-wrapper {
  background: #00a4bd;
  border: 1px solid #00a4bd;
}

.m-header-menu .m-menu__nav>.m-menu__item.s-menu__item-info-organization {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 60%;
    top: 20%;
    right: 0;
    background-color: #e2e5ec;
  }

  @include mediaQueryMax(1024px) {
    &:after {
      display: none;
    }
  }

  .s--menu_link_active {
    img {
      max-height: 40px;

      @include mediaQueryMax(1024px) {
        max-width: 100%;
      }
    }
  }
}

#m_header_topbar {
  @include mediaQueryMax(1024px) {
    padding-right: 40px;
  }

  .m-topbar__nav-wrapper {
    @include mediaQueryMax(1024px) {
      position: relative;
      z-index: 2;
    }
  }

  ul {
    li {
      .m-dropdown__wrapper {
        .m-dropdown__arrow {
          @include mediaQueryMax(768px) {
            transform: translateX(-55px);
          }
        }
      }

      .nt-btn-setting {
        position: relative;
        top: 50%;
        color: #444F78;
        transform: translateY(-50%);
        font-size: 20px;
        display: block;

        &:hover {
          color: #BB1130
        }
      }
    }
  }
}

#m_aside_header_menu_mobile_toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 10px;
}

.m-dropdown__content {
  .m-nav--skin-light li:last-child {
    width: 0;
  }

  .m-nav__item {
    .m-nav__link-icon img {
      position: relative;
      top: -2px;
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }

    .m-nav__link {
      .m-nav__link-text {
        word-break: break-all;
        display: block;
        margin-left: 5px;
      }
    }
  }

  .m-nav__item {
    width: 100%;
    height: 100%;

    &:hover {
      background-color: #f7f8fa;
      cursor: pointer;
    }

  }

  .m-nav__organization {
    .m-nav__organization--title {
      float: left;
      font-size: 11px;
      right: 10px;
      margin-bottom: 15px
    }

    .m-nav__organization--role {
      float: right;
      font-size: 11px;
      text-align: right;
    }

    margin-bottom: 15px;

    .m-nav__organization-list {
      max-height: 100px;
      overflow-y: auto;
      display: flex;
      width: 100%;
      flex-direction: column;

      &::-webkit-scrollbar {
        width: 5px
      }

      ;
    }
  }

}

.nt-header-nav {
  .nt-header-nav-item {
    position: relative;
    padding: 0 10px !important;

    &.nt-header-nav-item-organization {
      max-width: 260px;

      .m-menu__toggle {
        background-color: #F8F8FB;
        border-left: 1px solid #EBEDF2;
        border-right: 1px solid #EBEDF2;
        padding: 0 10px;

        @include mediaQueryMax(1024px) {
          padding: 10px;
          border: none;
        }
      }

      @include mediaQueryMax(1024px) {
        margin-top: 20px;
      }

      .nt-header-subnav {
        padding-bottom: 0 !important;
        width: 300px;

        @include mediaQueryMax(1024px) {
          width: 100%;
        }
      }

      .nt-header-subnav-body {
        max-height: 300px;
        overflow-y: auto;
        margin-bottom: 13px;
        margin-right: 6px;

        &::-webkit-scrollbar {
          width: 6px;
        }
      }

      .nt-header-subnav-item-create-organization {
        .m-menu__link {
          display: flex !important;
          align-items: center;
          justify-content: center;
          padding: 12px 0 !important;
          border-top: 1px solid #EBEDF2;
          color: #2A94DB;

          i {
            color: #2A94DB !important;
          }

          &:hover {
            color: #2A94DB;

            i {
              color: #2A94DB !important;
            }
          }
        }
      }
    }

    @include mediaQueryMax(1280px) {
      padding: 0 10px !important;
    }

    a {
      .m-menu__link-text {
        color: #444F78 !important;
        font-size: 15px !important;
        font-weight: 500 !important;
      }

      .m-menu__hor-arrow {
        width: 18px !important;
        color: #444F78 !important;
        font-size: 12px !important;
        padding-top: 5px !important;
      }
    }

    .nt-header-subnav-item-organization {
      display: flex;
      align-items: center;
      height: 40px;
      position: relative;

      @include mediaQueryMax(1024px) {
        margin: 5px 0 !important;
      }

      .nt-header-subnav-item-organization-group {
        // calc(100% - 25px)
        width: 100%;
      }

      .nt-header-subnav-item-organization-image {
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 10px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .nt-header-subnav-item-organization-info {
        position: relative;
        width: calc(100% - 55px);
        float: left;

        .nt-header-subnav-item-organization-info-name {
          margin-bottom: 0;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #444F78;
          display: block !important;
          display: -webkit-box !important;
          -webkit-line-clamp: 1;
          -moz-line-clamp: 1;
          -ms-line-clamp: 1;
          -o-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          -ms-box-orient: vertical;
          -o-box-orient: vertical;
          box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }

        .nt-header-subnav-item-organization-info-role {
          font-size: 13px !important;
          line-height: 16px;
          color: #838CAB !important;
        }
      }

      &.is-active {
        .nt-header-subnav-item-organization-info {
          .nt-header-subnav-item-organization-info-name {
            color: #B82E45;
          }
        }
      }
    }

    .nt-header-subnav {

      padding: 0;

      .nt-header-subnav-item {
        position: relative;

        &:hover {
          .nt-header-subnav-item-organization-settings {
            display: block !important;
          }
        }

        a {
          display: flex !important;
          padding: 7px 30px 7px 20px !important;

          &.nt-header-subnav-item-organization-settings {
            width: 25px;
            float: left;
            text-align: right;
            color: #444F78;
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            padding: 0 !important;

            &:hover {
              color: #444F78;

            }

            i {
              margin-right: 0 !important;
            }

            display: none !important;
          }

          span {
            color: #444F78 !important;
            font-size: 14px !important;


          }

          i {
            margin-right: 10px;
            color: #444F78 !important;
            font-size: 16px !important;
          }

          &.router-link-exact-active,
          &:hover {

            span {
              color: #B82E45 !important;
            }

            i {
              color: #B82E45 !important;
            }
          }

          &.nt-header-subnav-item-organization {
            color: inherit !important;

            &:hover {
              background-color: #F9FAFC !important;

              span,
              i {
                color: inherit !important;
              }

              .nt-header-subnav-item-organization-info-role {
                color: #838CAB !important;
              }

              .nt-header-subnav-item-organization-info-name {
                color: #444F78;
              }

              &.is-active {
                .nt-header-subnav-item-organization-info-name {
                  color: #B82E45;
                }
              }
            }
          }
        }
      }
    }

    &.m-menu__item--hover {

      a {
        span {
          color: #B82E45 !important;
        }

        i {
          color: #B82E45 !important;
        }
      }

      &.nt-header-nav-item-organization {
        a {

          span,
          i {
            color: inherit !important;
          }
        }
      }
    }
  }
}

.nt-topbar__user-profile {
  .nt-dropdown__header {
    padding: 13px 0;
    background: linear-gradient(90deg, #B82E45 0%, #7D438E 100%);
  }

  .nt-card-user__name {
    font-size: 16px !important;
    line-height: 19px;
    color: #fff !important;
  }

  .nt-card-user__email {
    font-size: 14px !important;
    line-height: 17px;
    color: #fff !important;
  }

  .nt-topbar__user-profile-nav {
    .nt-topbar__user-profile-nav-item {
      &:hover {
        background-color: transparent !important;

        .m-nav__link-icon,
        .m-nav__link-text {
          color: #b82e45 !important;
        }
      }

      .m-nav__link-icon,
      .m-nav__link-text {
        color: #444F78 !important;
      }

      .m-nav__link-icon {
        width: 25px !important;
      }

      .m-nav__link-text {
        font-size: 14px !important;
        line-height: 17px !important;
      }
    }
  }

  .m-dropdown__wrapper {
    @include mediaQueryMax(375px) {
      width: 260px !important;
    }
  }
}

.nt-nav__item-launchpad {
  .m-dropdown__wrapper {
    width: 340px !important;

    @include mediaQueryMax(768px) {
      left: auto !important;
      right: 0 !important;

    }

    @include mediaQueryMax(480px) {
      width: 220px !important;
    }
  }

  .nt-nav__item-launchpad-dropdown {
    display: block;
    text-align: center;
    color: #444F78;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .nt-nav__item-launchpad-list {
    list-style: none;
    margin-top: 14px;
    display: inline-block;

    .nt-nav__item-launchpad-list-item {
      width: 60px;
      float: left;
      text-align: center;
      margin-bottom: 20px;
      margin-right: 20px;

      &:nth-of-type(4n) {
        margin-right: 0;
      }

      @include mediaQueryMax(480px) {
        &:nth-of-type(4n) {
          margin-right: 20px;
        }

        &:nth-of-type(2n) {
          margin-right: 0;
        }
      }

      .nt-nav__item-launchpad-list-item-link {
        display: block;

        .nt-nav__item-launchpad-list-item-link-image {
          width: 100%;
          height: 60px;
          display: block;
          border-radius: 4px;
          border: 1px solid #E9E9E9;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 50%
          }

          &:hover {
            &.crm {
              background: #F8E9E0;
              border-color: #F1D4C0
            }

            &.hrm {
              background: #E9D9EF;
              border-color: #D9AFE5
            }

            &.cem {
              background: #E5EAF9;
              border-color: #BAC6EF
            }

            &.em {
              background: #E7F5E8;
              border-color: #BEE3C1
            }
          }
        }

        .nt-nav__item-launchpad-list-item-link-text {
          margin-top: 6px;
          font-size: 14px;
          line-height: 17px;
          color: #444F78;
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .m-stack.m-stack--general.m-stack--ver>.m-stack__item.m-stack__item--middle.m-brand__logo {
    padding-left: 10px;
  }

  .m-brand .m-brand__logo .m-brand__logo-wrapper img {
    max-width: 100%;
    max-height: 40px;
  }

  .m-topbar .m-topbar__nav.m-nav {
    display: flex;

    .m-nav__item {
      padding: 0 10px;

      @media (max-width: 320px) {
        padding: 0 5px;
      }
    }
  }

  .m-header .m-brand {
    padding: 0;
  }

  .m-header--fixed-mobile .m-topbar {
    padding: 0;
  }
}

@include mediaQueryMax(480px){
  .m-brand .m-brand__logo .m-brand__logo-wrapper{
    display: none;
  }
}

@include mediaQueryMax(1365px) {

  .m-header-menu .m-menu__nav>.m-menu__item.m-menu__item-logo,
  .m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__username {
    display: none;
  }
}

.m-header-menu .m-menu__nav>.m-menu__item.m-menu__item-logo {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;

  @include mediaQueryMax(1280px, 1024px) {
    display: none !important;
  }
}

.m-header-menu .m-menu__nav>.m-menu__item.nt-nav-item-mobile {
  display: none;

  @include mediaQueryMax(767px) {
    display: block;
  }
}

.m-topbar .m-topbar__nav.m-nav .m-nav__item.m-nav__item-setting {
  @include mediaQueryMax(767px) {
    display: none;
  }
}

.m-topbar .m-topbar__nav.m-nav .m-nav__item.m-nav__item-logo {
  display: none;

  @include mediaQueryMax(1024px) {
    display: flex;
    position: absolute;
    left: 10px;
    padding: 0;
    align-items: center;
  }

  @include mediaQueryMax(480px) {
    display: none;
  }
}

.m-header-menu .m-menu__nav>.m-menu__item .m-menu__link.router-link-exact-active .m-menu__link-text,
.m-header-menu .m-menu__nav>.m-menu__item .m-menu__link.router-link-exact-active .m-menu__hor-arrow,
.m-header-menu .m-menu__nav>.m-menu__item .m-menu__link.router-link-exact-active .m-menu__ver-arrow {
  color: #B82E45 !important;
}

.m-tooltip.bs-tooltip-bottom.nt-tooltip-error .arrow::before,
.m-tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-top-color: #B82E45 !important;
  border-bottom-color: #B82E45 !important;
}

.m-tooltip.bs-tooltip-top.nt-tooltip-error .arrow::before,
.m-tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #B82E45 !important;
  border-bottom-color: #B82E45 !important;
}

.nt-tooltip-error {
  .tooltip-inner {
    background-color: #B82E45 !important;
  }
}

.m-tooltip.bs-tooltip-bottom.nt-tooltip-organization-setting .arrow::before,
.m-tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-top-color: #444F78;
  border-bottom-color: #444F78;
}

.m-tooltip.bs-tooltip-top.nt-tooltip-organization-setting .arrow::before,
.m-tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #444F78;
  border-bottom-color: #444F78;
}

.nt-tooltip-organization-setting {
  left: 55px !important;

  .arrow {
    left: 58px !important;
  }

  .tooltip-inner {
    font-family: 'Barlow',
      sans-serif !important;
    background-color: #444F78;
    color: #fff;
    border-radius: 4px !important;
  }
}

.m-tooltip.bs-tooltip-bottom .arrow::before,
.m-tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-top-color: #444F78;
  border-bottom-color: #444F78;
}

.m-tooltip.bs-tooltip-top .arrow::before,
.m-tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #444F78;
  border-bottom-color: #444F78;
}

.m-tooltip.bs-tooltip-left .arrow::before,
.m-tooltip.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-right-color: #444F78;
  border-left-color: #444F78;
}

.m-tooltip.bs-tooltip-right .arrow::before,
.m-tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #444F78;
  border-left-color: #444F78;
}

.m-tooltip.tooltip {
  .tooltip-inner {
    background-color: #444F78;
    color: #fff;
    border-radius: 4px !important;
  }
}

.nt-tooltip-category-task-info {
  .tooltip-inner {
    max-width: 250px;
    text-align: left;
  }
}

.nt-tooltip-info-warning {
  .tooltip-inner {
    max-width: 240px;
    text-align: left;
  }
}