.s-media-file{
  position: relative;
  width: 100%;
  min-height: 130px;
  border: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  &.s-media-file-checked{
    border: 1px solid #00a4bd !important;
  }
  .success{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    z-index: 2;
    i{
      font-size: 16px;
    }
    &.is-show{
      display: block;
    }
  }
}
.s-media-link {
  padding-top: 20px;
}

.s--modal-delete-file{
  &.show{
    background-color: rgba(0,0,0,0.2);
  }
  .modal-dialog{
    float: none;
    height: auto;
    margin: 1.75rem auto;
  }
}

.s--file-item{
  .image{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;

    &:after{
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background-color: rgba(0,0,0,0.3);
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    .s--file-item-download{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 0;
      i{
        font-size: 30px;
        color : #fff;
      }
    }

    &:hover{
      &:after{
        opacity: 1;
      }
      .s--file-item-download{
        opacity: 1;
      }
    }
  }
}
