.s-page-bar {
	width: 100%;
    height: 40px;
    background: #fff;
    margin-bottom: 20px;
	.s-page-toolbar {
		float: left;
    	padding: 10px 0 0 15px;
		.s-dropdown {
			.s-dropdown__toggle {
				color: #575962;
				font-weight: 300 !important;
				&:hover {
					text-decoration: none;
				}
			}
			.s-dropdown__wrapper {
				ul.m-nav {
					li.m-nav__item {
						font-size: 13px;
					    background: #f5f5f5;
					    border: 1px solid #f5f5f5;
					    border-radius: 5px;
					    cursor: pointer;
					    color: #000;
					    padding-left: 20px;
					    margin-bottom: 8px;
					    &.active, &:hover {
					    	background: #00a4bd !important;
						    border: 1px solid #00a4bd !important;
						    span {
						    	color: #fff !important;
						    }
					    }
					    a {
					    	padding: 7px 0 !important;
					    }
					}
					li.action-apply {
						float: left;
						a {
							padding: 8px 10px;
						}
					}
				}
			}
		}
	}
}