.bg-iphone {
  background: url("./assets/imgs/iphone.png") 0 50% no-repeat transparent;
  min-height: 500px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  background-size: contain;
}

@media(max-width: 768px) {
  .bg-iphone {
    width: 222px
  }
}

//.bg-android {
//  background: url("../imgs/iphone.png") 325px 50% no-repeat transparent;
//  min-height: 500px
//}
//
//.bg-nokia {
//  background: url("../imgs/iphone.png") 640px 50% no-repeat transparent;
//  min-height: 500px
//}

.iphone-grey-cloud:after {
  //content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 5px 2px;
  border-style: solid;
  border-color: transparent white;
  display: block;
  width: 0
}

.iphone-grey-cloud:before {
  //content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 5px 20px;
  border-style: solid;
  border-color: transparent #e5e5ea;
  display: block;
  width: 0
}

.iphone-grey-cloud {
  //position: absolute;
  //top: 115px;
  //left: 35px;
  //min-height: 50px;
  //max-height: 250px;
  //width: 160px;
  //padding: 8px;
  //background-color: #e5e5ea;
  //border-radius: 9px;
  //color: black;
  //font-size: 11px;
  //line-height: 13px;



  position: absolute;
  top: auto;
  left: 10px;
  min-height: 50px;
  max-height: 250px;
  width: calc(100% - 37px);
  padding: 0;
  border-radius: 9px;
  color: black;
  font-size: 11px;
  line-height: 13px;
  //overflow: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }
}

.iphone-senderid {
  position: absolute;
  top: 50px;
  left: 50%;
  overflow-y: hidden;
  width: 90px;
  height: 13px;
  color: black;
  font-size: 11px;
  line-height: 12px;
  transform: translateX(-50%);
  text-align: center;
}

.iphone-cloud-text {
  //overflow-y: auto;
  //min-height: 50px;
  //max-height: 242px;
  //position: relative;
  //z-index: 2;
  //padding-bottom: 8px;
  //&::-webkit-scrollbar {
  //  width: 2px;
  //}

  min-height: 50px;
  position: relative;
  z-index: 2;
  background-color: #e5e5ea;
  width: 160px;
  margin-left: 15px;
  padding: 8px;
  border-radius: 8px;

  &:after{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 8px;
    left:0;
    bottom:0;
    background-color: red;
  }
}

.android-green-cloud {
  position: absolute;
  top: 135px;
  left: 385px;
  min-height: 40px;
  max-height: 126px;
  overflow-y: hidden;
  width: 147px;
  padding: 5px;
  background-color: #67a243;
  border-radius: 2px;
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px
}

.nokia-white-cloud {
  position: absolute;
  top: 150px;
  left: 680px;
  overflow-y: hidden;
  width: 74px;
  height: 81px;
  color: black;
  background-color: #fff;
  font-size: 9px;
  line-height: 13px;
  font-weight: 400
}

.wordwrap {
  white-space: pre-line;
  //white-space: -moz-pre-line;
  //white-space: -pre-line;
  //white-space: -o-pre-line;
  word-wrap: break-word;
}

div.hint-container-1 {
  padding: 15px 0
}

div.hint-container-1 .char {
  color: #5c5c5c;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  min-height: 50px;
  margin: 5px 0;
  vertical-align: middle
}

@media(max-width: 768px) {
  div.hint-container-1 .char {
    line-height: 40px
  }
}

@media(max-width: 567px) {
  div.hint-container-1 .char {
    line-height: 18px
  }
}

.char:before {
  content: " ";
  width: 28px;
  height: 36px;
  border-radius: 2px;
  display: block;
  float: left;
  margin: 0;
  background-color: #efefef;
  color: #4a4a4a;
  margin-right: 15px;
  margin-bottom: 10px
}

.char.regular:before {
  background-color: #efefef;
  color: #4a4a4a
}

.char.gsm:before {
  background-color: #ffa218;
  color: #fff
}

.char.unicode:before {
  background-color: #fa5858;
  color: #fff
}

.sms-calculator h2.title {
  text-align: center;
  color: #36373c;
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
  margin: 0
}

.sms-calculator label {
  color: #262626;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px
}

.form-horizontal .form-block {
  border-bottom: 1px solid #dadada;
  padding: 34px 30px 12px 0;
  margin-left: 0;
  margin-right: -20px;
  margin-bottom: 5px
}

.from-them{
  position: relative;
  padding: 8px;
  background: #E5E5EA;
  border-radius: 15px;
  color: black;
  float: left;
  width: 160px;
  left: 15px;
  white-space: pre-line;
  word-wrap: break-word;
  min-height: 50px;
  .from-them-text{
    position: relative;
    z-index: 2;
  }
  &:before{
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
  }
  &:after{
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    //left: 4px;
    //width: 26px;
    //height: 20px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
    display: table;
    clear: both;
  }
}

.bg-iphone{
  .content{
    position: relative;
    top: 80px;
    height: 300px;
    overflow: auto;
    margin-right: 15px;
    margin-left: 15px;
    padding: 35px 15px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    .time{
      margin-bottom: 5px;
      color: rgba(0,0,0,0.7);
      text-align: center;
      font-size: 10.5px;
      font-weight: 500;
    }
  }
}

@media(max-width: 992px) {
  .form-horizontal .form-block {
    margin-left: 0;
    margin-right: 0
  }
}

@media(max-width: 768px) {
  .form-horizontal .form-block {
    padding-right: 0
  }
}