.m-portlet__body {
    .head-panel {
        .m-widget5__title {
            float: left;
            display: contents;
        }

        .filter-history {
            width: 40%;
            margin-left: 5px;
            display: inline-block;
        }

        .search-history {
            width: 43%;
            float: right;

            input {
                height: 40px;
            }
        }
    }

    .popup-history-manage {
        max-height: 500px;
        overflow: auto;

        table {
            td {
                vertical-align: top;

                &.old-value,
                &.new-value {
                    max-width: 300px;
                    max-height: 250px;
                    overflow: auto;
                }

                &.old-value {
                    span {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }

    .s-timeline {
        &:before {
            display: none;
        }

        .m-timeline-2__items {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 11.5px;
                width: 2px;
                height: 100%;
                background-color: #E7E9F5;
            }

            .m-timeline-2__item {
                margin-top: 20px;

                &:first-of-type {
                    margin-top: 0;
                    padding-top: 20px;
                }

                &:last-of-type {
                    padding-bottom: 20px;
                }

                .m-timeline-2__item-time {
                    font-size: 13px;
                }

                .m-timeline-2__item-cricle {
                    cursor: text;
                    width: 25px;
                    height: 25px;
                    left: 0;
                    border: 1px solid #E7E9F5;
                    text-align: center;
                    line-height: 25px;
                    background-color: #fff;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        border-color: #00a4bd;

                        i {
                            color: #00a4bd;
                        }
                    }

                    i {
                        //font-size: 1.5rem;
                        //width: 25px;
                        //height: 25px;
                        border-radius: 50%;
                        position: static;
                        font-size: 17px;
                    }
                }

                .m-timeline-2__item-text {
                    padding-left: 15px;
                    color: #575962;

                    strong, b {
                        color: #575962 !important;
                        font-weight: 500;
                    }

                    .info-line1 {
                        margin-bottom: 10px;

                        .s-note__time {
                            float: left;
                            margin-right: 15px;
                            font-weight: 500;
                            font-size: 14px;
                        }

                        .s-note__user {
                            display: inline;

                            .service {
                                margin-left: 15px;
                                cursor: initial;
                                color: #fff;

                                &.hover {
                                    color: #fff;
                                }

                                &.customer {
                                    background-color: #3dbe98;
                                }

                                &.deal {
                                    background-color: #33ccff;
                                }

                                &.case {
                                    background-color: #cc66cc;
                                }

                                &.product {
                                    background-color: #f3ae09;
                                }

                                &.campaign {
                                    background-color: #fc98fe;
                                }

                                &.email {
                                    background-color: #ff4444;
                                }

                                &.sms {
                                    background-color: #74b72e;
                                }
                            }
                        }
                    }

                    .info-line2 {
                        .s-note__content {
                            max-height: 60px;
                            overflow: hidden;

                            b {
                                color: #000;
                            }
                        }

                        .s-note_btn_seemore {
                            margin-top: 5px;
                        }
                    }

                    .info-line3 {
                        .s-note__content {
                            word-break: break-all;
                        }
                    }
                }

            }
        }
    }

    .wrapper-timeline {
        height: 380px;
        overflow: scroll;
        width: 100%;

        &::-webkit-scrollbar {
            width: 5px;
            height: 8px;
        }
    }
}

.m-badge--customer, .m-badge--deal, .m-badge--case, .m-badge--product, .m-badge--file, .m-badge--note, .m-badge--email, .m-badge--sms {
    color: #fff;
    border: 1px solid;
}

.m-badge--customer {
    background-color: #3dbe98;
    border-color: #3dbe98;
}

.m-badge--deal {
    background-color: #33ccff;
    border-color: #33ccff;

}

.m-badge--case {
    background-color: #cc66cc;
    border-color: #cc66cc;

}

.m-badge--product {
    background-color: #f3ae09;
    border-color: #f3ae09;
}

.m-badge--file {
    background-color: #ff69b4;
    border-color: #ff69b4;
}

.m-badge--note {
    background-color: #f0e86c;
    border-color: #f0e86c;
}

.m-badge--email {
    background-color: #dc143c;
    border-color: #dc143c;

}

.m-badge--sms {
    background-color: #74b72e;
    border-color: #74b72e;
}


.s--progress-bar__slider-navigation {
    .next, .prev {
        position: absolute;
        top: 24px;
        z-index: 2;
        width: 16px;
        height: 16px;
        color: #69BE31;

        &:hover {
            text-decoration: none;
            color: #69BE31;
        }

        &.disabled {
            opacity: 0.6;
            pointer-events: none;
        }
        @include mediaQueryMax(1200px){
            display: none;
        }
    }

    .next {
        right: 5px;
    }

    .prev {
        left: 5px;
    }
}

.s--progress-bar__slider {
    width: calc(100% - 20px);
    position: relative;
    left: 0;
    display: inline-block;
    margin: 0 10px;
    overflow: hidden;
    @include mediaQueryMax(1200px){
        overflow: auto !important;
        margin: 20px 0 !important;
        width: 100% !important;
    }

    .m-wizard--2 {
        position: relative;
        left: 0;
        @include mediaQueryMax(1200px){
            margin-top: 0;
        }
    }

    .m-wizard__head {
        margin: 0 !important;
        padding: 0 !important;
    }

    .m-wizard__steps {
        display: inline-block;
        width: max-content !important;
        position: relative;
        margin-top: 20px !important;

        &:after {
            position: absolute;
            content: '';
            //left: 0;
            top: 12px;
            //width: 100%;
            height: 2px;
            background-color: #e2e5ec;
            width: calc(100% - 110px);
            left: 55px;
        }

        .m-wizard__step {
            width: 120px !important;
            padding: 0 5px !important;

            @include mediaQueryMax(1200px) {
                float: left;
                display: inline-block;
            }

            .m-wizard__step-number {
                span {
                    z-index: 5 !important;
                    width: 12px !important;
                    height: 12px !important;
                    margin: 6px auto !important;
                    background-color: #fff !important;
                    border: 1px solid #e2e5ec !important;

                    i {
                        font-size: 1.1rem !important;
                    }

                    &:hover {
                        background-color: #69BE31 !important;
                    }
                }

                &:hover {
                    span {
                        background-color: #69BE31 !important;
                    }
                }

                &.m-wizard__step-number-success-disabled {
                    span {
                        background-color: #fff !important;

                        &:hover {
                            background-color: #fff !important;
                        }
                    }
                }

                @include mediaQueryMax(1200px){
                    display: block !important;
                    width: 100%;
                }
            }

            .m-wizard__step-info {
                padding-top: 2px !important;

                .m-wizard__step-title {
                    margin: 0 !important;
                    font-size: 14px !important;
                    color: #575962 !important;
                    font-weight: 500 !important;
                    text-align: center;
                }
                @include mediaQueryMax(1200px){
                    display: block !important;
                    width: 100%;
                }
            }

            &.m-wizard__step--current {
                .m-wizard__step-number {
                    span {
                        margin-top: 5px;
                        background-color: #69BE31 !important;

                        &:hover {
                            background-color: #69BE31 !important;
                        }
                    }
                }
            }


            &.m-wizard__step--done {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 12px;
                    width: 100%;
                    height: 2px;
                    background-color: #69BE31;
                    z-index: 1;
                }

                &:first-of-type {
                    &:after {
                        width: 50%;
                        left: 50%;
                    }
                }

                &:last-of-type {
                    &:after {
                        width: 50%;
                        right: 50%;
                    }
                }

                .m-wizard__step-number {
                    span {
                        background-color: #69BE31 !important;
                        border: 1px solid transparent !important;

                        &:hover {
                            background-color: #69BE31 !important;
                        }
                    }
                }
            }

            &.m-wizard__step-one {
                &:before, &:after {
                    display: none;
                }
            }


            &.m-wizard__step--active {
                .m-wizard__step-number {
                    span {
                        width: 25px !important;
                        height: 25px !important;
                        margin: 0 auto !important;
                        background-color: #69BE31 !important;
                        border: 1px solid transparent !important;

                        &:hover {
                            background-color: #69BE31 !important;
                        }
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 12px;
                    width: 50%;
                    height: 2px;
                    background-color: #e2e5ec;
                    z-index: 2;
                }

                &:first-of-type {
                    &:before {
                        width: 50%;
                        left: 50%;
                    }
                }

                &:last-of-type {
                    &:before {
                        width: 50%;
                        right: 50%;
                        background-color: #69BE31 !important;
                    }
                }

                .m-wizard__step-info {
                    .m-wizard__step-title {
                        color: #69BE31 !important;
                        font-weight: 500 !important;
                    }
                }

                .m-wizard__step-number {
                    span {
                        background-color: #69BE31 !important;

                        &:hover {
                            background-color: #69BE31 !important;
                        }
                    }
                }
            }

            &.m-wizard__step--disabled {
                .m-wizard__step-number {
                    pointer-events: none;
                }

                /*&:before, &:after{
                    background-color: #BFE2AB !important;
                }
                .m-wizard__step-number {
                  span {
                    background-color: #BFE2AB !important;
                    &:hover {
                      background-color: #BFE2AB !important;
                    }
                  }
                }*/
            }

            &.m-wizard__step--deal-cancel {
                &:before, &:after {
                    background-color: #EAC0C7 !important;
                }

                .m-wizard__step-number {
                    &:hover {
                        span {
                            background-color: #EAC0C7 !important;
                        }
                    }

                    span {
                        background-color: #EAC0C7 !important;

                        &:hover {
                            background-color: #EAC0C7 !important;
                        }
                    }
                }

                &.m-wizard__step--active {
                    .m-wizard__step-info {
                        .m-wizard__step-title {
                            color: #B82E45 !important;
                        }
                    }

                    &:last-of-type {
                        &:before {
                            background-color: #EAC0C7 !important;
                        }
                    }

                    .m-wizard__step-number {
                        &:hover {
                            span {
                                background-color: #B82E45 !important;
                            }
                        }

                        span {
                            background-color: #B82E45 !important;

                            &:hover {
                                background-color: #B82E45 !important;
                            }
                        }
                    }
                }
            }

            &.m-wizard__step--deal-success {
                &:after {
                    background-color: #BFE2AB !important;
                }

                .m-wizard__step-number {
                    &:hover {
                        span {
                            background-color: #BFE2AB !important;
                        }
                    }

                    span {
                        background-color: #BFE2AB !important;

                        &:hover {
                            background-color: #BFE2AB !important;
                        }
                    }
                }

                &:last-of-type {
                    .m-wizard__step-number {
                        &:hover {
                            span {
                                background-color: #fff !important;
                            }
                        }

                        span {
                            background-color: #fff !important;

                            &:hover {
                                background-color: #fff !important;
                            }
                        }
                    }
                }

                &.m-wizard__step--active {
                    .m-wizard__step-number {
                        &:hover {
                            span {
                                background-color: #69BE31 !important;
                            }
                        }

                        span {
                            background-color: #69BE31 !important;

                            &:hover {
                                background-color: #69BE31 !important;
                            }
                        }
                    }
                }
            }

            &.m-wizard__step--deal-new {
                .m-wizard__step-number {
                    &:hover {
                        span {
                            background-color: #FF8A00 !important;
                        }
                    }

                    span {
                        background-color: #FF8A00 !important;

                        &:hover {
                            background-color: #FF8A00 !important;
                        }
                    }
                }

                .m-wizard__step-info {
                    .m-wizard__step-title {
                        color: #FF8A00 !important;
                    }
                }
            }


        }
    }
}
