.cxlt-toastr-container{
  position: absolute;
  z-index: 1060;
  min-width: 300px;
  .toast{
    position: relative;
    padding: 12px;
    display: flex;
    align-items: center;
    &.toast-success{
      background-color: #34bfa3;
    }
    &.toast-info{
      background-color: #36a3f7;
    }
    &.toast-warning{
      background-color: #ffb822;
    }
    &.toast-error{
      background-color: #f4516c;
    }
    .toast-close-button{
      position: absolute;
      top: 8px;
      right: 8px;
      &:hover, &:focus{
        color: #fff;
      }
    }
    .toast-icon{
      max-width: 30px;
      margin-right: 10px;
      img{
        max-width: 30px;
      }
    }
  }
}