.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-title{
  font-size: 14px;
  color: #3f4047;
  font-weight: normal;
}

.s--wizard_progress{
  .m-wizard__head{
    margin: 0 !important;

    padding: 0 1rem !important;

    .m-wizard__progress{
      margin: 2px auto 0 !important;
      .progress{
        height: 0.26rem !important;
        .progress-bar{
          background-color: #00a4bd !important;
        }
      }
    }

    .m-wizard__nav {

      .m-wizard__steps {

        margin-top: 0 !important;

        .m-wizard__step{
          position: relative;
          top: 55px;

          .m-wizard__step-number{

            .step-number{
              z-index: 0;
              width: 30px !important;
              height: 30px !important;
              margin: -5.65rem auto 0 auto !important;
              position: relative;
              background-color: #fff !important;
              border-radius: 100% !important;
              border: 1px solid #00a4bd !important;
              color: #00a4bd !important;
              i{
                font-size: 1.3rem !important;
                color: #00a4bd !important;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }

          .m-wizard__step-info {

            padding-top: 2px !important;

            .m-wizard__step-title{

              margin: 0 !important;
              font-size: 13px !important;

            }
          }

          &.m-wizard__step--done{

            .m-wizard__step-info{

              .m-wizard__step-title{
                font-weight: 500;
              }

            }

            .m-wizard__step-number{
              .step-number{
                background-color: #00a4bd !important;
                color: #fff !important;
                i{
                  color: #fff !important;
                }
              }
            }
          }

          &.m-wizard__step--current{
            .m-wizard__step-number{
              .step-number{
                background-color: #00a4bd !important;
                color: #fff !important;
                i{
                  color: #fff !important;
                }
              }
            }
          }

        }

      }

    }

  }

}