<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div
    data-backdrop="static"
    data-keyboard="false"
    class="modal s--modal s--modal-right animated fadeInRight"
    id="addNewProduct"
  >
    <div class="modal-dialog" style="max-width: 450px;">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            <!--<span><i class="icon icon-add-user"></i></span>-->
            Thêm sản phẩm
          </h3>
          <button
            type="button"
            class="close modal-close"
            data-dismiss="modal"
            aria-label="Close"
            @click.prevent="reset()"
          >
            <span aria-hidden="true">
              <i class="la la-times"></i>
            </span>
          </button>
        </div>

        <div class="modal-body" data-scrollable="true" data-scrollbar-shown="true">
          <form class="m-form m-form--state">
            <div class="row">
              <div class="col-md-12">
                <div
                  class="s--alert m-alert m-alert--outline alert alert-success text-center"
                  v-if="isSuccess"
                >
                  <div class="s--alert-icon">
                    <i class="la la-check"></i>
                  </div>
                  <div class="s--alert-message">
                    <h5 class="s--alert-heading">Thêm mới sản phẩm thành công.</h5>

                    <a
                      class="m-link m-link--primary nt-link"
                      :href="getRouteLink('productDetail', {product_id: productId})"
                    >Xem chi tiết sản phẩm</a>

                    <!--<router-link target="_blank" class="m-link m-link&#45;&#45;primary nt-link"-->
                    <!--:to="{name : 'productDetail', params : {team_id : currentTeam.team_id, product_id : productId} }">Xem chi tiết sản phẩm</router-link>-->
                  </div>
                </div>
                <div
                  class="s--alert m-alert m-alert--outline alert alert-danger text-center"
                  v-if="messageErrorServer"
                >
                  <div class="s--alert-icon">
                    <i class="la la-close"></i>
                  </div>
                  <div class="s--alert-message">
                    <h5 class="s--alert-heading">{{ messageErrorServer }}</h5>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div
                  class="form-group m-form__group"
                  v-for="( attribute, index ) in listAttributeCodesByAllAttributes"
                  :key="index"
                  :class="{ 'has-danger': errors.has('addNewProduct.' + attribute.attribute_code) || attribute.attribute_code == 'product_name'  && product.attributes[index].attribute_value &&nameIsExists || attribute.attribute_code == 'sku'  && product.attributes[index].attribute_value && skuIsExists || server_errors != '' && server_errors[attribute.attribute_code] || attribute.attribute_code == 'product_image' && (isFileDimensionsAllowedMax || isFileDimensionsAllowedMin)}"
                >
                  <template v-if="product.attributes[index]">
                    <label :for="attribute.attribute_code" class="form-control-label nt-label">
                      {{
                      attribute.attribute_name }}
                      <span
                        class="m--font-danger"
                        v-if="attribute.is_required"
                      >*</span>

                      <template v-if="attribute.attribute_code === 'unit'">
                        <i
                          class="nt-info-warning fa fa-exclamation"
                          data-toggle="m-tooltip"
                          :data-original-title="'Lưu ý: Chỉ được chọn đơn vị 1 lần. Sau khi lưu, bạn sẽ không được thay đổi đơn vị của sản phẩm.'"
                          data-html="true"
                          @mouseover="reloadTooltip()"
                        ></i>
                      </template>
                    </label>

                    <template v-if="attribute.attribute_code == 'product_image'">
                      <div>
                        <div class="input-file input-file-sm input-file-secondary d-inline-block">
                          <label>
                            <i class="la la-cloud-upload"></i> Tải lên ảnh đại diện
                          </label>
                          <input
                            :id="attribute.attribute_code"
                            ref="uploadAvatar"
                            :name="attribute.attribute_code"
                            type="file"
                            data-vv-scope="addNewProduct"
                            accept=".png, .jpg, .jpeg, .gif"
                            v-validate="{size: 10240, mimes: mimesAllowed }"
                            @change="changeImage($event)"
                            class="customer-input-file"
                          />
                          <div id="add_product_image_preview"></div>
                          <div
                            v-if="isFileDimensionsAllowedMax || isFileDimensionsAllowedMin"
                            class="form-control-feedback m--font-danger m--margin-top-5"
                          >
                            <template
                              v-if="isFileDimensionsAllowedMax"
                            >Kích thước tối đa của ảnh là 2000x2000.</template>
                            <template
                              v-if="isFileDimensionsAllowedMin"
                            >Kích thước tối thiểu của ảnh là 100x100.</template>
                          </div>
                          <template v-else>
                            <div
                              class="form-control-feedback m--font-danger m--margin-top-5"
                              v-for="(error, indexA) in errors.items"
                              :key="indexA"
                            >
                              <template
                                v-if="errors.has('addNewProduct.' + attribute.attribute_code)"
                              >
                                <template
                                  v-if="error.rule == 'mimes'"
                                >Định dạng ảnh được hỗ trợ gồm: JPG, IPEG, PNG, GIF.</template>
                                <template v-if="error.rule == 'size'">
                                  Dung lượng file phải dưới 10Mb.
                                  <br />Vui lòng chọn lại file.
                                </template>
                              </template>
                            </div>
                          </template>
                        </div>
                      </div>
                    </template>

                    <template v-else-if="attribute.attribute_code == 'product_name'">
                      <s-input-text
                        data-vv-scope="addNewProduct"
                        v-if="attribute.is_unique"
                        v-model="product.attributes[index].attribute_value"
                        v-validate="{ required: attribute.is_required ? true : false, max: 250 }"
                        :id="attribute.attribute_code"
                        :name="attribute.attribute_code"
                        @blur="setDefaultValueSku(product.attributes[index].attribute_value)"
                        @keyup="checkNameExists(product.attributes[index].id, product.attributes[index].attribute_value, product.attributes[index].attribute_code)"
                      ></s-input-text>
                    </template>

                    <template v-else-if="attribute.attribute_code == 'sku'">
                      <s-input-text
                        data-vv-scope="addNewProduct"
                        v-if="attribute.is_unique"
                        v-model="product.attributes[index].attribute_value"
                        v-validate="{ required: attribute.is_required ? true : false, max: 250, regex: /^[A-Za-z0-9._-]+$/ }"
                        :id="attribute.attribute_code"
                        :name="attribute.attribute_code"
                        @keyup="checkSkuExists(product.attributes[index].id, product.attributes[index].attribute_value, product.attributes[index].attribute_code)"
                      ></s-input-text>
                    </template>

                    <template v-else>
                      <s-input-text
                        data-vv-scope="addNewProduct"
                        v-if="attribute.data_type_id == 1"
                        v-model="product.attributes[index].attribute_value"
                        v-validate="{ required: attribute.is_required ? true : false, max: 250 }"
                        :id="attribute.attribute_code"
                        :name="attribute.attribute_code"
                        @keyup="changeDataInputType(attribute.attribute_code)"
                      ></s-input-text>

                      <s-input-price
                        data-vv-scope="addNewProduct"
                        v-if="attribute.data_type_id == 7"
                        v-model="product.attributes[index].attribute_value"
                        v-validate="{ required: attribute.is_required ? true : false, numeric: true, max: 20 }"
                        :id="attribute.attribute_code"
                        :check_number="true"
                        :name="attribute.attribute_code"
                        @keyup="changeDataInputType(attribute.attribute_code)"
                      ></s-input-price>

                      <s-select
                        v-if="attribute.data_type_id == 8"
                        data-vv-scope="addNewProduct"
                        v-model="product.attributes[index].attribute_value"
                        v-validate="{ required: attribute.is_required ? true : false }"
                        :id="attribute.attribute_code"
                        :name="attribute.attribute_code"
                        :data="attribute.attribute_options"
                        :label="'option_value'"
                        @change="changeDataInputType(attribute.attribute_code)"
                      ></s-select>

                      <s-textarea
                        data-vv-scope="addNewProduct"
                        v-if="attribute.data_type_id == 12"
                        v-model="product.attributes[index].attribute_value"
                        v-validate="{ required: attribute.is_required ? true : false, max: 1025 }"
                        :id="attribute.attribute_code"
                        :name="attribute.attribute_code"
                        @keyup="changeDataInputType(attribute.attribute_code)"
                      ></s-textarea>
                    </template>

                    <div
                      class="form-control-feedback m--font-danger"
                      v-if="server_errors != '' && server_errors[attribute.attribute_code]"
                    >
                      <template
                        v-if="server_errors[attribute.attribute_code].exist"
                      >{{ attribute.attribute_name }} bị trùng.</template>
                      <template v-else>{{ server_errors[attribute.attribute_code][0] }}</template>
                    </div>

                    <div
                      class="form-control-feedback m--font-danger"
                      v-else-if="errors.has('addNewProduct.' + attribute.attribute_code)"
                    >
                      <div v-for="(error, indexB) in errors.items" :key="indexB">
                        <template v-if="errors.items && errors.items.length > 0">
                          <template
                            v-if="attribute.attribute_code == error.field && error.rule == 'required'"
                          >Không được để trống trường này.</template>

                          <template
                            v-if="attribute.attribute_code == error.field && error.rule == 'max' && attribute.data_type_id == 1"
                          >Giới hạn 250 ký tự.</template>

                          <template
                            v-if="attribute.attribute_code == error.field && error.rule == 'max' && attribute.data_type_id == 7"
                          >Giới hạn 20 ký tự.</template>

                          <template
                            v-if="attribute.attribute_code == error.field && error.rule == 'max' && attribute.data_type_id == 12"
                          >Giới hạn 1025 ký tự.</template>

                          <template
                            v-if="attribute.attribute_code == error.field && error.rule == 'regex'"
                          >
                            <template
                              v-if="attribute.attribute_code == 'sku'"
                            >{{ attribute.attribute_name }} không được chứa dấu cách, không chứa ký tự có dấu, không chứa ký tự đặc biệt (trừ ký tự . và - và _).</template>
                            <template v-else>
                              Định dạng
                              <span class="text-lowercase">{{ attribute.attribute_name }}</span> không đúng.
                            </template>
                          </template>

                          <template
                            v-if="attribute.attribute_code == error.field && error.rule == 'numeric'"
                          >Giá chỉ được điền số >= 0.</template>
                        </template>
                      </div>
                    </div>
                    <div class="form-control-feedback m--font-danger" v-else>
                      <template
                        v-if="product.attributes[index].attribute_value && attribute.attribute_code == 'product_name' && nameIsExists"
                      >{{ attribute.attribute_name }} bị trùng.</template>
                      <template
                        v-else-if="product.attributes[index].attribute_value && attribute.attribute_code == 'sku' && skuIsExists"
                      >{{ attribute.attribute_name }} bị trùng.</template>
                      <template v-else>&nbsp;</template>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button
            @click.prevent="reset()"
            type="button"
            class="nt-button nt-button-secondary mr-2 modal-close"
            data-dismiss="modal"
          >Hủy bỏ</button>
          <button
            :disabled="errors.any() || isFileDimensionsAllowedMax || isFileDimensionsAllowedMin || isLoader || isLoaderCheckExists || nameIsExists || skuIsExists"
            :class="{'nt-button-disabled' : errors.any() || isFileDimensionsAllowedMax || isFileDimensionsAllowedMin || isLoader || nameIsExists || skuIsExists}"
            @click.prevent="createNew('addNewProduct')"
            type="submit"
            class="modal-close nt-button nt-button-warning mr-0"
          >Lưu lại</button>
        </div>
      </div>
    </div>
  </div>
</template>
