.m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-icon, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-text, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-arrow, .m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-icon, .m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-text, .m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-arrow, .m-nav .m-nav__section .m-nav__section-text {
  color: #00a4bd;
}

// Style input search list customer
//.s-customer-list {
.m-portlet__body-head {
  display: inline-block;
  width: 100%;
  .m-portlet__body-head-top {
    width: 100%;
    .m-portlet__body-head-top-left, .m-portlet__body-head-top-right {
      width: 50%;
      float: left;
      display: flex;
      @include mediaQueryMax(767px){
        width: 100%;
      }
    }
    .m-portlet__body-head-top-left {
      align-items: center;
      @include mediaQueryMax(480px){
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .m-portlet__body-head-top-right {
      justify-content: flex-end;
        .nt-button-dropdown{
            &.m-dropdown--open .m-dropdown__toggle {
                background: #444F78;
                color: #FFFFFF !important;
                border: solid 1px #444F78;
            }
        }
      @include mediaQueryMax(767px){
        margin-top: 10px;
        justify-content: flex-start;
      }
        @include mediaQueryMax(480px){
            display: flex;
            flex-direction: column-reverse;
            .m-dropdown__toggle {
                margin-bottom: 20px;
                margin-left: 0 !important;
            }
            .m-dropdown__wrapper .m-dropdown__inner {
                position: absolute;
                right: -125px !important;
                top: 0;
            }
      }
      .search {
          input {
              width: 200px;
              height: 36px;
              @include mediaQueryMax(480px) {
                  width: 100%;
              }
          }
        span {
          pointer-events: none;
        }
      }

      .m-btn {
        &:focus {
          background-color: transparent;
        }
      }
    }
  }
}

//}

.s--table {
  font-size: 13px;
  width: max-content;
  min-width: 100%;
}

.s--table-customer-list {
  &.is-loader {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.6);
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }
  .text-is-trash {
    color: #7b7e8a;
    font-size: 11px;
  }
  .link-is-trash {
    text-decoration: line-through;
  }
  .id {
    width: 40px;
    text-align: left;
    .m-radio > input, .m-checkbox {
      padding-left: 0;
      input {
        width: 18px;
        height: 18px;
      }
    }
  }
  .charge_user {
    max-width: 150px;
    //width: 200px;
  }
  .sku {
    //max-width: 100px;
  }
  .full_name {
    max-width: 160px;
  }
  .email {
    max-width: 200px;
  }
  .phone {
    //max-width: 100px;
    input {
      border: none;
      background-color: transparent;
      padding: 0;
    }
  }
  .address {
    max-width: 200px;
  }

  .note{
    max-width: 300px;
  }

  .number_of_cases_process, .number_of_complete_transactions, .total_sales{
    text-align: right;
  }

  tr td, tr th {
    max-width: 120px;
  }
  .action {
    width: 70px;
  }
  .user_in_charge {
    max-width: 120px;
  }
  .s--select-multiple{
    max-width: 180px;
  }
  .s--not-found {
    td {
      height: 200px;
      text-align: center;
      line-height: 200px;
      font-weight: 500;
    }
  }
}

.s--table-customer-contact-list {
  &.is-loader {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.6);
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }
  .full_name {
    max-width: 180px;
    .is-main-contact {
      font-size: 11.5px;
      margin: 0;
    }
  }
  /* .id{
     width: 40px;
     .m-radio>input, .m-checkbox{
       padding-left: 0;
       input{
         width: 18px;
         height:18px;
       }
     }
   }*/
  .email {
    max-width: 180px;
  }
  .phone {
    max-width: 120px;
  }
  .address {
    //width: 160px;
    max-width: 300px;
  }
  .action {
    max-width: 70px;
  }

  .s--not-found {
    td {
      height: 100px;
      text-align: center;
      line-height: 100px;
      font-weight: 500;
    }
  }
}

.s--modal-list-customer-edit-column {
  .m-radio, .m-checkbox {
    &.disabled {
      pointer-events: none;
      cursor: inherit;
    }
  }
}

.list-sort-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  cursor: move;
  .icon-sort {
    position: relative;
    top: 2px;
  }
  .icon-close {
    cursor: pointer;
  }
  &.disabled {
    pointer-events: none;
  }
}

.s--column-table-custom {
  display: flex;
  flex-direction: column;

  .s--column-table-custom-info {
    pointer-events: none;
    order: 1;
    display: flex;
    align-items: center;
    i{margin-right: 3px;}
  }

  .s--column-table-custom-item {
    order: 2;

    &:hover {
      ~ .s--column-table-custom-info {
        color: #ffb822;
        transition: color 0.3s ease-in-out;
      }
    }
  }
}

.s--hover-warning {
  color: #ffb822;
  transition: color 0.3s ease-in-out;
}

.list-sort-item-ver2 {
  pointer-events: auto;
  cursor: move;
  position: relative;

  .icon-sort {
    display: none;
    span {
      position: absolute;
      width: 2px;
      height: 2px;
      background-color: #575962;
      right: 16px;
      &:nth-of-type(4n + 1) {
        top: 7.5px;
      }
      &:nth-of-type(4n + 2) {
        top: 11.5px;
      }
      &:nth-of-type(4n + 3) {
        top: 15.5px;
      }
      &:nth-of-type(4n + 4) {
        top: 19.5px;
      }
      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
        right: 12px;
      }
    }
  }
  &.sortable-chosen, &:hover {
    background-color: #f7f8fa;
    .icon-sort {
      display: block;
    }
  }
  &:active {
    background-color: #ffffff;
    .icon-sort {
      display: none;
    }
  }
  .m-checkbox {
    margin: 5px 0;
  }
  &.disabled {
    pointer-events: none;
    .m-checkbox.m-checkbox--primary > input:disabled ~ span {
      border-color: #575962;
      &:after {
        border-color: #575962;
      }
    }
    .icon-sort {
      display: none;
    }
  }
}

.customer-tab-view {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  .customer-tab-view-right, .customer-tab-view-left {
    width: calc((100% - 20px) / 2);
    float: left;
    .form-group {
      margin-bottom: 20px;
    }
  }
  .customer-tab-view-left {
    margin-right: 20px;
  }
  .customer-tab-view-both {
    .form-group {
      width: 50%;
      float: left;
    }
  }
}

.m-widget5 .m-widget5__item .m-widget5__desc, .m-widget5 .m-widget5__item .m-widget5__stats1 .m-widget5__sales {
  color: #575962 !important;
}

.s-list--filter {
  .v-select input[type=search], .v-select input[type=search]:focus {
    width: 60px !important;
  }
}

.s--modal-view-detail-email {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .v-select {
    .vs__actions {
      display: none !important;
    }
  }
  .v-select.disabled .dropdown-toggle .clear, .v-select.disabled .selected-tag .close {
    display: none !important;
  }
  .disabled-box, .ql-container.ql-snow, input, select, .v-select.disabled .dropdown-toggle, .v-select.disabled .dropdown-toggle .clear, .v-select.disabled .dropdown-toggle input, .v-select.disabled .open-indicator, .v-select.disabled .selected-tag .close {
    border-color: #f4f5f8 !important;
    color: #6f727d !important;
    background-color: #f4f5f8 !important;
  }
  .quillWrapper .ql-snow.ql-toolbar {
    display: none;
  }
  .disabled-box {
    display: block;
    width: 100%;
    padding: .85rem 1.15rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
}

.s-editor-template .quillWrapper .ql-snow.ql-toolbar {
  min-height: 82px;
}
.m-tabs-line .m-tabs__link{
  font-size: 1rem;
  i{
    margin-right: 2px !important;
  }
}

.nt-tab-head .nt-tab-head-body .nt-customer-tab-head .nt-tab-head-item .nt-tab-head-item-content{
  @include mediaQueryMax(480px){
    width: 100% !important;
  }
}


