.s--page-error{
    min-height: 100vh;
    background-color: #FFF;
    .s--page-error-head{
        padding: 30px 0 50px;
        img{
            max-width: 100px;
        }
    }
    .s--page-error-content{
        .s--image{
            padding-bottom: 20px;
        }
        .s--title{
            font-size: 100px;
            color: #444F78;
        }
        .s--sub-title{
            font-size: 48px;
            color: #444F78;
        }
        .m-link{
            margin-top: 30px;
            i{
                font-size: 14px;
            }
        }
    }
}