.s-import {
  .list {
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    .list-item {
      width: calc((100% - 60px) / 3);
      float: left;
      min-height: 200px;
      text-align: center;
      border: 1px solid #ebedf2;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border-radius: 4px;
      margin-right: 20px;
      &:nth-of-type(3n + 1) {
        clear: both;
      }
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      .message {
        margin-top: 15px;
      }
    }
  }
  .s-import-heading {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
    .m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-number {
        display: block;
    }
}

.s--modal-import {
  .s--wizard_progress{
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
    .m-wizard__head{
      .m-wizard__progress{
        .progress{
          height: 0.16rem !important;
          .progress-bar{
            background-color: #69BE31 !important;
          }
        }
      }

      .m-wizard__nav {

        .m-wizard__steps {
            display: flex;


          .m-wizard__step{

              @media only screen and (max-width: 1200px) {
                  margin-bottom: 0;
              }

            .m-wizard__step-number{

              .step-number{
                border: 1px solid #D9DDE8 !important;
                i{
                  color: #444F78 !important;
                }
              }
            }

            .m-wizard__step-info {

              padding-top: 2px !important;

              .m-wizard__step-title{


              }
            }

            &.m-wizard__step--done{

              .m-wizard__step-info{

                .m-wizard__step-title{
                  font-weight: 500;
                }

              }

              .m-wizard__step-number{
                .step-number{
                  background-color: #69BE31 !important;
                  color: #fff !important;
                  border: 1px solid #69BE31 !important;
                  i{
                    color: #fff !important;
                  }
                }
              }
            }

            &.m-wizard__step--current{
              .m-wizard__step-number{
                .step-number{
                  background-color: #69BE31 !important;
                  color: #fff !important;
                  border: 1px solid #69BE31 !important;
                  i{
                    color: #fff !important;
                  }
                }
              }
            }

          }

        }

      }

    }

  }

  .modal-dialog {
    max-width: 90%;
    .modal-header{
      background-color: #fff !important;
      background-image: inherit !important;
      height: 78px !important;
      padding: 10px 20px 30px !important;
        @media (max-width: 1200px) {
            border-bottom: none;
            .m-wizard.m-wizard--2 .m-wizard__head {
                display: block;
            }
            .m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress {
                top: 0;
                position: relative;
                width: 100%;
                left: 0;
                height: 100%;
            }

            .m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress .progress-bar {
                height: 5px;
            }
            .m-wizard__steps .m-wizard__step .m-wizard__step-number{
                display: block;
            }
            .m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info {
                display: block;
                vertical-align: middle;
                text-align: center;
                padding-left: 0;
                padding-top: 0;
            }
        }
    }
    .modal-body {
      &.is-loader {
        position: relative;
        &:before {
          position: fixed;
          z-index: 10;
        }
        &:after {
          position: fixed;
          content: "";
          left: 0;
          top: 65px;
          background-color: rgba(255, 255, 255, 0.6);
          z-index: 1;
          width: 100%;
          height: calc(100% - 65px - 78.5px);
        }
      }
      .s--modal-review {
        p {
          margin-bottom: 0;
        }
      }
      .s--modal-note {
        margin-top: 15px;
        ul {
          padding-left: 20px;
        }
      }
      .s--modal-detail {
        margin-top: 30px;
        table {
          min-width: 100%;
          margin-bottom: 0;
          width: 100%;
          .error {
            color: #f4516c;
            //background-color: #f4516c;
            border: 1px solid #f4516c;
            position: relative;
            &:after {
              position: absolute;
              content: "";
              top: -1px;
              left: 0;
              height: 1px;
              width: 100%;
              background-color: #f4516c;
            }
            &:before {
              position: absolute;
              content: "";
              top: 0;
              left: -1px;
              height: 100%;
              width: 1px;
              background-color: #f4516c;
            }
          }
          tr td, tr th {
            width: 180px;
          }
        }
      }
      .s--modal-title {
        font-size: 15px;
        font-weight: normal;
      }
    }
      .modal-footer {
          .page-list-actions {
              .left-action {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  @media (max-width: 480px) {
                      display: none;
                  }
              }
              .right-action {
                  width: 100%;
              }
          }
      }
  }
}

.s-import-step{
  .s-content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    .s-content-top {
      max-width: 600px;
      margin: 0 auto;
      display: inline-block;
      width: 100%;
      .s-content-top--item {
        width: calc((100% - 20px) / 2);
        float: left;
        border: 1px solid #e9ecef;
        border-radius: 4px;
        padding: 10px;
        min-height: 110px;
        display: flex;
        align-items: center;
        flex-direction: column;
        //justify-content: center;
        /* justify-content: center; */
        padding-top: 20px;
        label {
          margin-bottom: 0;
        }
        .s-note{
          margin-top: 4px;
          i{
            font-size: 11.5px;
            color: #575962;
          }
        }

        &:first-of-type{
          margin-right: 20px;
        }
      }
      &.s-content-top-three{
        max-width: 800px;
        .s-content-top--item{
          width: calc((100% - 40px) / 3);
          margin-right: 20px;
          &:nth-of-type(3n){
            margin-right: 0;
          }
        }
      }

    }
  }
}
.is-border-primary{
  border-color: #00a4bd !important;

}

.m-wizard.m-wizard--step-import .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-number{
  cursor: inherit;
}
.m-wizard.m-wizard--step-import .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step a.m-wizard__step-number:hover>span{
  background-color: #e2e5ec !important;
}
.m-wizard.m-wizard--step-import .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current a.m-wizard__step-number:hover>span{
  background-color: #7ddcc9 !important;
}

.m-wizard.m-wizard--step-import .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--done a.m-wizard__step-number:hover>span{
  background-color: #34bfa3 !important;
}
