.s-report-sales-index {
	.s-portlet__head {
		height: 3.6rem;
	}
	.s-portlet__body {
		.s-section {
			margin: 0 !important;
			height: 360px;
			overflow: scroll;
			&::-webkit-scrollbar {
				width: 4px;
				border-radius: 10px;
			}
		}
	}
}

.filter-date-wrapper {
	margin: 15px 0;
	.filter-item {
		display: inline-flex;
		align-items: center;
		label {
			margin-bottom: 0;
		    margin-right: 5px;
		    span {
		    	border-right: 1px solid #e2e5ec;
		    	padding-right: 10px;
		    }
		}
		.mx-datepicker {
			width: 158px !important;
		}
		&.action {
			button {
				height: 38px !important;
			    font-size: 13px !important;
		    }
	    }
	    &.has-danger {
	    	label {
	    		color: #212529;	
	    	}
	    	.mx-input {
	    		border-color: #f4516c;
	    	}
	    }
	}
}