.s--setting-preview {
    position: relative;
    margin-top: 9px;

    .title {
        font-size: 15px;
        margin-bottom: 0;
        padding: 0 5px;
        left: 5px;
        background-color: #fff;
        position: absolute;
        top: -9px;
    }

    .setting-preview-item {
        padding: 15px 10px;
        border: 1px dashed #f4f5f8;
        border-radius: 4px;
    }
}

.s--table-attribute-customer-settings {

    tbody {
        tr {
            //cursor: move;
        }
    }

    tr {
        td {
            position: relative;
        }

        &:hover {
            .icon-sort {
                display: block;
            }
        }
    }

    .action {
        width: 70px;

        @include mediaQueryMax(1024px) {
            min-width: 70px;
        }
    }

    .required {
        width: 80px;

        @include mediaQueryMax(1024px) {
            min-width: 120px;
            width: auto;
        }
    }

    .unique {
        width: 130px;

        @include mediaQueryMax(1024px) {
            min-width: 120px;
            width: auto;
        }
    }

    .on_off {
        width: 180px;

        @include mediaQueryMax(1024px) {
            min-width: 180px;
            width: auto;
        }
    }

    .type {
        max-width: 120px;
        word-break: break-word;

        @include mediaQueryMax(1024px) {
            min-width: 120px;
            width: auto;
        }
    }

    .name,
    .alias,
    .customer_type {
        max-width: 200px;
        word-break: break-word;

        @include mediaQueryMax(1024px) {
            min-width: 200px;
            width: auto;
        }
    }

    .m-switch {
        label {
            margin-bottom: 0;
        }
    }

    .icon-sort {
        display: none;
        width: 6px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);

        span {
            width: 2px;
            height: 2px;
            background-color: #575962;
            float: left;
            margin-right: 2px;
            margin-bottom: 2px;

            &:nth-of-type(2n) {
                margin-right: 0;
            }

            &:nth-of-type(7),
            &:nth-of-type(8) {
                margin-bottom: 0;
            }
        }
    }
}

.s--select-custom-attribute-settings {
    &.v-select .selected-tag {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 200px;
    }
}

.s--select-multiple-custom-attribute-settings {
    &.v-select .selected-tag {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 200px;
        padding-right: 15px !important;
        position: relative;

        .close {
            top: 50%;
            right: 4px;
            position: absolute;
            transform: translateY(-50%);
        }
    }
}

.m-datatable__lock--top {
    float: left;
    display: block;
    height: 100%;
    width: 100%;
    border-bottom: solid 1px #EEE;

    .m-datatable__lock--left {
        width: 230px;
        float: left;
        z-index: 2;
        position: relative;

        tr {
            display: flex;
            float: left;
            justify-content: center;
            align-items: center;
            width: 100%;

            th {
                width: 100%;
                display: block;
                border: none;
            }
        }
    }

    .m-datatable__lock--scroll {
        float: left;
        overflow: scroll;
        position: relative;

        tr {
            display: block;

            th {
                border: none;
            }
        }

        .m-datatable__lock--scroll-lock {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            z-index: 0;
        }

        .m-datatable__lock--scroll-header {
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        &::-webkit-scrollbar {
            display: none !important;
        }
    }
}

.m-datatable__lock--body {
    float: left;
    width: 100%;
    position: relative;

    .m-datatable__lock--left {
        width: 230px;
        float: left;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: scroll;
        height: 500px;

        &::-webkit-scrollbar {
            display: none !important;
        }

        tr {
            display: block;
            width: 100%;

            td {
                width: 100%;
                display: block;
                height: 40px;
            }

        }

        .s--bg-tr-table {
            td {
                height: 50px;
            }
        }
    }

    .m-datatable__lock--scroll {
        float: left;
        height: 500px;
        overflow: scroll;

        .s--bg-tr-table {
            td {
                height: 50px;
            }
        }

        tr {
            display: inline-flex;

            td {
                display: block;
                height: 40px;
                float: left;
            }
        }

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            height: 8px;
            border-radius: 10px;
            border: 4px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
        }
    }
}

.s--settings {
    display: flex;
    flex-direction: column;

    .s--settings-content {
        order: 1;

        &:hover~.s--settings-info {
            color: #ffb822;
            transition: color 0.3s ease-in-out;
        }

    }

    .s--settings-info {
        //display: flex;
        //align-items: center;
        display: inline-block;
        margin-bottom: 15px;

        .s--settings-info_icon {
            width: 22px;
            float: left;

            i {
                position: relative;
                top: 2px;
            }
        }

        .s--settings-info_content {
            width: calc(100% - 22px);
            float: left;
        }
    }

}

.s--table-multiple-level {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding: 0 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    li {
        list-style: none;
    }

    $item: "ol li";

    ol li ol li ol li ol li ol li ol li ol li ol li ol li ol li .s--table-multiple-level-add_item {
        display: none !important;
    }

    .nestable-list {
        &:not(:first-child) {
            .nestable-item {
                &:last-child {
                    &:before {
                        background-color: #fff;
                    }
                }
            }
        }

        .nestable-item {
            position: relative;

            &.is-dragging {
                .s--table-multiple-level-item [draggable="true"] {
                    display: none;
                }
            }
        }
    }

    .nestable-item-name {
        width: 100%;
        max-width: 400px;
    }

    .s--table-multiple-level-item {
        position: relative;
        width: 100%;
        max-width: 400px;

        .s-accordion__item {
            margin-bottom: 0;
            //margin-bottom: 1.3rem;
            overflow: inherit;
            border-radius: 0.25rem;

            &:hover {
                border-color: #00a4bd;
            }

            .m-accordion__item-head {
                padding: 1rem;
                pointer-events: none;
                font-weight: 500;
                text-transform: uppercase;
                display: flex;
                align-items: center;

                .m-accordion__item-title {
                    font-size: 1rem;
                    padding-right: 15px;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: calc(100% - 59px);
                }

                &:hover {
                    //background-color: transparent;
                }
            }

            .m-accordion__item-body {
                .m-accordion__item-content {
                    padding: 1.5rem 1rem;
                }
            }
        }

        .s--table-multiple-level_item-actions {
            height: 22px;
            position: absolute;
            right: 10px;
            top: -10.5px;
            z-index: 2;
            background-color: #676c7b;
            border-radius: .25rem;
            overflow: hidden;
            display: none;

            .s--table-multiple-level_item-actions-item {
                width: 22px;
                height: 22px;
                display: inline-block;
                float: left;
                color: #fff;
                position: relative;
                border: 1px solid #676c7b;
                border-right-color: #fff;

                &:last-of-type {
                    border-right: 1px solid #676c7b;
                }

                i {
                    font-size: 14px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .s--table-multiple-level-edit-active_item {
                background-color: #00a4bd;
                border-color: #00a4bd;
            }
        }

        [draggable="true"] {
            display: none;
            cursor: move;
            height: 100%;
            position: absolute;
            left: -25px;
            top: 0;
            //border: 1px solid #00a4bd;
            z-index: 2;

            .s--table-multiple-level-item-drag {
                width: 25px;
                height: 100%;
                background-color: #00a4bd;
                position: relative;

                .s--table-multiple-level-item-drag-icon {
                    width: 6px;
                    height: 14px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    span {
                        width: 2px;
                        height: 2px;
                        background-color: #fff;
                        float: left;
                        margin-right: 2px;
                        margin-bottom: 2px;

                        &:nth-of-type(2n) {
                            margin-right: 0;
                        }

                        &:nth-of-type(7),
                        &:nth-of-type(8) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        &:hover {

            .s--table-multiple-level_item-actions,
            [draggable="true"] {
                display: block;
            }

            .s-accordion__item {
                border-radius: inherit;
            }
        }

        .s--table-multiple-level_item-users {
            width: 59px;
            position: absolute;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            top: 11px;
            right: 1rem;
            cursor: pointer;

            //z-index: 2;
            .m-dropdown.m-dropdown--arrow .m-dropdown__wrapper {
                margin-left: -21px;
            }

            .s--table-multiple-level_item-users-item {
                display: block;
                width: 25px;
                height: 25px;
                float: left;
                position: relative;
                margin-left: -8px;

                .m-dropdown__toggle {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    overflow: hidden;

                    img {
                        vertical-align: top;
                        max-width: 100%;
                    }
                }

                &.s--table-multiple-level_item-users-item-active {
                    a {
                        text-align: center;
                        line-height: 23px;
                        color: #fff;
                        background-color: #00a4bd;
                        opacity: 0.85;
                    }
                }
            }
        }

    }
}

.s--table-multiple-level ol:first-child>li:first-child {
    padding-top: 0;
}

.s--table-multiple-level ol:first-child>li:before,
.s--table-multiple-level ol:first-child>li:after {
    display: none;
}

.s--table-multiple-level .nestable-item.is-dragging:before,
.s--table-multiple-level .nestable-item.is-dragging:after {
    display: none;
}

.s--table-multiple-level li {
    list-style-type: none;
    margin: 0;
    padding: 1.3rem 0 0 0;
    position: relative
}

.s--table-multiple-level li::before,
.s--table-multiple-level li::after {
    content: '';
    left: -25px;
    position: absolute;
    right: auto
}

.s--table-multiple-level li::before {
    border-left: 1px solid #ebedf2;
    bottom: 0;
    height: 100%;
    top: 0;
    width: 1px
}

.s--table-multiple-level li::after {
    border-top: 1px solid #ebedf2;
    height: 1px;
    top: 40px;
    width: 25px
}

.s--table-multiple-level li:last-child::before {
    height: 40px
}

.s--table-multiple-level .v-select li {
    padding: 0;
}

.s--table-multiple-level .m-nav .m-nav__item {
    padding: 0;
}

.s--table-multiple-level .m-nav .m-nav__item:before,
.s--table-multiple-level .m-nav .m-nav__item:after {
    display: none;
}


//style nested
.nestable {
    position: relative;
}

.nestable .nestable-list {
    margin: 0;
    list-style-type: none;
}

.nestable>.nestable-list {
    padding: 0;
}

.nestable-item,
.nestable-item-copy {
    //margin: 10px 0 0;
}

.nestable-item:first-child,
.nestable-item-copy:first-child {
    margin-top: 0;
}

.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
    //margin-top: 10px;
}

.nestable-item {
    position: relative;
}

.nestable-item.is-dragging .nestable-list {
    pointer-events: none;
}

.nestable-item.is-dragging * {
    opacity: 0;
    filter: alpha(opacity=0);
}

.nestable-item.is-dragging:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7f8fa;
    border: 1px dashed #f7f8fa;

    //background-color: rgba(106, 127, 233, 0.274);
    //border: 1px dashed rgb(73, 100, 241);

    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nestable-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}

.nestable-drag-layer>.nestable-list {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: #f7f8fa;
    //background-color: rgba(106, 127, 233, 0.274);
}

.nestable [draggable="true"] {
    cursor: move;
}

.nestable-list-empty {
    display: none;
}

.nt-settings-multiple-head {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nt-settings-multiple-content {
    width: 460px;

    @include mediaQueryMax(768px) {
        width: 100%;
    }
}

.nt-settings-multiple-content .nt-settings-multiple-item {
    position: relative;
    border: solid 1px #CCD2E2;
    padding: 17px 47px;
    font-size: 16px;
    color: #444F78;
    border-radius: 4px;
    background: #F4F5F9;
}

.nt-settings-multiple-content .nt-settings-multiple-item-drag,
.nt-settings-multiple-content .nt-settings-multiple-item-drag-no-edit {
    position: absolute;
    left: 0px;
    top: -1px;
    height: 60px;
    width: 30px;
    border-right: solid 1px #CCD2E2;
    background: #CCD2E2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
}

.nt-settings-multiple-item-drag-no-edit {
    will-change: auto !important;
    top: 0px;
    left: 0px;
    transform: none !important;
}

.nt-settings-multiple-content .nt-settings-multiple-item:hover .nt-settings-multiple-item-drag,
.nt-settings-multiple-content .nt-settings-multiple-item:focus .nt-settings-multiple-item-drag,
.nt-settings-multiple-content .nt-settings-multiple-item:active .nt-settings-multiple-item-drag {
    background: #444F78;
}

.nt-settings-multiple-content .no-drag {
    background: #F4F5F9 !important;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #CCD2E2;
}

.nt-settings-multiple-content .nt-settings-multiple-item-drag-icon {
    display: none;
    color: #FFFFFF;
}

.nt-settings-multiple-content .nt-settings-multiple-item:hover .nt-settings-multiple-item-drag-icon,
.nt-settings-multiple-content .nt-settings-multiple-item:focus .nt-settings-multiple-item-drag-icon,
.nt-settings-multiple-content .nt-settings-multiple-item:active .nt-settings-multiple-item-drag-icon {
    display: block;
}

.nt-settings-multiple-item-dropdown {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0px, -50%);
    background: none;
    border: none;
}

.nt-settings-multiple-item-dropdown i {
    font-size: 20px;
    color: #444F78;
}

.nt-settings-multiple-item-dropdown-wrap {
    position: relative;
}

.nt-settings-multiple-item-dropdown-wrap .nt-settings-arrow-up {
    bottom: 100%;
    left: 18px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

.nt-settings-multiple-item-dropdown-wrap .dropdown-item:hover {
    background: #FFFFFF;
    color: #B82E45;
}

.nt-settings-multiple-item-dropdown-wrap .dropdown-item:hover i {
    color: #B82E45;
}

.nt-settings-multiple-content .nestable-item {
    margin-top: 20px;
}

.nt-settings-multiple-content .nestable-item:first-child {
    margin-top: 0px;
}

.nt-settings-multiple-content .nestable-item.is-dragging .nt-settings-multiple-item-drag {
    background: #444F78;
}

.nt-settings-app {
    float: left;
    width: 100%;
}

.nt-settings-sidebar {
    width: 296px;
    float: left;
    margin-right: 20px;

    @include mediaQueryMax(768px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.nt-settings-content {
    float: left;
    width: calc(100% - 316px);

    @include mediaQueryMax(768px) {
        width: 100%;
    }
}

.nt-settings-sidebar .nt-settings-sidebar-menu .nt-settings-sidebar-menu-nav .nt-settings-sidebar-menu-item a .nt-settings-sidebar-item-text {
    @include mediaQueryMax(768px) {
        font-size: 14px;
    }
}

.nt-notice-delete {
    width: 552px;
}

.nt-notice-title {
    margin-top: 10px;
    font-size: 16px;
    color: #444F78;
    font-weight: 600;
    margin-bottom: 14px;
}

.nt-notice-head-content {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 10px;
    color: #444F78;
    font-weight: 400;
}

.nt-notice-footer-content {
    margin-bottom: 10px;
    color: #444F78;
}

.nt-list-attribute-settings {
    width: 100%;

    .nt-list-attribute-settings-wrap {
        @include mediaQueryMax(1024px) {
            width: 100%;
            height: auto;
            overflow-x: auto;
            overflow-y: hidden;
        }
    }

    .nt-list-attribute-settings-head {
        width: 100%;
        margin-bottom: 15px;
        padding: 15px 0px;
        border-bottom: solid 2px #E5E5EA;

        @include mediaQueryMax(1024px) {
            border-bottom: none;
        }
    }

    .nt-table-list-attribute {
        width: 100%;
        display: inline-flex;

        .nt-list-attribute-head,
        .nt-table-list-attribute-content {
            padding: 0px 10px;
        }

        .nt-list-attribute-drag {
            width: 5%;

            @include mediaQueryMax(1024px) {
                min-width: 60px;
                width: auto;
            }
        }

        .nt-list-attribute-action {
            width: 7%;

            @include mediaQueryMax(1024px) {
                min-width: 80px;
                width: auto;
            }
        }

        .nt-list-attribute-name {
            width: 20%;

            @include mediaQueryMax(1024px) {
                min-width: 200px;
                width: auto;
            }
        }

        .nt-list-attribute-show-in {
            width: 23%;

            @include mediaQueryMax(1024px) {
                min-width: 200px;
                width: auto;
            }
        }

        .nt-list-attribute-type {
            width: 15%;

            @include mediaQueryMax(1024px) {
                min-width: 180px;
                width: auto;
            }
        }

        .nt-list-attribute-required {
            width: 10%;

            @include mediaQueryMax(1024px) {
                min-width: 120px;
                width: auto;
            }
        }

        .nt-list-attribute-unique {
            width: 10%;

            @include mediaQueryMax(1024px) {
                min-width: 120px;
                width: auto;
            }
        }

        .nt-list-attribute-hidden {
            width: 10%;

            @include mediaQueryMax(1024px) {
                min-width: 120px;
                width: auto;
            }
        }
    }

    .nt-list-attribute-settings-content {
        .nt-table-list-attribute {

            .nt-list-attribute-drag,
            .nt-list-attribute-action,
            .nt-list-attribute-name,
            .nt-list-attribute-show-in,
            .nt-list-attribute-type,
            .nt-list-attribute-required,
            .nt-list-attribute-unique,
            .nt-list-attribute-hidden {
                @include mediaQueryMax(1024px) {
                    background: #F4F5F9;
                    border: solid 1px #CCD2E2;
                    border-right: none;
                    border-left: none;
                }
            }

            .nt-list-attribute-drag {
                @include mediaQueryMax(1024px) {
                    border-left: solid 1px #CCD2E2;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                }
            }

            .nt-list-attribute-hidden {
                @include mediaQueryMax(1024px) {
                    border-right: solid 1px #CCD2E2;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }

    .nt-settings-multiple-item {
        position: relative;
        border: solid 1px #CCD2E2;
        font-size: 16px;
        color: #444F78;
        border-radius: 4px;
        background: #F4F5F9;
        margin-bottom: 4px;

        @include mediaQueryMax(1024px) {
            border: none;
        }

        .nt-table-list-attribute-content {
            position: relative;

            button,
            .nt-label,
            .m-switch,
            .nt-barge-dropdown {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
            }

            &.nt-list-attribute-action {
                .nt-settings-multiple-item-dropdown {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            button {
                padding-left: 10px !important;
            }

            .nt-barge-dropdown {
                font-size: 14px !important;
            }

            .m-switch {

                label {
                    margin-bottom: 0px;
                }
            }
        }
    }

    .nt-settings-multiple-item-drag,
    .nt-settings-multiple-item-drag-no-edit {
        height: 60px;
        width: 30px;
        border-right: solid 1px #CCD2E2;
        background: #CCD2E2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px 0px 0px 4px;
    }

    .nt-settings-multiple-item {

        .nt-settings-multiple-item-drag-icon {
            display: none;
            color: #FFFFFF;
        }

        &:hover {

            .nt-settings-multiple-item-drag {
                background: #444F78;
                height: 60px;
                border-right: solid 1px #444F78;
            }

            .nt-settings-multiple-item-drag-icon {
                display: block;
            }
        }

        &:focus {

            .nt-settings-multiple-item-drag {
                background: #444F78;
                height: 60px;
                border-right: solid 1px #444F78;
            }

            .nt-settings-multiple-item-drag-icon {
                display: block;
            }
        }

        &:active {

            .nt-settings-multiple-item-drag {
                background: #444F78;
                height: 60px;
                border-right: solid 1px #444F78;
            }

            .nt-settings-multiple-item-drag-icon {
                display: block;
            }
        }
    }

    .nt-settings-multiple-item-dropdown {
        transform: translate(0px, -50%);
        background: none;
        border: none;

        i {
            font-size: 20px;
            color: #444F78;
        }
    }

    .nt-settings-multiple-item-dropdown-wrap {
        position: relative;

        .nt-settings-arrow-up {
            top: -6px;
            left: 13px;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid white;
        }

        .dropdown-item {

            &:hover {
                background: #FFFFFF;
                color: #B82E45;

                i {
                    color: #B82E45;
                }
            }
        }
    }
}