.s-sms-list {
  .s--table-sms-list {
    .id {
      width: 40px;
      text-align: left;
    }
    .action {
      max-width: 70px;
    }
    .name {
      max-width: 120px;
    }
    .created_by {
      max-width: 120px;
    }
    .created_at {
      max-width: 80px;
    }
    .updated_at {
      max-width: 80px;
    }
    .number_of_send {
      max-width: 80px;
    }
    .number_of_received {
      max-width: 80px;
    }
    .number_click_link {
      max-width: 80px;
    }
  }
}

.s-sms-trash {
  .modal{
    .modal-footer{
      display: none;
    }
  }
}

