#popupPolicyAddPayment {
  .popup-title {
    text-align: center;
    margin: 0 auto;
    padding: 35px 0 5px;
    color: #333333;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .popup-desc {
    text-align: center;
    margin: auto;
    font-size: 14px;
    color: #333333;

    p {
      color: #f00000;
    }
  }

  .popup-btn button {
    margin: 20px auto;
    background: #ff8a00;
    color: #ffffff;
  }
}

@media only screen and (max-width: 1366px) {
  .payment-history-detail {
    .payment-history-price {
      display: block;
      margin-left: 0;
    }
  }
}

.s--table-customer-deal-product tr th {
  color: #444f78 !important;
  border-bottom: none !important;
}

.s--table-customer-deal-product tr th,
.s--table-customer-deal-product tr td {
  border-color: #ccd2e2 !important;
}

.payment-history-detail {
  padding: 15px 0;
}

.payment-history-price {
  color: #b82e45;
  font-size: 20px;
  display: inline-block;
  margin-left: 10px;
}