<script src="./Script.js"></script>

<template>
  <div
    data-backdrop="static"
    data-keyboard="false"
    class="modal s--modal s--modal-right animated fadeInRight"
    id="addNewCustomer"
  >
    <div class="modal-dialog" style="max-width: 450px;">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            <span>
              <i class="icon icon-add-user"></i>
            </span>
            Thêm khách hàng
          </h3>
          <button
            type="button"
            class="close modal-close"
            data-dismiss="modal"
            aria-label="Close"
            @click.prevent="reset()"
          >
            <span aria-hidden="true">
              <i class="la la-times"></i>
            </span>
          </button>
        </div>

        <div class="modal-body" data-scrollable="true" data-scrollbar-shown="true">
          <form class="m-form m-form--state">
            <div class="row">
              <div class="col-md-12">
                <div
                  class="s--alert m-alert m-alert--outline alert alert-success text-center"
                  v-if="isSuccess"
                >
                  <div class="s--alert-icon">
                    <i class="la la-check"></i>
                  </div>
                  <div class="s--alert-message">
                    <h5 class="s--alert-heading">Thêm mới khách hàng thành công.</h5>

                    <a
                      class="m-link m-link--primary nt-link"
                      :href="getRouteLink('customerDetails', {customer_id: customerId})"
                    >
                      <span>Xem chi tiết khách hàng</span>
                    </a>

                    <!--<router-link target="_blank" class="m-link m-link&#45;&#45;primary nt-link"-->
                    <!--:to="{name : 'customerDetails', params : {team_id : currentTeam.team_id, customer_id : customerId} }">Xem chi tiết khách hàng</router-link>-->
                  </div>
                </div>
                <div
                  class="s--alert m-alert m-alert--outline alert alert-danger text-center"
                  v-if="messageErrorServer"
                >
                  <div class="s--alert-icon">
                    <i class="la la-close"></i>
                  </div>
                  <div class="s--alert-message">
                    <h5 class="s--alert-heading">{{ messageErrorServer }}</h5>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div
                  class="form-group m-form__group"
                  v-for="(attribute, index) in listAttributeCodesByAllAttributes"
                  :key="index"
                  :class="{ 'has-danger': errors.has('createNewCustomer.' + attribute.attribute_code) || attribute.data_type.id == 5 && emailIsExists && customer.attributes[index].attribute_value || attribute.data_type.id == 4 && phoneIsExists && customer.attributes[index].attribute_value || server_errors != '' && server_errors[attribute.attribute_code]}"
                >
                  <div v-if="customer.attributes[index]">
                    <label :for="attribute.attribute_code" class="form-control-label nt-label">
                      {{
                      attribute.attribute_name }}
                      <span
                        class="m--font-danger"
                        v-if="attribute.is_required"
                      >*</span>
                    </label>

                    <s-input-text
                      data-vv-scope="createNewCustomer"
                      v-if="attribute.data_type && attribute.data_type.id == isText"
                      v-model="customer.attributes[index].attribute_value"
                      v-validate="{ required: attribute.is_required ? true : false, max: 250 }"
                      :id="attribute.attribute_code"
                      :name="attribute.attribute_code"
                    ></s-input-text>

                    <s-input-phone
                      data-vv-scope="createNewCustomer"
                      v-if="attribute.data_type && attribute.data_type.id == isPhone"
                      v-model="customer.attributes[index].attribute_value"
                      v-validate="{ regex: helpers.regexPhone() }"
                      :id="attribute.attribute_code"
                      :name="attribute.attribute_code"
                      v-on:keyup="checkPhoneExists(customer.attributes[index].id, customer.attributes[index].attribute_value)"
                    ></s-input-phone>

                    <s-input-email
                      data-vv-scope="createNewCustomer"
                      v-if="attribute.data_type && attribute.data_type.id == isEmail"
                      v-model="customer.attributes[index].attribute_value"
                      v-validate="{  regex: helpers.regexEmail(),  max: 250 }"
                      :id="attribute.attribute_code"
                      :name="attribute.attribute_code"
                      v-on:keyup="checkEmailExists(customer.attributes[index].id, customer.attributes[index].attribute_value)"
                    ></s-input-email>

                    <s-input-date
                      data-vv-scope="createNewCustomer"
                      v-if="attribute.data_type.id == isDate"
                      v-model="customer.attributes[index].attribute_value"
                      v-validate="{ required: attribute.is_required ? true : false }"
                      :id="attribute.attribute_code"
                      :name="attribute.attribute_code"
                    ></s-input-date>

                    <template v-if="attribute.data_type.id == isTextArea">
                      <s-textarea
                        data-vv-scope="createNewCustomer"
                        v-model="attribute.attribute_value"
                        v-validate="{ required: attribute.is_required ? true : false, max: 1025 }"
                        :id="attribute.attribute_code"
                        :name="attribute.attribute_code"
                      ></s-textarea>
                    </template>

                    <div
                      class="form-control-feedback m--font-danger"
                      v-if="server_errors != '' && server_errors[attribute.attribute_code]"
                    >
                      <template
                        v-if="server_errors[attribute.attribute_code].exist"
                      >{{ attribute.attribute_name }} bị trùng.</template>
                      <template v-else>{{ server_errors[attribute.attribute_code][0] }}</template>
                    </div>

                    <div
                      class="form-control-feedback m--font-danger"
                      v-else-if="errors.has('createNewCustomer.' + attribute.attribute_code)"
                    >
                      <div v-for="(error, indexA) in errors.items" :key="indexA">
                        <template v-if="errors.items && errors.items.length > 0">
                          <template
                            v-if="attribute.attribute_code == error.field && error.rule == 'required'"
                          >Không được để trống trường này.</template>

                          <template
                            v-if="attribute.attribute_code == error.field && error.rule == 'max' && error.scope == 'createNewCustomer'"
                          >
                            <template
                              v-if="attribute.data_type.id == isTextArea"
                            >Giới hạn 1025 ký tự.</template>
                            <template v-else>Giới hạn 250 ký tự.</template>
                          </template>

                          <template
                            v-if="attribute.attribute_code == error.field && error.rule == 'regex' && error.scope == 'createNewCustomer'"
                          >
                            Định dạng
                            <span class="text-lowercase">{{ attribute.attribute_name }}</span> không đúng.
                          </template>
                        </template>
                      </div>
                    </div>

                    <div class="form-control-feedback m--font-danger" v-else>
                      <template
                        v-if="customer.attributes[index].attribute_value && attribute.data_type.id == isEmail && emailIsExists"
                      >{{ attribute.attribute_name }} bị trùng.</template>
                      <template
                        v-if="customer.attributes[index].attribute_value && attribute.data_type.id == isPhone && phoneIsExists"
                      >{{ attribute.attribute_name }} bị trùng.</template>
                      <template v-else>&nbsp;</template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button
            @click.prevent="reset()"
            type="button"
            class="mr-2 modal-close nt-button nt-button-secondary"
            data-dismiss="modal"
          >Hủy bỏ</button>
          <button
            @click.prevent="createNewCustomer('createNewCustomer')"
            :disabled="errors.any() ||  helpers.getAttributeByAttrCodeAndVariableName(customer, 'email', 'attribute_value') && emailIsExists || helpers.getAttributeByAttrCodeAndVariableName(customer, 'phone', 'attribute_value') && phoneIsExists || isLoader || isLoaderCheckExists"
            :class="{'nt-button-disabled' : errors.any() || helpers.getAttributeByAttrCodeAndVariableName(customer, 'email', 'attribute_value') && emailIsExists || helpers.getAttributeByAttrCodeAndVariableName(customer, 'phone', 'attribute_value') && phoneIsExists || isLoader}"
            type="submit"
            class="nt-button nt-button-warning mr-0"
          >Lưu lại</button>
        </div>
      </div>
    </div>
  </div>
</template>
