<template>
  <div>
    <div
      v-if="isLoader"
      class="m-loader m-loader--brand m-loader--lg"
      style="width: 30px; height: 30px; display: inline-block;"
    ></div>
    <template v-else>
      <img :src="fileUrl" style="max-width: 60px; max-height: 60px;" />
    </template>
  </div>
</template>
<script>

import { FILE_DETAIL } from "@/types/actions.type";

export default {
  props: {
    file_id: {
      type: Number,
      required: true
    }
  },
  watch: {
    file_id: {
      handler() {
        let vm = this;
        vm.getFileById();
      },
      deep: true
    }
  },
  created() {
    this.getFileById();
  },
  data() {
    return {
      isLoader: false,
      fileUrl: ""
    };
  },
  methods: {
    getFileById() {
      let vm = this;
      vm.isLoader = true;
      vm.$store.dispatch(FILE_DETAIL, vm.file_id).then(response => {
        vm.fileUrl = response.data.data.path_on_server;
        vm.isLoader = false;
      });
    }
  }
};
</script>
