.support-button {
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 50px;
  width: 44px;
  height: 44px;
  background: #FF8A00;
  border-radius: 50%;
  box-shadow: 0px 8.8px 26.4px rgba(68, 79, 120, 0.1);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  animation: ripple 1s linear infinite;

  &.close-support {
    animation: none;
  }

  &.button-show {
    transition: .8s;

    &:hover {
      width: 113px;
      border-radius: 1000px;
      animation: none;

      span {
        visibility: visible;
        padding-left: 10px;
        width: auto;
        animation-duration: 1s;
        animation-name: slidein;
      }
    }

    span {
      visibility: hidden;
      width: 0;
      white-space: nowrap
    }
  }
}

.support-box {
  position: fixed;
  right: 20px;
  bottom: 118px;
  width: 300px;
  z-index: 100;

  .box-head {
    background: linear-gradient(90deg, #B82E45 0%, #7D438E 100%);
    border-radius: 4px 4px 0px 0px;
    padding: 13px 20px;
    font-weight: 500;
    color: #fff;

    .box-title {
      font-size: 20px;
      line-height: 24px;
    }

    .box-desc {
      font-size: 14px;
      line-height: 17px;
      margin-top: 1px;
    }
  }

  .box-body {
    box-shadow: 0px 0px 30px rgba(68, 79, 120, 0.1);
    border-radius: 0 0 4px 4px;

    .box-item {
      padding: 12px 20px;
      border-bottom: 1px solid #EBEDF2;
      background-color: #fff;

      &:last-child {
        border-radius: 0 0 4px 4px;
        border-bottom: 0
      }

      &:hover {
        background-color: #F9FAFC;
        .box-icon {
          background-color: #B82E45;
          color: #fff;
        }
      }

      .box-icon {
        width: 36px;
        height: 36px;
        background-color: #F8EAEC;
        font-size: 16px;
        color: #B82E45;
        border-radius: 50%;
        cursor: pointer;
      }

      .box-text {
        margin-left: 17px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #444F78;
      }

      .box-subtext {
        margin-left: 6px;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #C9243F;
      }
    }
  }
}

@keyframes slidein {
  from {
    width: 0;
  }

  to {
    width: 55px;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(#FF8A00, .1),
      0 0 0 8px rgba(#FF8A00, .1),
      0 0 0 16px rgba(#FF8A00, .1),
      // 0 0 0 10px rgba(#FF8A00, .2);
  }

  100% {
    box-shadow: 0 0 0 8px rgba(#FF8A00, .1),
      0 0 0 16px rgba(#FF8A00, .1),
      0 0 0 24px rgba(#FF8A00, 0);
      // 0 0 0 12px rgba(#FF8A00, 0);
  }
}