<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div>
    <div
      v-if="!isShowPopup"
      class="support-button button-show d-flex align-items-center justify-content-center"
      @click="isShowPopup = true"
    >
      <i class="icon icon-question-1"></i>
      <span>Hỗ trợ</span>
    </div>
    <div v-if="isShowPopup">
      <div
        class="support-button d-flex align-items-center justify-content-center"
        :class="{ 'close-support': isShowPopup }"
        @click="isShowPopup = false"
      >
        <i class="icon icon-cancel"></i>
      </div>
      <div class="support-box">
        <div class="box-head">
          <div class="box-title">Xin chào!</div>
          <div class="box-desc">Bạn cần chúng tôi hỗ trợ?</div>
        </div>
        <div class="box-body">
          <a
            class="box-item d-flex align-items-center"
            v-for="(item, index) of data"
            :key="index"
            :href='item.href'
            target="_blank"
          >
            <div class="box-icon d-flex align-items-center justify-content-center">
              <i class="icon" :class="item.icon"></i>
            </div>
            <div class="box-text">{{ item.text }}</div>
            <div class="box-subtext">{{ item.subtext }}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>