.page-error {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-header {
    width: 100vw;
    height: 60px;
    position: fixed;
  }

  .main-body {
    padding-top: 80px;
    padding-bottom: 20px;
    flex: 1;
  }

  .main-footer {
    flex: 0 0 40px;
  }
}