<style src="./Main.scss" lang="scss" scoped></style>
<script src="./Main.js"></script>

<template>
  <div>
    <div v-if="isAuthenticated">
      <div v-if="isNotBaseLayout" id="app">
        <router-view></router-view>
      </div>
      <div class="m-grid m-grid--hor m-grid--root m-page" id="app" v-else>
        <the-header></the-header>
        <div
          id="app-body"
          class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body"
        >
          <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div id="app-body-subheader" style="padding: 20px">
              <div class="d-lg-flex align-items-center justify-content-between">
                <the-breadcrumb></the-breadcrumb>
                <the-actions></the-actions>
              </div>
            </div>
            <router-view></router-view>
          </div>
        </div>
        <vue-snotify></vue-snotify>
      </div>
      <the-footer></the-footer>

      <popup-expire :addOnExpire="addOnExpire"></popup-expire>
      <popup-is-comming-expire :addOnExpireAfter15Day="addOnExpireAfter15Day"></popup-is-comming-expire>
      <popup-policy-add-customer></popup-policy-add-customer>
      <popup-user-current-not-permission></popup-user-current-not-permission>
      <popup-user-current-not-permission-redirect403></popup-user-current-not-permission-redirect403>
      <SupportButton />
    </div>
    <PageForbidden id="PageForbidden" class="page-error" />
  </div>
</template>
