<script src="./Script.js"></script>
<style src="./Style.scss" lang="scss" scoped></style>

<template>
  <div class="w-100" :id="el_id">
    <div class="nt-update" v-if="isEdit">
      <!-- @input="$emit('input', newValue)"
      @blur="$emit('blur', newValue)"
      @keyup="$emit('keyup', newValue )"
      @keydown="$emit('keydown', newValue )"
      @focus="$emit('focus', newValue)"-->
      <input
        type="text"
        class="form-control nt-input-update"
        v-model.trim="newValue"
        @keyup.enter="update()"
        @blur="hideUpdate()"
      />
    </div>
    <div v-else class="nt-details form-control" @click="showUpdate()">
      {{ newValue }}
      <span class="input-icon">
        <i class="icon icon-edit"></i>
      </span>
    </div>
  </div>
</template>
