.nt-box-body-filter {
  display: flex;
  align-items: center;
  padding: 0 0 10px 0;
  position: relative;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  h5 {
    margin-right: 10px;

    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

}

.nt-box-body-filter-hr {
  position: relative;
  margin: 10px 0 20px;
  display: flex;
  width: 100%;

  &:after {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0;
    width: calc(100% + 40px);
    height: 1px;
    background-color: #EBEDF2;
  }
}