<script src="./Script.js"></script>

<template>
  <div id="nt-settings">
    <div class="m-content nt-settings-app">
      <div class="nt-settings-sidebar">
        <sidebar-left></sidebar-left>
      </div>
      <router-view></router-view>
    </div>
  </div>
</template>
ˇ