<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div class="m-portlet m-portlet--mobile" v-cloak>
    <div class="m-portlet__body">
      <!-- <div v-if="isLoader" class="m-loader m-loader--brand m-loader--lg"
      style="width: 30px; height: 30px; display: inline-block;"></div>-->
      <div>
        <div class="dataTables_wrapper">
          <div class="table-responsive nt-scroll-primary" id="table-responsive-data">
            <table
              class="table table-bordered table-hover s--table nt-table-list nt-table-list-all"
            >
              <thead>
                <tr>
                  <th class="nt-class-action">
                    <div class="d-inline-block float-left">Tác vụ</div>
                  </th>
                  <th class="nt-class-action">
                    <div class="d-inline-block float-left">STT</div>
                  </th>
                  <th class="s--list-sort-attribute s--cursor-pointer nt-class--code">
                    <div class="d-inline-block float-left">Mã lớp</div>
                  </th>
                  <th class="s--list-sort-attribute s--cursor-pointer nt-class-name">
                    <div class="d-inline-block float-left">Tên lớp</div>
                  </th>
                  <th class="s--list-sort-attribute s--cursor-pointer nt-class-product">
                    <div class="d-inline-block float-left">Khóa học</div>
                  </th>
                  <th
                    class="s--list-sort-attribute s--cursor-pointer nt-class-count-lesson-success"
                  >
                    <div class="d-inline-block float-left">Đi học (buổi)</div>
                  </th>
                  <th class="s--list-sort-attribute s--cursor-pointer nt-class-size">
                    <div class="d-inline-block float-left">Đi muộn (buổi)</div>
                  </th>
                  <th
                    class="s--list-sort-attribute s--cursor-pointer nt-class-count-lesson-success"
                  >
                    <div class="d-inline-block float-left">Về sớm (buổi)</div>
                  </th>
                  <th
                    class="s--list-sort-attribute s--cursor-pointer nt-class-count-lesson-success"
                  >
                    <div class="d-inline-block float-left">Làm BTVN (buổi)</div>
                  </th>
                  <th
                    class="s--list-sort-attribute s--cursor-pointer s--select-multiple nt-class-status"
                  >
                    <div class="d-inline-block float-left">Trạng thái lớp</div>
                  </th>
                  <th class="s--list-sort-attribute s--cursor-pointer nt-class-teacher">
                    <div class="d-inline-block float-left">Giáo viên</div>
                  </th>
                  <!-- <th class="s--list-sort-attribute s--cursor-pointer nt-class-start-date">
                    <div class="d-inline-block float-left">Ngày bắt đầu</div>
                  </th>
                  <th class="s--list-sort-attribute s--cursor-pointer nt-class-end-date">
                    <div class="d-inline-block float-left">Ngày kết thúc</div>
                  </th>
                  <th class="s--list-sort-attribute s--cursor-pointer nt-class-start-time">
                    <div class="d-inline-block float-left">Giờ bắt đầu</div>
                  </th>
                  <th class="s--list-sort-attribute s--cursor-pointer nt-class-end-time">
                    <div class="d-inline-block float-left">Giờ kết thúc</div>
                  </th>-->
                  <th class="s--list-sort-attribute s--cursor-pointer nt-class-address">
                    <div class="d-inline-block float-left">Địa điểm học</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(classEducation, index) in listClassOfCustomerDetail" :key="index" :class="[classEducation.deleted_at ? 'nt-deleted-at' : '']">
                  <td class="text-center nt-class-action">
                    <button
                      aria-expanded="true"
                      aria-haspopup="true"
                      data-toggle="dropdown"
                      class="btn m-btn m-btn--icon m-btn--icon-only m-btn--pill"
                    >
                      <i class="la la-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu nt-dropdown-menu">
                      <a
                        href="#"
                        class="dropdown-item"
                        @click.prevent="showModalLearningSituationCustomerDetail(classEducation)"
                      >
                        <i class="icon icon-book"></i> Xem tình hình học tập
                      </a>
                      <template
                        v-if="accessible( userCheckAddOn, 'education', PERMISSION_EXPORT_MEMBER_HISTORY, userCurrentPermissions)"
                      >
                        <template v-if="isLoaderExportLearningSituation">
                          <a
                            href="javascript:;"
                            class="dropdown-item s--cursor-pointer nt-disabled"
                          >
                            <i class="icon icon-export"></i>
                            Export tình hình học tập
                          </a>
                        </template>

                        <template v-else>
                          <a
                            @click.prevent="exportLearningSituation(classEducation)"
                            href="javascript:;"
                            class="dropdown-item s--cursor-pointer"
                          >
                            <i class="icon icon-export"></i>
                            Export tình hình học tập
                          </a>
                        </template>
                      </template>
                      <template v-else>
                        <a
                          href="javascript:;"
                          class="dropdown-item s--cursor-pointer nt-disabled-link-permisson"
                          data-toggle="m-tooltip"
                          :data-original-title="titleNotPermisson"
                          data-html="true"
                        >
                          <i class="icon icon-export"></i>
                          Export tình hình học tập
                        </a>
                      </template>
                    </div>
                  </td>
                  <td class="text-center">
                    <template
                      v-if="!isLoader"
                    >{{ pagination.per_page * (pagination.current_page - 1) + index + 1 }}</template>
                    <!--  <div v-else class="m-loader m-loader--brand m-loader--lg"
                    style="width: 30px; height: 30px; display: inline-block;"></div>-->
                  </td>
                  <td class="nt-class--code">{{classEducation.code}}</td>
                  <td class="nt-class-name">
                    <a
                      class="m-link m-link--primary nt-link"
                      :href="getUrlEM('class', classEducation.class_id)"
                      target="_blank"
                    >
                      {{ classEducation.name }}&nbsp;
                      <i class="icon icon-external-link-01"></i>
                    </a>

                    <!--<router-link class="m-link m-link&#45;&#45;primary nt-link" target="_blank"-->
                    <!--:to="{name : 'detailClass', params : {team_id : currentTeam.team_id, class_id : classEducation.class_id} }">-->
                    <!--{{ classEducation.name }} <i class="icon icon-external-link-01"></i>-->
                    <!--</router-link>-->
                  </td>
                  <td class="nt-class-product">
                    {{ classEducation.course_name }}
                    <!-- <a
                      class="m-link m-link--primary nt-link"
                      target="_blank"
                      :href="getRouteLink('productDetail', {product_id: classEducation.product_id})"
                    >{{ classEducation.product_name }}&nbsp;<i class="icon icon-external-link-01"></i></a>-->

                    <!--<router-link class="m-link m-link&#45;&#45;primary nt-link" target="_blank"-->
                    <!--:to="{name : 'ProductInfoBasic', params : {team_id : currentTeam.team_id, product_id : classEducation.product_id} }">-->
                    <!--{{ classEducation.product_name }} <i class="icon icon-external-link-01"></i>-->
                    <!--</router-link>-->
                  </td>
                  <td>
                    {{ classEducation.count_checkin }}
                    <template
                      v-if="classEducation.product_unit === 'Khóa'"
                    >/ {{ classEducation.total_lesson }}</template>
                  </td>
                  <td>
                    {{ classEducation.count_checkin_late }}
                    <template
                      v-if="classEducation.product_unit === 'Khóa'"
                    >/ {{ classEducation.total_lesson }}</template>
                  </td>
                  <td>
                    {{ classEducation.count_back_soon }}
                    <template
                      v-if="classEducation.product_unit === 'Khóa'"
                    >/ {{ classEducation.total_lesson }}</template>
                  </td>
                  <td>
                    {{ classEducation.count_homework }}
                    <template
                      v-if="classEducation.product_unit === 'Khóa'"
                    >/ {{ classEducation.total_lesson }}</template>
                  </td>
                  <td class="nt-class-status">
                    <template v-if="classEducation.status == 4">
                      <div
                        style="margin-bottom: 3px; margin-right: 3px;"
                        class="nt-barge-dropdown nt-barge-dropdown-danger"
                      >Đóng</div>
                    </template>
                    <template v-else>
                      <div
                        style="margin-bottom: 3px; margin-right: 3px;"
                        class="nt-barge-dropdown"
                        :class="getClassState(classEducation).class"
                      >{{ getClassState(classEducation).name }}</div>
                      <!-- <div
                        v-if="getClassState(classEducation.start_date, classEducation.end_date) && getClassState(classEducation.start_date, classEducation.end_date).name && getClassState(classEducation.start_date, classEducation.end_date).class"
                        style="margin-bottom: 3px; margin-right: 3px;"
                        class="nt-barge-dropdown"
                        :class="getClassState(classEducation.start_date, classEducation.end_date).class"
                      >{{ getClassState(classEducation.start_date, classEducation.end_date).name }}</div>-->
                    </template>
                  </td>
                  <td class="nt-class-teacher">
                    <div
                      style="margin-bottom: 3px; margin-right: 3px;"
                      class="nt-barge-dropdown"
                      v-for="(multi_value, indexA) in helpers.getChargePersonValue(listUsers, classEducation.teachers)"
                      :key="indexA"
                    >
                      <template
                        v-if="classEducation && classEducation.teachers && classEducation.teachers.length > 0"
                      >{{multi_value.full_name | truncateWords}}</template>
                    </div>
                  </td>
                  <!-- <td class="nt-class-start-date">{{classEducation.start_date | formatDateTime}}</td>
                  <td class="nt-class-end-date">{{classEducation.end_date | formatDateTime}}</td>
                  <td
                    class="nt-class-start-time"
                  >{{ helpers.formatTime(classEducation.start_time) }}</td>
                  <td class="nt-class-end-time">{{ helpers.formatTime(classEducation.end_time) }}</td>-->
                  <td class="nt-class-address">{{classEducation.address}}</td>
                </tr>
                <tr v-if="listClassOfCustomerDetail.length <= 0">
                  <td colspan="100" class="text-center" style="padding: 20px 0;">
                    <span>Chưa có tình hình học tập nào.</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--   <div v-if="listClassOfCustomerDetail.length <= 0" class="s--not-found">
                    <span>Chưa có tình hình học tập nào.</span>
          </div>-->
          <div
            v-if="listClassOfCustomerDetail.length > 0"
            class="dataTables_paginate paging_simple_numbers m--margin-top-20 d-flex justify-content-end"
          >
            <pagination
              :loader="isLoader"
              :pagination="pagination"
              @paginate="getPaginationListClassOfCustomerDetail"
            ></pagination>
          </div>
        </div>
        <div
          v-if="isLoader"
          style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;background: #ffffff8a;z-index: 12;"
        >
          <div
            class="m-loader m-loader--brand m-loader--lg"
            style="width: 30px; height: 30px; display: inline-block; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%);"
          ></div>
        </div>
      </div>
    </div>
    <learning-situation-customer-detail
      :student="student"
      :is_loading="isLoaderShowLearningSituation"
      @loading_success="isLoadingSuccess"
    ></learning-situation-customer-detail>
  </div>
</template>
