.s-stat-table .s-table__column-value {
  width: 50%;
}

.s-stat-table .m--align-right {
  padding-right: 20px;
}

.s-stat-table .s-table-value-color-line {
  background: #f9f9f9;
  float: right;
  /*padding: 0px 5px;*/
  border-radius: 3px;
  line-height: 21px;
  height: 21px;
  position: relative;
  direction: rtl;
}

.s-stat-table .s-table-value-color-line>span {
  position: absolute;
  right: 5px;
}

.s-stat-table .s-table-value-compare {
  margin-right: -15px;
  float: right;
}

.s-stat-table .s-table-value-compare i {
  font-size: 0.9rem;
}