<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div class="m-portlet m-portlet--mobile nt-info-contact-customer">
    <div class="m-portlet__body" v-cloak>
      <div class="s--customer-header text-right m--margin-bottom-20 float-right">
        <button
          :class="{'nt-button-disabled': detailCustomer.deleted_at}"
          v-if="accessible( userCheckAddOn, 'customer', PERMISSION_ADD_CONTACT, userCurrentPermissions)"
          class="nt-button nt-button-secondary nt-button-small float-right"
          data-toggle="modal"
          data-target="#addCustomerContact"
        >
          <i class="la la-plus"></i> Thêm liên hệ
        </button>
        <button
          v-else
          class="nt-button nt-button-secondary nt-button-small float-right nt-button-not-permisson"
          data-toggle="m-tooltip"
          :data-original-title="titleNotPermisson"
          data-html="true"
        >
          <i class="la la-plus"></i> Thêm liên hệ
        </button>
      </div>
      <div class="dataTables_wrapper">
        <div
          id="table-responsive-data"
          class="table-responsive nt-scroll-primary"
          style="max-height: 450px"
        >
          <table
            class="table table-bordered table-hover s--table s--table-deal-list nt-table-list nt-table-list-all"
          >
            <thead>
              <tr>
                <th class="action" style="width: 68px;">
                  <span class="m--font-boldest">Tác vụ</span>
                </th>
                <th class="full_name">
                  <span class="m--font-boldest">Họ tên</span>
                </th>
                <th class="relationship" style="width: 120px">
                  <span class="m--font-boldest">Mối quan hệ</span>
                </th>
                <th class="email" style="width: 120px">
                  <span class="m--font-boldest">Email</span>
                </th>
                <th class="phone_number" style="width: 120px">
                  <span class="m--font-boldest">Số điện thoại</span>
                </th>
                <th class="address">
                  <span class="m--font-boldest"></span>
                </th>
                <th class="address" style="width: 120px">
                  <span class="m--font-boldest">Địa chỉ</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(contact, index) in customerContacts" :key="index">
                <td class="text-center action">
                  <button
                    class="btn m-btn m-btn--icon m-btn--icon-only m-btn--pill nt-button-hover-primary"
                    aria-expanded="false"
                    aria-haspopup="true"
                    data-toggle="dropdown"
                  >
                    <i class="la la-ellipsis-h"></i>
                  </button>
                  <div class="dropdown-menu">
                    <button
                      :class="{'nt-button-disabled': detailCustomer.deleted_at}"
                      v-if="accessible( userCheckAddOn, 'customer', PERMISSION_UPDATE_CONTACT, userCurrentPermissions)"
                      class="dropdown-item s--cursor-pointer"
                      data-toggle="modal"
                      :data-target="'#editCustomerContact'"
                      @click="getDetailContactAndAssign(contact)"
                    >
                      <i class="icon la icon-edit"></i>Chỉnh sửa
                    </button>
                    <button
                      v-else
                      class="dropdown-item s--cursor-pointer nt-button-not-permisson"
                      data-toggle="m-tooltip"
                      :data-original-title="titleNotPermisson"
                      data-html="true"
                    >
                      <i class="icon la icon-edit"></i>Chỉnh sửa
                    </button>

                    <button
                      :class="{'nt-button-disabled': detailCustomer.deleted_at}"
                      v-if="accessible( userCheckAddOn, 'customer', PERMISSION_DELETE_CONTACT, userCurrentPermissions)"
                      class="dropdown-item s--cursor-pointer"
                      data-toggle="modal"
                      :data-target="'#customerContactDeletedConfirm'"
                      @click="getDetailContact(contact)"
                    >
                      <i class="la icon-trash"></i>
                      Xóa
                    </button>
                    <button
                      v-else
                      class="dropdown-item s--cursor-pointer nt-button-not-permisson"
                      data-toggle="m-tooltip"
                      :data-original-title="titleNotPermisson"
                      data-html="true"
                    >
                      <i class="la icon-trash"></i>
                      Xóa
                    </button>
                  </div>
                </td>
                <td class="full_name" style="max-width: 200px">
                  <a
                    href="javascript:void(0)"
                    data-toggle="modal"
                    data-target="#viewCustomerContact"
                    class="m-link m-link--primary nt-link"
                    @click="getDetailContact(contact)"
                  >
                    {{ contact.full_name }}
                    <i
                      class="fa fa-star nt-color-warning"
                      v-if="contact.is_main_contact === 1"
                    ></i>
                  </a>
                  <!--<p class="is-main-contact" >(Liên hệ chính)</p>-->
                </td>
                <td class="relationship" style="max-width: 200px">{{ contact.relationship }}</td>
                <td class="email" style="max-width: 200px">{{ contact.email }}</td>
                <td class="phone_number" style="max-width: 200px">
                  <span>{{ contact.phone | formatPhone }}</span>
                </td>
                <td class="email">
                  <template v-if="contact.customer_id && contact.customer_id !== ''">
                    <!--<a-->
                    <!--href="javascript:void(0)"-->
                    <!--@click="getCustomerLinkDetail(contact)"-->
                    <!--target="_blank"-->
                    <!--&gt;-->
                    <!--Xem chi tiết-->
                    <!--<i class="icon icon-external-link-01"></i>-->
                    <!--</a> -->
                    <a
                      :href="getRouteLink('customerDetails', {customer_id: contact.customer_id})"
                    >Xem chi tiết</a>
                  </template>
                  <template v-else></template>
                </td>

                <td class="address" style="max-width: 250px">{{ contact.address }}</td>

                <div class="modal fade s--modal-confirm">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">
                            <i class="la la-times"></i>
                          </span>
                        </button>

                        <div class="message text-center">
                          Liên hệ này sẽ làm liên hệ chính thay
                          <span
                            class="m--font-bolder m--font-primary"
                          >Toàn Nguyễn</span>
                        </div>

                        <div class="text-right">
                          <button
                            type="button"
                            class="btn btn-link mr-2 m-btn--custom"
                            data-dismiss="modal"
                          >Hủy bỏ</button>
                          <button
                            class="btn btn-primary m-btn m-btn--custom"
                            data-dismiss="modal"
                          >Đồng ý</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            </tbody>
            <tbody v-if="customerContacts.length <= 0">
              <tr>
                <td colspan="100" class="text-center" style="padding: 20px 0;">Chưa có liên hệ nào.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <DeleteCustomerContact :contact="contact" @deleteContactSuccess="deleteContactSuccess"></DeleteCustomerContact>
      <AddNewCustomerContact @addNewContactCustomerIsSuccess="addNewContactCustomerIsSuccess"></AddNewCustomerContact>
      <ContactView
        :contact="contact"
        @updateCustomerContactIsSuccess="updateCustomerContactIsSuccess"
      ></ContactView>
    </div>
  </div>
</template>
