<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div v-if="attributes && attributes.length > 0">
    <div
      class="form-group m-form__group"
      v-for="(attribute, index) in attributes"
      :key="index"
      :class="{ 'has-danger': errors.has(scope + '.' + attribute.attribute_code) || server_errors[attribute.attribute_code] }"
    >
      <label :for="attribute.attribute_code" class="form-control-label nt-label">
        {{ attribute.attribute_name }}
        <span class="m--font-danger" v-if="attribute.is_required">*</span>
        <template v-if="attribute.attribute_code === 'unit'">
          <i
            class="nt-info-warning fa fa-exclamation"
            data-toggle="m-tooltip"
            :data-original-title="'Lưu ý: Chỉ được chọn đơn vị 1 lần. Sau khi lưu, bạn sẽ không được thay đổi đơn vị của sản phẩm.'"
            data-html="true"
            @mouseover="reloadTooltip()"
          ></i>
        </template>
      </label>

      <template v-if="attribute.attribute_code == 'sku'">
        <s-input-text
          :data-vv-scope="scope"
          v-if="attribute.is_unique"
          v-model="attribute.attribute_value"
          v-validate="{ required: attribute.is_required ? true : false, max: 250, regex: /^[A-Za-z0-9._-]+$/ }"
          :id="attribute.attribute_code"
          :name="attribute.attribute_code"
          @keyup="changeDataInputType(attribute.attribute_code)"
        ></s-input-text>
      </template>

      <template v-else>
        <s-input-text
          :data-vv-scope="scope"
          v-if="attribute.data_type_id == isText"
          v-model="attribute.attribute_value"
          v-validate="{ required: attribute.is_required ? true : false, max: 250 }"
          :id="attribute.attribute_code"
          :name="attribute.attribute_code"
          @keyup="changeDataInputType(attribute.attribute_code)"
        ></s-input-text>

        <s-input-price
          :data-vv-scope="scope"
          v-if="attribute.data_type_id == isPrice"
          v-model="attribute.attribute_value"
          v-validate="{ required: attribute.is_required ? true : false, numeric: true, max: 20 }"
          :id="attribute.attribute_code"
          :check_number="true"
          :name="attribute.attribute_code"
          @keyup="changeDataInputType(attribute.attribute_code)"
        ></s-input-price>

        <s-select
          v-if="attribute.data_type_id == isSelect"
          :data-vv-scope="scope"
          v-model="attribute.attribute_value"
          v-validate="{ required: attribute.is_required ? true : false }"
          :id="attribute.attribute_code"
          :name="attribute.attribute_code"
          :data="attribute.attribute_options"
          :label="'option_value'"
          :disabled="attribute.attribute_code === 'unit' && attribute.attribute_value_cache ? 'disabled' : false"
          @change="changeDataInputType(attribute.attribute_code)"
        ></s-select>

        <s-textarea
          :data-vv-scope="scope"
          v-if="attribute.data_type_id == isTextArea"
          v-model="attribute.attribute_value"
          v-validate="{ required: attribute.is_required ? true : false, max: 1025 }"
          :id="attribute.attribute_code"
          :name="attribute.attribute_code"
          @keyup="changeDataInputType(attribute.attribute_code)"
        ></s-textarea>
      </template>

      <div
        class="form-control-feedback m--font-danger"
        v-if="server_errors != '' && server_errors[attribute.attribute_code]"
      >
        <template
          v-if="server_errors[attribute.attribute_code].exist"
        >{{ attribute.attribute_name }} bị trùng.</template>
        <template
          v-if="server_errors[attribute.attribute_code].not_exist"
        >{{ attribute.attribute_name }} đã bị xóa, vui lòng tải lại trang.</template>
        <template v-else>{{ server_errors[attribute.attribute_code][0] }}</template>
      </div>

      <div
        class="form-control-feedback m--font-danger"
        v-else-if="errors.has(scope + '.' + attribute.attribute_code)"
      >
        <div v-for="(error, indexA) in errors.items" :key="indexA">
          <template v-if="errors.items && errors.items.length > 0">
            <template
              v-if="attribute.attribute_code == error.field && error.rule == 'required'"
            >Không được để trống trường này.</template>

            <template
              v-if="attribute.attribute_code == error.field && error.rule == 'max' && attribute.data_type_id == 1"
            >Giới hạn 250 ký tự.</template>

            <template
              v-if="attribute.attribute_code == error.field && error.rule == 'max' && attribute.data_type_id == 7"
            >Giới hạn 20 ký tự.</template>

            <template
              v-if="attribute.attribute_code == error.field && error.rule == 'max' && attribute.data_type_id == 12"
            >Giới hạn 1025 ký tự.</template>

            <template v-if="attribute.attribute_code == error.field && error.rule == 'regex'">
              <template
                v-if="attribute.attribute_code == 'sku'"
              >{{ attribute.attribute_name }} không được chứa dấu cách, không chứa ký tự có dấu, không chứa ký tự đặc biệt (trừ ký tự . và - và _).</template>
              <template v-else>
                Định dạng
                <span class="text-lowercase">{{ attribute.attribute_name }}</span> không đúng.
              </template>
            </template>

            <template
              v-if="attribute.attribute_code == error.field && error.rule == 'numeric'"
            >Giá chỉ được điền số >= 0.</template>
          </template>
        </div>
      </div>
      <div class="form-control-feedback m--font-danger" v-else>&nbsp;</div>
    </div>
  </div>
</template>
