<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div >
    <div
      class="modal s--modal fade nt--modal-confirm-choice"
      data-backdrop="static"
      data-keyboard="false"
      id="confirmBeforeComposeEmail"
    >
      <div class="modal-dialog" style="max-width: 660px;">
        <div class="modal-content">
          <div class="modal-body">
            <div
              class="nt--modal-confirm-choice-content nt--modal-confirm-choice-content-statistic"
            >
              <h4
                class="nt--modal-confirm-choice-content-title text-center m--margin-bottom-15"
              >Bạn đã lựa chọn:</h4>
              <hr class="nt-hr-pd-20" />
              <div class="nt--modal-confirm-choice-content-list-item m--margin-top-15">
                <div class="row">
                  <div class="col-md-4 nt--modal-confirm-choice-content-item text-center">
                    <h5 class="nt--modal-confirm-choice-content-item-title">Số lượng khách hàng</h5>
                    <h4
                      class="nt--modal-confirm-choice-content-item-count nt-color-warning"
                    >{{ totalCustomers | formatNumberPrice }}</h4>
                  </div>
                  <div class="col-md-4 nt--modal-confirm-choice-content-item text-center">
                    <h5
                      class="nt--modal-confirm-choice-content-item-title"
                    >Số lượng khách hàng có email</h5>
                    <h4
                      class="nt--modal-confirm-choice-content-item-count nt-color-warning"
                    >{{ totalCustomerEmails | formatNumberPrice }}</h4>
                  </div>
                  <div class="col-md-4 nt--modal-confirm-choice-content-item text-center">
                    <h5 class="nt--modal-confirm-choice-content-item-title">Dự kiến email cần dùng</h5>
                    <h4
                      class="nt--modal-confirm-choice-content-item-count nt-color-warning"
                    >{{ totalCustomerEmails | formatNumberPrice }}</h4>
                  </div>
                </div>
              </div>
              <hr class="nt-hr-pd-20 m--margin-top-15 m--margin-bottom-15" v-if="isSendEmail" />
              <div
                class="nt--modal-confirm-choice-content-description text-center"
                v-if="isSendEmail"
              >
                Số lượng email còn lại trong gói không đủ, bạn vui lòng nâng cấp Gói email để tiếp tục. Để nâng cấp Gói email, vui lòng nhấn chọn
                <a
                  target="_blank"
                  :href="idpAddonsUrl"
                  class="m-link m-link--primary nt-link"
                >NÂNG CẤP</a>.
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="nt-button nt-button-secondary nt-button-modal"
              data-dismiss="modal"
            >Hủy bỏ</button>
            <button
              :class="{'nt-button-disabled': isSendEmail || totalCustomerEmails === 0}"
              :disabled="isSendEmail || totalCustomerEmails === 0"
              @click.prevent="composeEmail()"
              type="submit"
              class="nt-button nt-button-warning nt-button-modal"
              data-dismiss="modal"
            >Tiếp theo</button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal s--modal fade s--modal-full"
      data-backdrop="static"
      data-keyboard="false"
      id="composeEmail"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">
              <span>
                <i class="icon icon-email"></i>
              </span>
              Gửi email cho khách hàng
            </h3>
            <button
              type="button"
              class="close modal-close"
              data-dismiss="modal"
              aria-label="Close"
              @click.prevent="cancelComposeEmail()"
            >
              <span aria-hidden="true">
                <i class="la la-times"></i>
              </span>
            </button>
          </div>
          <div class="modal-body p-0" style="max-height: calc(100vh - 60px)">
            <div class="row email-layout m-0">
              <div class="col-md-6 email-info d-flex flex-column" style="padding: 0 10px">
                <div class="row nt-scroll-primary email-info-body m--padding-top-20">
                  <div class="col-md-8 mx-auto">
                    <form class="m-form m-form--state">
                      <div
                        class="form-group m-form__group"
                        :class="{ 'has-danger': errors.has('emailTemplate.title') }"
                      >
                        <label class="form-control-label nt-label">
                          Tiêu đề
                          <span class="m--font-danger">*</span>
                        </label>
                        <s-input-text
                          name="title"
                          data-vv-scope="emailTemplate"
                          v-model="emailTemplate.title"
                          v-validate="{ required: true, max: 250 }"
                          class="form-control"
                        ></s-input-text>
                        <div
                          class="form-control-feedback m--font-danger"
                          v-if="errors.has('emailTemplate.title')"
                        >{{ errors.first('emailTemplate.title') }}</div>
                        <div class="form-control-feedback m--font-danger" v-else>
                          <div
                            class="form-control-feedback m--font-danger"
                            v-if="server_errors != '' && server_errors['title']"
                          >{{ server_errors['title'][0] }}</div>
                          <div v-else>&nbsp;</div>
                        </div>
                      </div>
                      <div class="form-group m-form__group">
                        <label class="form-control-label nt-label">Mẫu email</label>
                        <div class="nt-form-custom-select-infinite-loading">
                          <div
                            aria-expanded="true"
                            m-dropdown-toggle="click"
                            :class="{'m-dropdown--open': isToggleDropdownEmailTemplateList}"
                            class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push"
                          >
                            <a
                              class="m-dropdown__toggle"
                              @click.prevent="showDropdownEmailTemplateList()"
                            >
                              <span
                                v-if="currentEmailTemplate.title"
                              >{{ currentEmailTemplate.title | truncateWords }}</span>
                              <template v-else>Chọn mẫu email</template>
                              <i class="icon icon-down-arrow-1"></i>
                            </a>
                            <div class="m-dropdown__wrapper">
                              <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                  <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                      <li class="m-nav__item">
                                        <a
                                          @click="selectEmailTemplate({})"
                                          class="m-nav__link"
                                          href="javascript:;"
                                        >--Chọn mẫu email--</a>
                                      </li>
                                      <template v-for="(item, index) in emailTemplates">
                                        <li class="m-nav__item" :key="index">
                                          <a
                                            @click="selectEmailTemplate(item)"
                                            class="m-nav__link"
                                            href="javascript:;"
                                          >{{ item.title }}</a>
                                        </li>
                                      </template>
                                    </ul>
                                    <infinite-loading @infinite="loadEmailTemplateList">
                                      <span slot="no-more"></span>
                                      <span slot="no-results"></span>
                                    </infinite-loading>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="nt-email-template-list-dropdown-backdrop"
                          @click="hideDropdownEmailTemplateList()"
                        ></div>
                        <div>&nbsp;</div>
                      </div>
                      <div
                        class="form-group m-form__group"
                        :class="{ 'has-danger': errors.has('emailTemplate.content') || isEmptyContent }"
                      >
                        <label class="form-control-label nt-label">
                          Nội dung
                          <span class="m--font-danger">*</span>
                        </label>
                        <div class="nt-email-template-editor position-relative">
                          <div class="nt-insert-prefix-attribute-code-content">
                            <div
                              v-if="isLoaderAttribute"
                              class="m-loader m-loader--brand d-inline-block w-100"
                            ></div>
                            <div v-else>
                              <select
                                class="form-control nt-select"
                                v-model="attributeCodeCustomer"
                                @change="insertPrefixAttributeCodeForEmailContent()"
                              >
                                <option value disabled="disabled">Chọn trường cần gán</option>
                                <option
                                  :value="attributeCustomer.prefix_attribute_code"
                                  v-for="(attributeCustomer, index) in prefixAttributeCodeCustomer"
                                  :key="index"
                                >{{ attributeCustomer.attribute_name }}</option>
                              </select>
                            </div>
                          </div>
                          <vue-editor
                            ref="vueEditorAddNewEmailTemplateContent"
                            data-vv-scope="emailTemplate"
                            v-validate="{ required: true, max: contentMax }"
                            name="content"
                            v-model="emailTemplate.content"
                            placeholder="Nhập nội dung ở đây"
                            :editorOptions="editorOptions"
                          ></vue-editor>
                          <div
                            id="quillInsertBox"
                            class="border bg-white d-none px-2 py-1 position-absolute align-items-center"
                            style="z-index: 2"
                          >
                            <input
                              type="text"
                              id="quillInput"
                              class="mr-2"
                              placeholder="Thêm điạ chỉ ảnh"
                            />
                            <span class="nt-link" style="cursor: pointer" @click="onAddImage">Lưu</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-8">
                            <div
                              class="form-control-feedback m--font-danger"
                              v-if="errors.has('emailTemplate.content')"
                            >{{ errors.first('emailTemplate.content') }}</div>
                            <div
                              class="form-control-feedback m--font-danger"
                              v-else-if="isEmptyContent"
                            >Không được để trống trường này.</div>
                            <div class="form-control-feedback m--font-danger" v-else>
                              <div
                                class="form-control-feedback m--font-danger"
                                v-if="server_errors != '' && server_errors['content']"
                              >{{ server_errors['content'][0] }}</div>
                              <div v-else>&nbsp;</div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="text-right">
                              <div
                                class="nt-count"
                                v-if="!isEmptyContent && countContent > 0 && contentMax >= countContent"
                              >
                                Còn
                                <span
                                  class="nt-simple-bold"
                                  :class="classTextCountContent"
                                >{{ contentMax - countContent }}</span> ký tự.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="nt-alert nt-alert-secondary m--margin-top-20 m--margin-bottom-20">
                      <div class="nt-simple-bold">Lưu ý</div>
                      <div class="email-notice">
                        <span>1.</span>
                        Để chỉnh sửa thông tin tổ chức xuất hiện trong email (bao gồm logo, số điện thoại, email, địa chỉ), khách hàng truy cập
                        <a
                          target="_blank"
                          :href="idpOrganizationInfo"
                          class="nt-link"
                        >tại đây</a>.
                      </div>
                      <div class="email-notice">
                        <span>2.</span>
                        Sau khi chỉnh sửa thông tin tổ chức, khách hàng nhấn nút dưới đây để xem các thông tin vừa sửa trong mục
                        <b>Xem trước mẫu email</b>.
                      </div>
                      <button class="btn btn-update" @click="updateEmailFrame">
                        <i class="icon icon-arrow-cycle"></i>
                        Cập nhật
                      </button>
                    </div>
                  </div>
                </div>
                <div class="email-footer d-flex justify-content-end">
                  <button
                    data-dismiss="modal"
                    aria-label="Close"
                    class="nt-button nt-button-secondary mr-2"
                    @click.prevent="cancelComposeEmail()"
                  >Hủy bỏ</button>
                  <button
                    :disabled="isDisabled"
                    :class="{'nt-button-disabled' : isDisabled}"
                    @click.prevent="sendEmail('emailTemplate')"
                    type="submit"
                    class="modal-close nt-button nt-button-warning mr-0"
                  >Gửi email</button>
                </div>
              </div>
              <div class="col-md-6 email-preview h-100 nt-scroll-primary" v-if="isShowModal">
                <EmailTemplatePreview ref="emailTemplatePreview" :content="emailTemplate.content" />
              </div>
              <div id="backdrop" class="d-none" @click="onDismiss"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal s--modal fade nt--modal-confirm-choice"
      data-backdrop="static"
      data-keyboard="false"
      id="sendEmailSuccess"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h3 class="nt--modal-confirm-choice-title m--margin-bottom-10">Thông báo</h3>
            <div class="nt--modal-confirm-choice-content">
              <div class="nt--modal-confirm-choice-content-title-bottom">
                Gửi email thành công cho
                <span
                  class="nt-color-warning nt-bold"
                >{{ totalCustomerEmails | formatNumberPrice }}</span> khách hàng.
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="nt-button nt-button-warning nt-button-modal"
              data-dismiss="modal"
              @click="closeModal()"
            >Đóng</button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal s--modal fade nt--modal-confirm-choice"
      data-backdrop="static"
      data-keyboard="false"
      id="sendEmailOutOfQuantity"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h3 class="nt--modal-confirm-choice-title m--margin-bottom-10">Thông báo</h3>
            <div class="nt--modal-confirm-choice-content">
              <div class="nt--modal-confirm-choice-content-title-bottom">
                Số lượng email còn lại trong gói không đủ, bạn vui lòng nâng cấp Gói email để tiếp tục. Để nâng cấp Gói email, vui lòng nhấn chọn
                <a
                  target="_blank"
                  :href="idpAddonsUrl"
                  class="m-link m-link--primary nt-link"
                >NÂNG CẤP</a>.
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="nt-button nt-button-warning nt-button-modal"
              data-dismiss="modal"
              @click="closeModal()"
            >Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
