<script src="./Script.js"></script>

<template>
  <input
    type="text"
    class="form-control"
    v-model.trim="new_value"
    @input="$emit('input', new_value)"
    @blur="$emit('blur', new_value)"
    @keyup="$emit('keyup', new_value )"
    @focus="$emit('focus', new_value)"
  />
</template>
