<style src="./Show.scss" lang="scss" scoped></style>
<script src="./Show.js"></script>

<template>
  <div class="m-content">
    <div
      v-if="isLoaded"
      class="m-loader m-loader--brand m-loader--lg"
      style="width: 30px; height: 30px; display: inline-block;"
    ></div>
    <div class="row" v-else>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <info-tab-head @update_success="updateSuccess"></info-tab-head>
          </div>
          <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm m-portlet--tabs mb-0 nt-settings-switchtab">
              <div class="m-portlet__head nt-background-footer nt-switch-tab-head">
                <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary" role="tablist">
                  <li class="nav-item m-tabs__item">
                    <router-link
                      active-class="active"
                      :to="{ name: 'DealProductInfo' }"
                      exact
                      class="nav-link m-tabs__link"
                    >
                      <i class="icon icon-info nt-settings-switchtab-icon"></i>
                      <span class="nt-settings-switchtab-text">Thông tin sản phẩm</span>
                    </router-link>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <router-link
                      active-class="active"
                      :to="{ name: 'DealInfoAdvanced' }"
                      class="nav-link m-tabs__link"
                    >
                      <i class="icon icon-information nt-settings-switchtab-icon"></i>
                      <span class="nt-settings-switchtab-text">Thông tin mở rộng</span>
                    </router-link>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <router-link
                      active-class="active"
                      :to="{ name: 'DealPaymentHistory' }"
                      class="nav-link m-tabs__link"
                    >
                      <i class="icon icon-counterclockwise nt-settings-switchtab-icon"></i>
                      <span class="nt-settings-switchtab-text">Lịch sử thanh toán</span>
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
            <div class="nt-switch-tab-wrapper">
              <router-view></router-view>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="m-portlet m-portlet--tabs s--portlet-tabs-customer-show nt-switch-tab">
          <div class="m-portlet__head nt-switch-tab-head">
            <div class="m-portlet__head-tools">
              <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary" role="tablist">
                <li class="nav-item m-tabs__item nt-switch-tab-item">
                  <a
                    class="nav-link m-tabs__link active show nt-switch-tab-text"
                    data-toggle="tab"
                    href="#tabnote"
                    role="tab"
                    aria-selected="true"
                  >
                    <i class="icon icon-writing nt-switch-tab-icon"></i> Ghi chú
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="tab-content">
              <div id="tabnote" class="tab-pane active show" role="tabpanel">
                <note
                  :type="2"
                  :object_id="dealId"
                  :permission_service="'deal'"
                  :permission_action="PERMISSION_ADD_NOTE_DEAL"
                ></note>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <add-new-payment></add-new-payment>
    <view-payment></view-payment>

    <div
      data-backdrop="static"
      data-keyboard="false"
      class="modal s--modal fade nt--modal-confirm-choice"
      id="server_change_data"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!--<h3 class="nt&#45;&#45;modal-confirm-choice-title">-->
            <!--Thông báo-->
            <!--</h3>-->
            <div class="nt--modal-confirm-choice-content">
              <div class="nt--modal-confirm-choice-content-title-top">
                Dữ liệu thay đổi
                <br />Vui lòng tải lại trang
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              class="nt-button nt-button-warning mr-0"
              data-dismiss="modal"
              aria-label="Close"
              @click.prevent="reloadPage()"
            >Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
