<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Show.js"></script>

<template>
  <div class="m-content">
    <div
      v-if="!isLoaded"
      class="m-loader m-loader--brand m-loader--lg"
      style="width: 30px; height: 30px; display: inline-block;"
    ></div>
    <div class="row" v-else>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12" :class="{ 'disabled d-none d-md-block': isReorder }">
            <info-tab-head
              v-if="isLoaded"
              :loading_upload="isLoading"
              :server_errors="server_errors"
              @after_updated="afterUpdated"
              @update_success="updateSuccess"
            ></info-tab-head>
          </div>
          <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm m-portlet--tabs mb-0 nt-settings-switchtab">
              <div class="m-portlet__head nt-background-footer nt-switch-tab-head">
                <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary" role="tablist">
                  <li
                    class="nav-item m-tabs__item nt-tabs-item"
                    :class="{ 'nt-tabs-item-validate-error': countErrorBasicCustomerInfo > 0}"
                  >
                    <router-link
                      active-class="active"
                      :to="{ name: 'InfoBasic', query: { reorder: isReorder } }"
                      exact
                      class="nav-link m-tabs__link"
                      :class="[$route.name === 'InfoBasic' ? 'active router-link-active' : '']"
                      @click.native="changeUpdateAttributes"
                    >
                      <i class="icon icon-info nt-settings-switchtab-icon"></i>
                      <span class="nt-settings-switchtab-text">Thông tin chung</span>
                      <template v-if="countErrorBasicCustomerInfo > 0">
                        <i
                          class="fa fa-exclamation-triangle ml-2 nt-color-active"
                          data-toggle="m-tooltip"
                          data-original-title="Chưa hoàn tất chỉnh sửa."
                          data-html="true"
                          @mouseover="reloadTooltip()"
                        ></i>
                      </template>
                    </router-link>
                  </li>
                  <li
                    class="nav-item m-tabs__item nt-tabs-item"
                    :class="{ 'nt-tabs-item-validate-error': countErrorBuyerCustomerInfo > 0}"
                  >
                    <router-link
                      active-class="active"
                      :to="{ name: 'InfoCustomerBuy', query: { reorder: isReorder } }"
                      exact
                      class="nav-link m-tabs__link"
                      @click.native="changeUpdateAttributes"
                    >
                      <i class="icon icon-favorites nt-settings-switchtab-icon"></i>
                      <span class="nt-settings-switchtab-text">Thông tin khi là người mua hàng</span>
                      <template v-if="countErrorBuyerCustomerInfo > 0">
                        <i
                          class="fa fa-exclamation-triangle ml-2 nt-color-active"
                          data-toggle="m-tooltip"
                          data-original-title="Chưa hoàn tất chỉnh sửa."
                          data-html="true"
                          @mouseover="reloadTooltip()"
                        ></i>
                      </template>
                    </router-link>
                  </li>
                  <li
                    class="nav-item m-tabs__item nt-tabs-item"
                    :class="{ 'nt-tabs-item-validate-error': countErrorUsedCustomerInfo > 0}"
                  >
                    <router-link
                      active-class="active"
                      :to="{ name: 'InfoCustomerUse', query: { reorder: isReorder } }"
                      exact
                      class="nav-link m-tabs__link"
                      @click.native="changeUpdateAttributes"
                    >
                      <i class="icon icon-add-contact nt-settings-switchtab-icon"></i>
                      <span class="nt-settings-switchtab-text">Thông tin khi là người sử dụng cuối</span>
                      <template v-if="countErrorUsedCustomerInfo > 0">
                        <i
                          class="fa fa-exclamation-triangle ml-2 nt-color-active"
                          data-toggle="m-tooltip"
                          data-original-title="Chưa hoàn tất chỉnh sửa."
                          data-html="true"
                          @mouseover="reloadTooltip()"
                        ></i>
                      </template>
                    </router-link>
                  </li>
                  <li
                    class="nav-item m-tabs__item"
                    :class="{ 'disabled d-none d-md-block': isReorder }"
                  >
                    <router-link
                      active-class="active"
                      :to="{ name: 'InfoCustomerDeals' }"
                      exact
                      class="nav-link m-tabs__link"
                    >
                      <i class="icon icon-purchases-01 nt-settings-switchtab-icon"></i>
                      <span class="nt-settings-switchtab-text">Giao dịch</span>
                    </router-link>
                  </li>
                  <li
                    class="nav-item m-tabs__item"
                    :class="{ 'disabled d-none d-md-block': isReorder }"
                  >
                    <router-link
                      active-class="active"
                      :to="{ name: 'InfoContacts' }"
                      exact
                      class="nav-link m-tabs__link"
                    >
                      <i class="icon icon-user-1 nt-settings-switchtab-icon"></i>
                      <span class="nt-settings-switchtab-text">Liên hệ</span>
                    </router-link>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <router-link
                      active-class="active"
                      :to="{ name: 'ListClassOfCustomerDetail' }"
                      exact
                      class="nav-link m-tabs__link"
                      v-if="isShowTabClass && accessible( userCheckAddOn, 'education', null)"
                    >
                      <i class="icon icon-book-2 nt-settings-switchtab-icon"></i>
                      <span class="nt-settings-switchtab-text">Tình hình học tập</span>
                    </router-link>
                    <a
                      v-else
                      href="javascript:;"
                      class="nav-link m-tabs__link"
                      data-toggle="m-tooltip"
                      :data-original-title="titleNotPermisson"
                      data-html="true"
                    >
                      <i class="icon icon-book-2 nt-settings-switchtab-icon"></i>
                      <span class="nt-settings-switchtab-text">Tình hình học tập</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="nt-switch-tab-wrapper">
              <router-view :server_errors="server_errors"></router-view>
            </div>
            <div class="portlet__foot d-flex justify-content-end" v-if="isReorder">
              <button type="button" class="nt-button" @click="onCancelReorder">Huỷ bỏ</button>
              <vue-ladda
                type="button"
                button-class="nt_btn nt-button nt-button-warning mr-0"
                :loading="isLoadingReorder"
                @click="onUpdateConfig(true)"
              >Lưu lại</vue-ladda>
            </div>

            <div
              class="portlet__foot d-flex nt-portlet-foot-edit"
              v-if="isCountAttributeChange > 0"
            >
              <div class="nt-portlet-foot-edit-actions d-flex align-items-center">
                <button
                  type="button mr-2"
                  class="nt-button"
                  @click.prevent="cancelUpdateCustomerDetails()"
                >Huỷ bỏ</button>
                <button
                  type="button"
                  class="nt-button nt-button-warning mr-0"
                  :disabled="isDisabled"
                  :class="{ 'nt-button-disabled':  isDisabled}"
                  @click.prevent="updateCustomerDetails('editCustomer')"
                >Lưu lại</button>
              </div>
              <div
                class="nt-portlet-foot-edit-info"
              >Bạn đã thay đổi {{ isCountAttributeChange }} trường thông tin</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" :class="{ 'disabled d-none d-md-block': isReorder }">
        <div class="m-portlet m-portlet--tabs s--portlet-tabs-customer-show nt-switch-tab">
          <div class="m-portlet__head nt-switch-tab-head">
            <div class="m-portlet__head-tools">
              <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary" role="tablist">
                <li class="nav-item m-tabs__item nt-switch-tab-item">
                  <a
                    class="nav-link m-tabs__link active show nt-switch-tab-text"
                    data-toggle="tab"
                    href="#tabnote"
                    role="tab"
                    aria-selected="true"
                  >
                    <i class="icon icon-writing nt-switch-tab-icon"></i> Ghi chú
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="tab-content">
              <div id="tabnote" class="tab-pane active show" role="tabpanel">
                <note
                  :type="0"
                  :object_id="customerId"
                  :permission_service="'customer'"
                  :permission_action="PERMISSION_ADD_NOTE_CUSTOMER"
                  :deleted_at="detailCustomer.deleted_at"
                  :modal_trash_id="'messageTrashCustomer'"
                ></note>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <message-trash-customer></message-trash-customer>
    <div
      class="modal s--modal fade nt--modal-confirm-choice"
      data-backdrop="static"
      data-keyboard="false"
      id="messageUpdateError"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="nt--modal-confirm-choice-content">
              <div
                class="nt--modal-confirm-choice-content-title-top"
              >Cập nhật khách hàng không thành công.</div>
              <div
                class="nt--modal-confirm-choice-content-title-bottom"
              >Admin đã thay đổi dữ liệu. Vui lòng tải lại trang.</div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              @click.prevent="reloadPage()"
              type="submit"
              class="nt-button nt-button-warning nt-button-modal"
              data-dismiss="modal"
            >Đóng</button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal s--modal fade nt--modal-confirm-choice"
      data-backdrop="static"
      data-keyboard="false"
      id="restoreCustomer"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="nt--modal-confirm-choice-content">
              <div class="nt--modal-confirm-choice-content-title-top">
                Phục hồi khách hàng
                <span
                  class="nt-color-warning"
                >{{ helpers.getAttributeByAttrCodeAndVariableName(detailCustomer, 'full_name', 'attribute_value') }}</span>?
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="nt-button nt-button-secondary nt-button-modal"
              data-dismiss="modal"
            >Hủy bỏ</button>
            <button
              @click.prevent="restore()"
              type="submit"
              class="nt-button nt-button-warning nt-button-modal"
              data-dismiss="modal"
            >Đồng ý</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
