.portlet__foot {
  padding: 10px 20px;
  background: #F4F5F9;
  margin-top: -20px;
  box-shadow: 0px 0px 10px rgba(68, 79, 120, 0.15);
  border-top: 1px solid #ebedf2
}

.nt-portlet-foot-edit {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1001;
  left: 0;

  .nt-portlet-foot-edit-actions {
    @media(max-width: 767px) {
      margin-bottom: 5px;
    }
  }

  @media(max-width: 767px) {
    flex-direction: column;

    .nt-button-warning {
      margin: 10px 0;
    }
  }

  .nt-portlet-foot-edit-info {
    display: flex;
    align-items: center;
    margin-left: .5rem;

    @media(max-width: 767px) {
      margin-left: 0;
    }
  }
}

.disabled {
  opacity: .4;
}

.m-portlet--tabs .m-tabs-line .m-tabs__item {
  margin-right: 0;

  &.nt-tabs-item-validate-error {
    background-color: #F8EAEC;
  }
}

.nt-settings-switchtab .m-tabs__item>a {
  padding: 12px 10px 15px;
  border-radius: inherit;
}