table.s--table-deal-list .deal-status-open {
  color: #ffb822;
}

table.s--table-deal-list .deal-status-success {
  color: #34bfa3;
}

table.s--table-deal-list .deal-status-cancel {
  color: #b33a00;
}

table.s--table-deal-list .total_transaction_amount {
  text-align: right;
}

table.s--table-deal-list .total_transaction_amount .d-inline-block {
  float: right !important;
}

table .collapse {
  &:hover {
    background-color: transparent;
  }
}

.deal-group-collapse {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  margin-right: 5px;
  background-color: #f4f5f9;
  border: 1px solid #ccd2e2;
  color: #444f78;
  border-radius: 4px;

  i {
    font-size: 10px;
    font-weight: bold;
    color: #444f78;

    &:before {
      content: "\f113";
    }
  }

  &.collapsed {
    i {
      &:before {
        content: "\f110";
      }
    }
  }
}