<style src="./Style.scss" lang="scss" scoped></style>
<script src="./Script.js"></script>

<template>
  <div>
    <div class="modal s--modal fade nt--modal-confirm-choice" :id="id">
      <div class="modal-dialog" style="max-width: 400px;">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Chi tiết ghi chú gần nhất</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="la la-times"></i>
              </span>
            </button>
          </div>
          <div class="modal-body">
            <div class="nt_modal-content" v-html="content"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>