<script src="./Script.js"></script>

<template>
  <div>
    <div
      class="modal s--modal fade nt--modal-confirm-choice"
      data-backdrop="static"
      data-keyboard="false"
      id="blockAccountEdu"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!--<h3 class="nt&#45;&#45;modal-confirm-choice-title">-->
            <!--Thông báo-->
            <!--</h3>-->
            <div class="nt--modal-confirm-choice-content">
              <div class="nt--modal-confirm-choice-content-title-top">
                Khóa hoạt động tài khoản sử dụng Nỏ Thần trên điện thoại của khách hàng
                <span class="nt-color-warning">{{ student_name }}</span> ?
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="nt-button nt-button-secondary nt-button-modal"
              data-dismiss="modal"
            >Hủy bỏ</button>
            <button
              type="submit"
              class="nt-button nt-button-warning nt-button-modal"
              data-dismiss="modal"
              @click.prevent="blockAcountStudent()"
            >Đồng ý</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
